<style>
 input[type=checkbox], input[type=radio] {
    opacity: 1;
    height: 14px;
    width: 14px;
 }
 .sol-selection-container {
    top: 458px;
    left: 659px !important;
    width: 263px;
 }
 .sol-input-container, .sol-caret-container {
     background: white;
 }
</style> 


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Users</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li ng-class="{'hide': profile.type!='admin'}">
                <a ui-sref="users">Users</a>
            </li>
            <li class="active" ng-if="!user.id">
                <strong>New User</strong>
            </li>
            <li class="active" ng-if="user.id">
                <strong>Edit User</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

    <flash-message></flash-message>

<div class="wrapper wrapper-content animated fadeInRight">

<div class="row">
<div class="col-lg-12">
<div class="ibox float-e-margins">
<div class="ibox-title" ng-if="!user.id">
    <h5>Add a New User</h5>
    <div ibox-tools></div>
</div>
<div class="ibox-title" ng-if="user.id">
    <h5>Edit User id</h5>
    <div ibox-tools></div>
</div>
<div class="ibox-content">
    <form method="get" class="form-horizontal" id="user_form" data-parsely-validate>
        <div class="form-group"><label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="user.name" ng-readonly="readonly" data-required="true">
            </div>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="form-group"><label class="col-sm-2 control-label">User Name</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="user.username" data-parsley-required="true"  ng-readonly="readonly">
            </div>
        </div>        
        <div ng-if="user.id">
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">Change Password</label>

                <div class="col-sm-3">
                    <input type="password" id="password" class="form-control" ng-model="user.password">
                </div>
            </div>        
            <div class="hr-line-dashed"></div>


            <div class="form-group"><label class="col-sm-2 control-label">Confirm Password</label>

                <div class="col-sm-3">
                    <input type="password" class="form-control" id="cpassword"  ng-model="user.cpassword" data-parsley-trigger="keyup" data-parsley-equalto="#password" data-parsley-equalto-message="Please enter same password.">
                </div>
            </div>
        </div>
        <div ng-if="!user.id">
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">Password</label>

                <div class="col-sm-3">
                    <input type="password" id="password" class="form-control" ng-model="user.password"  data-parsley-required="true">
                </div>
            </div>        
            <div class="hr-line-dashed"></div>


            <div class="form-group"><label class="col-sm-2 control-label">Confirm Password</label>

                <div class="col-sm-3">
                    <input type="password" class="form-control" id="cpassword"  ng-model="user.cpassword" data-parsley-trigger="keyup" data-parsley-required="true" data-parsley-equalto="#password" data-parsley-equalto-message="Please enter same password.">
                </div>
            </div>
        </div>
        <div class="hr-line-dashed"></div>


       <div class="form-group"><label class="col-sm-2 control-label">Phone</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" ng-model="user.phone" data-required="true" ng-readonly="readonly">
                </div>
        </div>
        <div class="hr-line-dashed"></div>


       <div class="form-group"><label class="col-sm-2 control-label">Email</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="user.email" data-required="true" ng-readonly="readonly">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        
         <div class="form-group"><label class="col-sm-2 control-label">Manager Email </label>

            <div class="col-sm-3">
                <input type="emails" multiple="true" class="form-control" ng-model="user.manageremail" remove-ng-email-validation>
            </div>
        </div>
        <div class="form-group" ng-if="profile.type == 'manager1' || profile.type == 'manager2'">
                <label class="col-sm-2 control-label">Your Staff</label>
            <div class="col-sm-3">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Select
                </button>
            </div>
        </div>

        <div class="hr-line-dashed" ng-class="{'hide': profile.type!='admin'}"></div>
        
         <div class="form-group" ng-class="{'hide': profile.type!='admin'}"><label class="col-sm-2 control-label" style="padding-top: 3px;">Finance only</label>

            <div class="col-sm-3">
                <input type="checkbox" name="financeonly" class="form-control" ng-model="user.financeonly" ng-readonly="readonly" style="opacity: 1; cursor: default;" ng-checked="user.financeonly == 1 ? true : false">
            </div>
        </div>

        <div class="hr-line-dashed" ng-if="!readonly"></div>

        <div ng-if="!readonly">
            <div class="form-group"><label class="col-sm-2 control-label">Type</label>
            <div class="col-sm-5">
                <input type="radio" name="type" value="user" ng-model="user.type" ng-selected="user.type=='user'" required="true" style="opacity: 1" class="ng-pristine ng-valid ng-not-empty ng-valid-required ng-touched"><span style="padding-left: 20px;">User</span><br>
                <input type="radio" name="type" value="admin" ng-model="user.type" ng-selected="user.type=='admin'" required="true" style="opacity: 1" class="ng-pristine ng-valid ng-not-empty ng-valid-required ng-touched"><span style="padding-left: 20px;">Admin</span><br>
                <input type="radio" name="type" value="manager1" ng-model="user.type" ng-selected="user.type=='manager1'" required="true" style="opacity: 1" class="ng-pristine ng-valid ng-not-empty ng-valid-required ng-touched"><span style="padding-left: 20px;">Manager Level 1 (View proposals and forms)</span><br>
                <input type="radio" name="type" value="manager2" ng-model="user.type" ng-selected="user.type=='manager2'" required="true" style="opacity: 1" class="ng-pristine ng-valid ng-not-empty ng-valid-required ng-touched"><span style="padding-left: 20px;">Manager Level 2 (View proposals only)</span><br>
                <input type="radio" name="type" value="technician" ng-model="user.type" ng-selected="user.type=='technician'" required="true" style="opacity: 1" class="ng-pristine ng-valid ng-not-empty ng-valid-required ng-touched"><span style="padding-left: 20px;">Technivian</span><br>
                <input type="radio" name="type" value="alarm_monitor" ng-model="user.type" ng-selected="user.type=='alarm_monitor'" required="true" style="opacity: 1" class="ng-pristine ng-valid ng-not-empty ng-valid-required ng-touched"><span style="padding-left: 20px;">Alarm_monitor</span><br>
            </div>
        </div>
        </div>

        <div class="hr-line-dashed"></div>
         <div class="form-group"><label class="col-sm-2 control-label">Signature</label>
            <div class="col-sm-3">     
               <div><i class='fa fa-refresh' ng-click="clearSg()"></i></div>
               <img src="{{user.sign}}" ng-show="!noSign">
               <div id='userSign' ng-show="noSign"></div>                        
            </div> 
         </div>        
        <div class="hr-line-dashed"></div>

        <div class="form-group"><label class="col-sm-2 control-label"></label>

            <div class="col-sm-3">
                <a class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Save"  ng-click="save()">
                    <i class="fa fa-new"></i> Save
                </a>
                <a ng-href="{{profile.type=='admin' ? '#/users' : '#/forms'}}" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Cancel">
                    <i class="fa fa-new"></i> Cancel
                </a>
            </div>
        </div>
    </form>
</div>
</div>
</div>
</div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Select your staff</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -15px;">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6" ng-repeat="(index, alluser) in allUsers.staffs track by $index">
                    <input type="checkbox" class="" name="atest" value="{{alluser.status}}" ng-model="staff" id="boxstaff-{{alluser.staff_id}}" ng-click="pickstaff(alluser.staff_id);" ng-checked="alluser.status =='1'"> <div style="padding-left: 20px;">{{alluser.name}}</div><br> 
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
        </div>
        </div>
    </div>
</div>
