<style>
.chartjs-render-monitor {
    height: 485px !important;
}
.highcharts-credits {
    display: none;
}
.display>.dropdown-user-menu {
    visibility: visible;
}
.dropdown-user-menu {
    visibility: hidden;
    left: -92px;
    width: 204px;
    text-align: left;
    padding: 10px;
    max-height: 400px;
    overflow-x: hidden;
    background: white;
    overflow-y: auto;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
    list-style: none outside none;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 1000;
    border-radius: 2px;
}
input[type=checkbox] {
    opacity: 1;
    position: relative;
    margin: 0;
    height: 15px;
    width: 15px;
}
.p-a {
    position: absolute;
}
.year-dropdown {
    width: 100px;
    height: 30px !important;
    border-radius: 4px !important;
}
.card.border-left-blue.shadow {
    height: 115px;
}
.pl-2 {
    padding-left: 20px;
}
</style>

<link rel="canonical" href="https://startbootstrap.com/previews/sb-admin-2/">

<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-6jHF7Z3XI3fF4XZixAuSu0gGKrXwoX/w3uFPxC56OtjChio7wtTGJWRW53Nhx6Ev" crossorigin="anonymous"> -->

<!-- <link rel="stylesheet" href="/assets/style-theme.css"> -->
<link rel="stylesheet" href="/assets/js/datatables.bootstrap.css">
<link rel="stylesheet" href="/assets/css/dashboard.statistics.css">
<link rel="stylesheet" type="text/css" href="/assets/js/buttons.datatables.min.css"/>
<div class="row wrapper border-bottom white-transparent page-heading">
  <div class="container">
      <div class="row">
        <h2 class="pl-2">Dashboard</h2>
      </div>
      <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Number of Proposals for the year {{dashboardData.yr}}</div>
                </div>
                <div class="row no-gutters align-items-center">
                    <div class="col-md-10 mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Draft: {{dashboardData.draftProposals}}</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Completed: {{dashboardData.completedProposals}}</div>
                    </div>
                    <div class="col-md-2">
                            <i class="fa fa-briefcase fa-3x text-gray-300"></i>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-blue shadow py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Number of Forms for the year {{dashboardData.yr}}</div>
                </div>
                <div class="row no-gutters align-items-center">
                    <div class="col-md-10 mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Draft: {{dashboardData.draftForms}}</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Completed: {{dashboardData.completedForms}}</div>
                    </div>
                    <div class="col-md-2">
                            <i class="fa fa-money fa-3x text-gray-300"></i>
                    </div>
                </div>
            </div>
            </div>
        </div>
      </div>
  </div>
  <div class="container">
        <div class="row my-3">
            <div class="col">
                <h3 class="pl-2">Sales Chart</h3>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-md-12">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                    <div class="align-left p-a">
                        <select class="year-dropdown" id="year-dropdown">
                            <option value="2020" id="opt-2020">2020</option>
                            <option value="2019" id="opt-2019">2019</option>
                        </select>
                    </div>
                    <div class=" align-right">
                      <!-- Example single danger button -->
                        <div class="btn-group open">
                            <button type="button" class="pr-1 btn btn-primary" aria-expanded="false" ng-click="viewuserchart();" >
                                View
                            </button>
                            <a type="button" class="btn btn-danger aria-haspopup="true" aria-expanded="false" ng-click="show();">
                                Select
                            </a>
                            <div class="dropdown-user-menu">
                                <ul>
                                    <li ng-repeat="(index, user) in dashboardData.users track by $index">
                                        <input type="checkbox" class="" id="userDropdownList-{{user.id}}" value="{{user.id}}" name="userDropdownList[{{user.id}}]" ng-click="userlist(user.id);"> 
                                       {{ user.name }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                    <div class="chart-area" style="height: 482px">
                        <!-- <canvas id="myAreaChart" style="height: 260px;"></canvas> -->
                        <!-- <canvas id="speedChart" style="height: 400px;" width="600" height="400"></canvas> -->
                        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <flash-message></flash-message> -->
</div>
</div>
<script src="/assets/js/highchart/highcharts.js"></script>
<script src="/assets/js/highchart/exporting.js"></script>
<script src="/assets/js/highchart/export-data.js"></script>

<script>
    $(document).on('click.bs.dropdown.data-api', '.dropdown.keep-inside-clicks-open', function (e) {
        e.stopPropagation();
    });

    

</script>