<style>
pt-5 {
    padding-top: 5rem;
}
 .sidebar-collapse.navbar-static-side, .navbar.navbar-static-top, .footer, #form-save-btn {
    display: none;
}
@media (min-width: 768px) {
    #page-wrapper {
        margin: 0 !important;
    }
}
.content {
    margin: 15%;
    background-color: #ffffffcf;
    color: black;
    text-align: center;
    height: 200px;
}
</style>
<div class="content">
    <br>
    <br>
    <br>
    <h1 class="pt-5"><b>Thank You!</b></h1>
</div>