<style>
    @page {
        sheet-size : A4;
        margin: 4%;   
        odd-footer-name: html_pagesFooter;
    }           
    
    div.pages {
        page: pages;
    } 
</style> 
<link href = "assets/css/form.css" rel='stylesheet' type='text/css'>
<div class="preview-{{index}}" ng-repeat="(index, item) in items['fibre'] track by $index">
    <div class ="pageBreaker">
        <table style="width:100%">
            <tr>
                <td colspan="2"><img  width = 250 height = 70 src ="assets/images/logo.png" ></td>
                <td colspan="3" class="cardTitle">NEXGEN DATA RATE CARD</td>
            </tr>
            <tr>
                <td colspan="5"> </td>
            </tr>
            <tr>
                <td colspan="5" class="planTitle">Fibre Unlimited Plan</td>  
            </tr>
            <tr class="plan-row">
                <td colspan="5" class="planCategory">{{cloudData.comLocation['fibre'][index]}},{{cloudData.comSuburb['fibre'][index]}},{{postcode=cloudData.comZipCode['fibre'][index]}}</td>
            </tr>
            <tr class="plan-row">
                <td colspan="4" class="planItem"><b>{{cloudData.fibreUtPlans[index].description}}</b></td>
                <td colspan="1" class="planItem"><b>${{roundVal(cloudData.fibreUtPlans[index].price)}}</b></td>
            </tr>   
            <tr ng-if="cloudData.fibreUtPlans[index].price==758">
                <td colspan="4" class="planItem"><b>Installation fee for 400/400Mbps<br />(Does not include Modem supply or configuration)</b></td>
                <td colspan="1" class="planItem"><b>$2299.00</b></td>
            </tr>
            <tr>
                <td colspan="5" class="planTitle">Minimum Monthly Charges / Discounts</td>  
            </tr>
            <tr>
                <td class="discountField">Ethernet Plan Fee</td>
                <td class="discountItem"><b>${{roundVal(cloudData.fibreUtPlans[index].price)}}</b></td>
                <td class="discountField">Plan Discount</td>
                <td class="discountItem"><b>${{roundVal(cloudData.fibreDis[index])}}</b></td>
                <td class="discountField"></td>
            </tr> 
            <tr>
                <td class="discountField"></td>
                <td class="discountItem"></td>
                <td class="discountField"></td>
                <td class="discountItem"></td>
                <td class="discountField" style="text-align:center;border : 1px solid white;border-bottom: 1px solid black">Term</td>
            </tr>   
            <tr>
                <td class="discountField">Total Plan Fees</td>
                <td class="discountItem"><b>${{roundVal(fibre.totalFee[index])}}</b></td>
                <td class="discountField">Total Discount</td>
                <td class="discountItem"><b>${{roundVal(fibre.discount[index])}}</b></td>
                <td class="discountField" style="text-align:center;border : 1px solid white;border-top: 1px solid black">{{cloudData.aBillingTerm}} months</td>
            </tr>        
        </table>
        <p class="TAC">
            <b>Fibre Unlimited Terms and Conditions</b><br />
            All Prices exclude GST. <b>Minimum term on all FIBRE plans listed above is 36months.  Discounts  above will expire at the term of the  agreement. The services noted are to be used in single end point. This service cannot be used for aggregation,and is not available to any data centres. Eline is only available to intrastate b-end, IP restrictions may apply.</b> Nexgen deems one (1) Gigabyte to be equivalent to 1024 Megabytes. <b>Relocation of service(s) is dependent on coverage availability. Relocation fees will be charged at $4999. Fibre</b> is available in selected coverage areas only and is dependent on the access technology. Fibre speeds advertised above are an Up to speed. Nexgen provides 5 emails at $0. Any additional emails supplied can be purchased at $10 per month per 5 users. This can only be purchased in 5 user blocks. Nexgen Australia will provide a Mail box space of a 100MB. Nexgen static IP defaults at one per client. Additional static IP's are charged at $8 per IP per month. <b>Nexgen  Australia will deliver the service to the site only. Your IT person is required to complete the connection of the service at your site, and the customer is liable for all and any charges associated with the use of their IT person.</b> The supply of Modems, Routers or switches  will incur additional charges. Nexgen are not responsible for the management of the modem/router on site and is the customers responsibility. <b>The delivery of the above services is subject to capacity and infrastructure. Order withdrawals will incur a cost; Pre logical design will inncur a cost of $99. Post Logical design will incur a cost of $599.</b> Post physical design $4599. Early Termination Fees apply. Please refer to clause 15.5 of the Nexgen Application and  www.nexgen.com.au for full Terms and Conditions. Delivery time frames for this service is  up to 40 Business Days. 
        </p>
        <htmlpagefooter name='pagesFooter'>   
            <ng-include src="'templates/cloud/card_footer.html'" ng-init="location=cloudData.comLocation['fibre'][index];suburb=cloudData.comSuburb['fibre'][index];postcode=cloudData.comZipCode['fibre'][index]"></ng-include>
        </htmlpagefooter>
    </div>
</div>