 <style>
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
</style>

<div class="loading" ng-show="loading">
    <img src="/assets/images/Preloader_3.gif"> 
</div>
<link rel="stylesheet" href="/assets/js/datatables.bootstrap.css">
<link rel="stylesheet" type="text/css" href="/assets/js/buttons.datatables.min.css"/>
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Cloud</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>View-Cloud</strong>
                </li>
            </ol>
    </div> 
  </div>

  <flash-message></flash-message>

  <div class="wrapper wrapper-content animated fadeInRight">
   <div class="row">
    <div class="col-lg-12">
     <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Cloud List</h5>
        </div>

    
        <div class="ibox-content">
     <table class="table table-striped table-bordered" name="addresses" id="addresses" datatable="ng" dt-options="vmf.dtOptions" dt-instance="vmf.dtInstance" width="100%" dt-column-defs="vmf.dtColumnDefs">
        <thead>
          <tr>
            <th>No</th>
            <th>User</th>
            <th>Company</th>
            <th>Date Created</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(index,cloud) in clouds">
            <td style="width :2%">{{index+1}}</td> 
            <td style="width :20%"><b>Sales Rep:-</b> {{cloud.creator_name}}</td> 
            <td style="width :20%">{{cloud.data.cName}}</td>
            <td style="width :10%">{{cloud.created_at}}</td>
            <td style="width :3%">{{cloud.status}}</td>
            
            <td style="width :20%"> 
                <div class="ibox-tools dropdown form-tools">
                    <a ng-if="cloud.status=='Completed'" ng-click="downloadForms(cloud.id)"><i class="fa fa-download fa-2x"></i></a>
                    <a  ng-click="edit(cloud.id)"><i class="fa fa-pencil fa-2x"></i></a>
                    <a ng-click="delete(cloud.id)"><i class="fa fa-trash-o fa-2x"></i></a> 
                </div>
            </td>
          </tr>
        </tbody>
      </table>

  <div class="container">

</div>
        </div>
     </div> 
    </div>
   </div>
  </div>
