<link rel="stylesheet" href="/assets/js/datatables.bootstrap.css">
<link rel="stylesheet" type="text/css" href="/assets/js/buttons.datatables.min.css"/>
<h1>Service Qualification Response</h1>

 <p align="right"><button class="inline btn btn-success close-this-dialog" ng-click="closeThisDialog()">Close</button></p>

<form name="addressForm">
<!-- <table  width="100%" class="table table-striped table-condensed table-hover">
    <thead>
            
            <tr>
                <th class="no" custom-sort order="'index'" sort="sort">No</th>
                <th class="id" custom-sort order="'id'" sort="sort">ID</th>
                <th class="result" custom-sort order="'qualificationResult'" sort="sort">Result</th>
                <th class="method" custom-sort order="'accessMethod'" sort="sort">Method</th>
                <th class="type" custom-sort order="'accessType'" sort="sort">Type</th>
            	<th class="result" custom-sort order="'serviceSpeede'" sort="sort">Speed</th>
            </tr>
        </thead>
        <tfoot>
            <td colspan="6">
                <div class="pagination pull-right">
                    <ul>
                        <li ng-class="{disabled: currentPage == 0  }">
                            <a href ng-click="prevPage()">« Prev</a>
                        </li>
                        <li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) "
                            ng-class="{active: n == currentPage}"
                        ng-click="setPage()">
                            <a href ng-bind="n + 1">1</a>
                        </li>
                        <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
                            <a href ng-click="nextPage()">Next »</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tfoot>
        <tbody>
            <tr ng-repeat="(index,item) in pagedItems[currentPage] | orderBy:sort.sortingOrder:sort.reverse">
                  <td>{{(index + 1)}}</td>
                <td>{{item.id}}</td>
                <td>{{item.qualificationResult}}</td>
                <td>{{item.accessMethod}}</td>
                <td>{{item.accessType}}</td>
                <td><div ng-repeat="speed in item.availableServiceSpeeds.serviceSpeed">
                        {{speed.serviceSpeed}}-{{speed.status}}<br/>    
                    </div>
                </td>
            </tr> -->
        <!--    
            <tr ng-repeat="(index,data) in qualificationList" ng-class="{ new: data.qualificationResult === 'FAIL', green:  data.qualificationResult === 'PASS'}" >
                <td>{{(index + 1)}}</td>
                <td>{{data.id}}</td>
                <td>{{data.qualificationResult}}</td>
                <td>{{data.accessMethod}}</td>
                <td>{{data.accessType}}</td>
                <td><div ng-repeat="speed in data.availableServiceSpeeds.serviceSpeed">
                		{{speed.serviceSpeed}}-{{speed.status}}<br/>	
                	</div>
               	</td>
            </tr> -->
       <!--  </tbody>
    </table> -->
    <table class="table table-striped table-bordered" datatable="ng" dt-options="vma.dtOptions" dt-instance="vma.dtInstance"  width="100%" dt-column-defs="vma.dtColumnDefs">
        <thead>
          <tr>
            <th>ID</th>
            <th>Result</th>
            <th>Method</th>
            <th>Type</th>
            <th>Speed</th>            
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in items">
            <td>{{item.id}}</td>
            <td>{{item.qualificationResult}}</td>
            <td>{{item.accessMethod}}</td>
            <td>{{item.accessType}}</td>
            <td><div ng-repeat="speed in item.availableServiceSpeeds.serviceSpeed">
                    {{speed.serviceSpeed}}-{{speed.status}}<br/>    
                </div>
            </td>
          </tr>
        </tbody>
      </table>
</form>

<div class="container">
<br>
<br>
<br>

</div>




