<div class="footer">
	<div class="row">
		<div class="col-md-4 col-sm-4">
			<strong>Copyright</strong> Nexgen &copy; 2000-2015
		</div>
		<div class="col-md-4 col-sm-4" style="text-align:center">
			<strong>Current Version</strong> Version {{ version }}
		</div>
		<div class="col-md-4 col-sm-4" style="text-align:right;">
    		10GB of <strong>1500TB</strong> Free.
    	</div>
    </div>
</div>
