<div class="row wrapper white-transparent">
    <div class="container">
        <div class="row my-2">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12 card-body shadow bg-white">
                        <div class="row upload-section" ng-class="{'disabled':jobsheetData.workStatus=='view'}">
                            <div class="col-sm-6">
                                <h4 class="mt-1 mb-1"><u>Upload file(s)</u> {{jobsheetData.workStatus}}</h4>
                                <div ng-app="fileUpload">
                                    <h4>Upload on file select</h4>
                                    <button ngf-select="uploadFiles($files, $invalidFiles)" multiple
                                            accept="file_extension" ngf-max-height="1000" ngf-max-size="7MB" class="btn btn-success fileinput-button sheet-data">
                                            <i class="fa fa-plus fa-sm"></i>
                                        Select Files</button>
                                    <br><br>
                                    <span ng-show="files">Uploading File:</span>
                                    <br>
                                    <br>
                                    <ul>
                                        <li ng-repeat="f in files" style="font:smaller;max-width: 500px;">{{f.name}} {{f.$errorParam}} 
                                        <div class="progress" ng-show="f.progress >= 0">
                                            <div class="progress-bar" role="progressbar" style="width: {{f.progress}}%;" aria-valuenow="{{f.progress}}" aria-valuemin="0" aria-valuemax="100">{{f.progress}}%</div>
                                        </div>
                                        </li>
                                        <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
                                        <span ng-show="f.$errorParam">upload failed!</span>

                                        </li> 
                                    </ul>
                                    {{errorMsg}}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <h4>Uploaded File(s) </h4>
                                    <ul class="attached-files" ng-repeat="(index,file) in jobsheetData.files track by $index">
                                        <li><a href="/assets/files/uploads/{{file}}" download>{{file}}</a></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>

<!-- Modal Search -->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title text-center" id="searchModalLabel">Find a Customer.</h3>
                    <p class="m-1 text-center p-text">Use the company name to search</p>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form id="jobsheetData">
                                <div class="form-group">
                                    <input type="text" class="form-control form-search shadow" id="" name="searchValue" ng-model="jobsheetData.searchValue" placeholder="Company Name...">
                                </div>
                                <button class="btn btn-primary btn-submit btn-block form-submit shadow" ng-click="search(jobsheetData.searchValue);">
                                    Search
                                </button>
                                <hr>
                            </form>
                        </div>
                    </div>
                    <div class="row search-results d-none">
                        <div class="col-sm-12">
                            <h3 class="text-center">Search Results</h3>
                            <div class="tbl-results" id="results-content" ng-if="jobsheetData.search.results != ''">
                                <div class="items " ng-repeat="(index, result) in jobsheetData.search.counts track by $index">
                                   <div class="accordion content-area  shadow" id="accordionExample"  data-toggle="collapse" data-target="#{{index}}" aria-expanded="true" aria-controls="collapseOne">
                                        <div class="row">
                                            <div class="col-md-10" id="headingOne">
                                                <h4 class="c-black">{{jobsheetData.search.results[$index].company_name}}</h4>
                                                <p>{{jobsheetData.search.results[$index].address}}</p>
                                            </div>
                                            <div class="col-md-2 p-20">
                                                <span>({{result[0]}})</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                          <div id="{{index}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                            <div class="card-body p-25">
                                                <div class="list-item pl-2 row" ng-repeat="(itemIndex, item) in result" ng-if="itemIndex >0 ">
                                                    <a href="" style="color: #676a6c;" ng-click="view(item.jobsheet_id, jobsheetData.search.jobsheet_list[item.jobsheet_id].type)" data-dismiss="modal">
                                                        <div class="col-md-9">
                                                            Job Sheet #  {{jobsheetData.search.jobsheet_list[item.jobsheet_id].jobsheet_number}} ({{jobsheetData.search.jobsheet_list[item.jobsheet_id].updated_at}})
                                                        </div>
                                                        <div class="col-md-3">{{}}
                                                                <span ng-if="jobsheetData.search.jobsheet_list[item.jobsheet_id].status == 'Completed'">Complete <i class="fa fa-check-circle-o c-green" aria-hidden="true"></i></span> 
                                                                <span ng-if="jobsheetData.search.jobsheet_list[item.jobsheet_id].status == 'draft'">On process <i class="fa fa-spinner c-yellow" aria-hidden="true"></i> </span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                          </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <p class="text-center">{{jobsheetData.search.message}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Add -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header pb-0">
                    <h3 class="modal-title text-center" id="addModalLabel">Adding new Job Sheet for <strong>{{jobsheetData.companyName}}</strong>.</h3>
                    <p class="m-1 text-center p-text">Do you want to replicate this Job Sheet?</p>
                </div>
                <div class="modal-body pt-0">
                    <div class="row">
                        <div class="col-sm-12">
                            <form id="jobsheetData">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4>Choose Job sheet type:</h4>
                                        </div>
                                    </div>
                                    <div class="row type-options">
                                        <div class="col-md-12 mb-1">
                                            
                                            <input type="radio" class="btn btn-primary btn-submit type required" id="optionType" name="type" value="2" checked> <span>Service</span><br>
                                        </div>
                                        <div class="col-md-12 mb-1">
                                            <input type="radio" class="btn btn-primary btn-submit type required" id="optionType" name="type" value="1"> <span>Installation</span><br>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                       
                                    <button class="btn btn-primary btn-submit btn-block form-submit shadow" ng-click="add('replicate', jobsheetData.id);">
                                        Replicate
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-primary btn-submit btn-block form-submit shadow" ng-click="add('new', jobsheetData.id);">
                                        New
                                    </button>
                                </div>
                                <hr>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Not allowed -->
    <div class="modal fade" id="notallowedModal" tabindex="-1" role="dialog" aria-labelledby="notallowedModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title text-center" id="notallowedModalLabel">You are now allowed to modify the company name.</strong>.</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <div class=" align-self-center">
                                    <button data-dismiss="alert" class="btn btn-primary btn-submit btn-block form-submit shadow">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal No JS -->
    <div class="modal fade" id="nojsModal" tabindex="-1" role="dialog" aria-labelledby="nojsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title text-center" id="nojsModalLabel">Please seacrh a Job Sheet first.</strong></h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class=" col-md-3">
                            </div>
                            <div class=" col-md-6">
                                <button data-dismiss="modal" data-toggle="modal" data-target="#searchModal" class="btn btn-primary btn-submit btn-block form-submit shadow">
                                    Search Now
                                </button>
                            </div>
                            <div class=" col-md-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id ="testDi" >
        <div id ="signatureBox"></div>
        <button class="btn btn-primary pull-center" onclick="useSign()" ng-click="tada()" id="iAccept"> I accept the terms and conditions</button>
    </div>
    <div class="alert alert-success fade" role="alert">
    <strong>Success!</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    <br>
    {{jobsheetData.message}}
    
    </div>
    <div class="alert alert-danger fade" role="alert">
            <strong>Failed!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            <br>
                Field(s) required!
            </div>
    <script>
    var signedTimeStamps = new Array();
        function useSign() {
            var id = $('#iAccept').attr('data-id');
            var currentDate = new Date();
            var signedTS = $("<div class='signTimeStamp' style='font-weight:300;font-size:8pt' >"+(currentDate.getHours() < 10 ? "0" : "") + currentDate.getHours() + ":" + (currentDate.getMinutes() < 10 ? "0" : "") + currentDate.getMinutes() + ":" + (currentDate.getSeconds() < 10 ? "0" : "") + currentDate.getSeconds()+" "+currentDate.getDate()+"-"+(currentDate.getMonth()+1)+"-"+currentDate.getFullYear()+"</div>");
            var sign = $("<img class='imported' height=36 ></img>")
                            .attr("src",$('#signatureBox').jSignature('getData'));

            $('#'+id).html(sign);
            $('#'+id).append(signedTS);
            $("#testDi").dialog("close");

            var signedTimeStamp = {};
            signedTimeStamp.form_name = id;
            signedTimeStamp.id = '';
            signedTimeStamp.timestamp = currentDate;

            signedTimeStamps.push(signedTimeStamp);
        }

        function clearSg(id) {
            $("#"+id).jSignature("reset");
        }

        $(document).ready(function() {
            $("#testDi").dialog({
                autoOpen: false,
                hide: { effect: "fadeout", duration: 200 },
                width: 525,
                height: 215,
                zIndex:2000,
                modal:true
            });

            /*
            var dd = new DropDown( $('#dd') );
            $(document).click(function() {
                // all dropdowns
                $('.wrapper-dropdown-3').removeClass('active');
            });
            */
            //alert($('#editId').val());
            //$("#wizard").steps();
            // console.log($("#jobsheetData"));
        
            var button = $(this).find('a[href="#finish"]');
            button.hide();
            $('#sendDraft').hide();
            //$('#jobsheetData-t-6').hide();
        });



    </script>

    
        