<style>
  @page {
      sheet-size : A4;
      margin: 0%;
  }

  @page cover {
        margin-top:10mm;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right:5px;
        odd-footer-name: html_pagesFooter;

  }
  div.cover {
      page-break-before: right;
      page: cover;
  }
  @page second {
      odd-footer-name: html_secondPageFooter;
      margin-top: 5%;
      margin-bottom: 1%;
      margin-right: 1%;
      margin-left: 1%;
  }
  body {
    font-family: "Arial", "open sans", Helvetica Neue, Helvetica, sans-serif;
  }
  div.secondPage {

      page:second
  }
  @page pages {
      margin-top: 5%;
      margin-bottom: 1%;
      margin-right: 1%;
      margin-left: 1%;
  }
  div.pages {
      page: pages;
  }
 
  p {
    margin: 0;
  }
  p.hdata-label {
    font-size: 16px;
  }
  .m-0 {
      margin: 0;
  }
  .mt-10 {
      margin-top: 10px;
  }
  .p-0 {
      padding: 0;
  }
  .float-right {
    float: right;
  }
  .w-50 {
    width: 50%;
  }
  .w-70 {
    width: 70%;
  }
  .w-100 {
    width: 100%;
  }
  .align-right {
    text-align: right;
  }
  .align-center {
    text-align: center;
  }
  .fw-500 {
    font-weight: 500 !important;
  }
  .color-red {
    color:red;
    text-align: center;
    font-weight: 700;
  }
  .bg-gray {
    background: #bfbfbf;
  }
  .pageBreaker {
    padding: 13px;
  }
  table td {
    vertical-align: top;
  }
  table td span {
        font-size: 11px !important;
        display: block;
  }
   table#tblPreview, table#tblPreview td {
      border: .6px solid black;
      font-size: 11px;
  }
  table#tblPreview, table#tblPreview td span {
      font-size: 11px;
      min-height: 18px;
  }
  table.sign td {
    vertical-align: middle;
    padding: 0;
    margin: 0;
  }
  .signatureImg {
      height: 65px !important;
  }
  @media (min-width: 1200px) {
    .ngdialog-content .container {
      width: 100% !important;
  }
}
</style>
<link rel="canonical" href="https://startbootstrap.com/previews/sb-admin-2/">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link rel="stylesheet" href="/assets/js/datatables.bootstrap.css">
<link rel="stylesheet" href="/assets/css/dashboard.statistics.css">
<link rel="stylesheet" type="text/css" href="/assets/js/buttons.datatables.min.css"/>
<body>
<div class="pageBreaker">
  <table class="w-100">
    <tr>
      <td class="w-50">
          <p><b>Nexgen Australia Pty Ltd</b></p>
          <p>Level 2, 460 Church Street</p>
          <p>North Parramatta, NSW, 2150</p>
          <p>Phone: 1300 02 04 02</p>
          <p>Fax: 1300 028 878</p>
      </td>
      <td class="w-50 align-right">
        <img src="/assets/images/logo-small.png" />
      </td>
    </tr>
    <tr>
      <td class="w-100 bg-gray align-center" colspan="2">
        <h1 class="color-red" style="font-size: 21px;margin-top: 10px;font-weight: 700;" ng-if="type == '1'">INSTALL JOB SHEET & TELEPHONE/CCTV SYSTEM DATA COLLECTION</h1>
        <h1 class="color-red" style="font-size: 21px;margin-top: 10px;font-weight: 700;" ng-if="type == '2'">SERVICE JOB SHEET & TELEPHONE/CCTV SYSTEM DATA COLLECTION</h1>
      </td>
    </tr>
  </table>
  <table class="w-100">
    <tr>
      <td style="width: 18%;">
          <p class="hdata-label"><b>Company name:</b></p> 
      </td>
      <td style="width: 52%;">
            <span class="fw-500" style="">{{jobsheetData.companyName}}</span>
      </td>
      <td style="width: 15%;">
          <p class="hdata-label"><b>Start time:</b> </p> 
      </td>
      <td style="width: 20%;"><span class="fw-500" style="font-weight: 500;">{{jobsheetData.startTime}}</span></td>
    </tr>
    <tr>
        <td>
            <p class="hdata-label"><b>Address:</b> </p> 
        </td>
        <td>
            <span class="fw-500" style="">{{jobsheetData.address}}</span>
        </td>
        <td>
            <p class="hdata-label"><b>Finish time:</b> </p> 
        </td>
        <td>
            <span class="fw-500" style="font-weight: 500;">{{jobsheetData.finishTime}}</span>
        </td>
      </tr>
  </table>
            <table class="bg-white mt-1 w-100">
                <tr>
                    <td style="width: 40%;">
                        <table id="tblPreview" class="table" style="border-spacing: 0;">
                            <tr>
                                <td colspan="2" class="align-center">
                                        <h3 class="mt-1 text-center" style="font-size: 18px;"><u>PBX remote access details</u></h3>
                                        <h5 class="text-left"><u>Phone system information:</u></h5>
                                </td>
                            </tr>
                            <tr ng-if="type == '2'"> 
                                <td style="width: 53%"><strong>System brand & model:</strong></td>
                                <td class="text-right" style="width: 47%"><span>{{jobsheetData.systemBrand}}</span></td>
                            </tr>
                            <tr>
                                <td style="width: 53%"><strong>Local IP address:</strong></td>
                                <td class="text-right" style="width: 47%"><span>{{jobsheetData.phoneLocalIp}}</span></td>
                            </tr>
                            <tr>
                                <td><strong>Username:</strong></td>
                                <td class="text-right"><span>{{jobsheetData.phoneUsername}}</span></td>
                            </tr>
                            <tr>
                                <td><strong>Password:</strong></td>
                                <td class="text-right"><span>{{jobsheetData.phonePassword}}</span></td>
                            </tr>
                            <tr>
                                <td><strong>Phone System brand and model:</strong></td>
                                <td class="text-right"><span>{{jobsheetData.phoneSystemBrand}}</span></td>
                            </tr>
                            <tr>
                                <td><strong>HTTP/Web Pro port:</strong></td>
                                <td class="text-right"><span>{{jobsheetData.phoneWebProPort}}</span></td>
                            </tr>
                            <tr>
                                <td><strong>HTTP/PC Pro port:</strong></td>
                                <td class="text-right"><span>{{jobsheetData.phonePcProPort}}</span></td>
                            </tr>
                            <tr>
                                <td><strong>Trunk type:	</strong></td>
                                <td class="text-right"><span>{{jobsheetData.phoneTrunkType}}</span></td>
                            </tr>
                            <tr>
                                <td><strong>PABX gateway:</strong></td>
                                <td class="text-right"><span>{{jobsheetData.phonePabxGateway}}</span></td>
                            </tr>
                            <tr>
                                <td><strong>Remote access?:</strong></td>
                                <td>
                                    <span ng-if="jobsheetData.phoneRemoteAccess == true" style="text-align: center"><img src="/assets/images/checked.png" width="13px" height="13px" style="padding-left:4px;" /></span>
                                    <span ng-if="jobsheetData.phoneRemoteAccess != true" style="text-align: center"><img src="/assets/images/cross.png" width="13px" height="13px" style="padding-left:4px;" /></span>
                                </td>
                            </tr>
                            <tr ng-if="jobsheetData.phoneRemoteAccess == true">
                                <td><strong>Contact No.:</strong></td>
                                <td class="text-right"><span>{{jobsheetData.remoteContactNo}}</span></td>
                            </tr>
                            <tr>
                                <td><strong>Public IP address:</strong></td>
                                <td class="text-right"><span>{{jobsheetData.phonePublicIp}}</span></td>
                            </tr>
                    
                        </table>
                    </td>
                    <td style="width: 60%;">
                        <table class="w-100 m-0 p-0" >
                            <tr>
                                <td style="width: 65%;">
                                    <table id="tblPreview" class="table mb-0 w-100" style="border-spacing: 0;">
                                        <tr>
                                            <td colspan="2" style="height: 28px;vertical-align: middle;text-align: center;"><strong><u>Router information:</u></strong></td>
                                        </tr>
                                        <tr>
                                            <td style="width: 47%"><strong>IP address:</strong></td>
                                            <td class="text-right" style="width: 54%"><span>{{jobsheetData.routerIpAddress}}</span></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Username:</strong></td>
                                            <td class="text-right"><span>{{jobsheetData.routerUsername}}</span></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Password:</strong></td> 
                                            <td class="text-right"><span>{{jobsheetData.routerPassword}}</span></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Internet technology:</strong></td>
                                            <td class="text-right"><span>{{jobsheetData.routerInternetTechnology}}</span></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Wireless name:</strong></td>
                                            <td class="text-right"><span>{{jobsheetData.routerWirelessName}}</span></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Remote access?:</strong></td> 
                                            <td class="text-right">
                                                <span ng-if="jobsheetData.routerRemoteAccess == true" style="text-align: center"><img src="/assets/images/checked.png" width="13px" height="13px" style="padding-left:4px;" /></span>
                                                <span ng-if="jobsheetData.routerRemoteAccess != true" style="text-align: center"><img src="/assets/images/cross.png" width="13px" height="13px" style="padding-left:4px;" /></span>
                                           
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Public IP address:</strong></td> 
                                            <td class="text-right">
                                                <span>{{jobsheetData.routerPublicIpAdd}}</span>
                                            </td>
                                        </tr>
                                    </table>
                                     <table id="tblPreview" class="table mb-0 w-100" style="border-spacing: 0;" ng-model="jobsheetData.cctvDisplay" ng-if="jobsheetData.cctvDisplay == true">
                                        <tr>
                                            <td colspan="2" class="align-center" style="height: 32px;vertical-align: middle;">
                                                <strong><u>CCTV remote access details</u></strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 47%">No. of channels:</td>
                                            <td style="width: 54%"><span>{{jobsheetData.noOfChannels}}</span></td>  
                                        </tr>
                                        <tr>
                                            <td>Ext. IP address:</td>
                                            <td><span>{{jobsheetData.ExtIpAdd}}</span></td>  
                                        </tr>
                                        <tr>
                                            <td>Int. IP address:</td>
                                            <td><span>{{jobsheetData.intIpAdd}}</span></td>  
                                        </tr>
                                        <tr>
                                            <td>TCP/UDP port:</td>
                                            <td><span>{{jobsheetData.tcpPort}}</span></td>  
                                        </tr>
                                        <tr>
                                            <td>Admin. U/n:</td>
                                            <td><span>{{jobsheetData.adminU}}</span></td>  
                                        </tr>
                                        <tr>
                                            <td>Admin. P/w:</td>
                                            <td><span>{{jobsheetData.adminPass}}</span></td>  
                                        </tr>
                                        <tr>
                                            <td>Mot or Cont Rec:</td>
                                            <td><span>{{jobsheetData.mot}}</span></td>  
                                        </tr>
                                        <tr>
                                            <td>Time & date set:</td>  
                                            <td style="vertical-align: middle;"><span style="font-size: 9px;">{{jobsheetData.timeAndDateSet}}</span></td>
                                        </tr>
                                        <tr>
                                            <td>Client trained?:</td>
                                            <td>
                                                <span ng-if="jobsheetData.clientTrained == true" style="text-align: center"><img src="/assets/images/checked.png" width="13px" height="13px" style="padding-left:4px;" /></span>
                                                <span ng-if="jobsheetData.clientTrained != true" style="text-align: center"><img src="/assets/images/cross.png" width="13px" height="13px" style="padding-left:4px;" /></span>
                                            </td
                                        </tr>
                                    </table>
                                </td>
                                <td style="width: 35%;">
                                    <table id="tblPreview" class="table mb-0" style="border-spacing: 0;width: 100%;">
                                        <tr>
                                            <td colspan="2" class="align-center" style="height: 28px; vertical-align: middle;"><strong><u>Checklist</u></strong></td>
                                        </tr>
                                        <tr>
                                            <td>Day VMail:</td>
                                            <td>
                                                <span ng-if="jobsheetData.dayVmail == true" style="text-align: center"><img src="/assets/images/checked.png" width="13px" height="13px" style="padding-left:4px;" /></span>
                                                <span ng-if="jobsheetData.dayVmail != true" style="text-align: center"><img src="/assets/images/cross.png" width="13px" height="13px" style="padding-left:4px;" /></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Night VMail:</td>
                                            <td>
                                                <span ng-if="jobsheetData.nightVmail == true" style="text-align: center"><img src="/assets/images/checked.png" width="13px" height="13px" style="padding-left:4px;" /></span>
                                                <span ng-if="jobsheetData.nightVmail != true" style="text-align: center"><img src="/assets/images/cross.png" width="13px" height="13px" style="padding-left:4px;" /></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Auto attendant:</td>
                                            <td>
                                                <span ng-if="jobsheetData.autoAttendant == true" style="text-align: center"><img src="/assets/images/checked.png" width="13px" height="13px" style="padding-left:4px;" /></span>
                                                <span ng-if="jobsheetData.autoAttendant != true" style="text-align: center"><img src="/assets/images/cross.png" width="13px" height="13px" style="padding-left:4px;" /></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>EFTPOS tested:</td>
                                            <td>
                                                <span ng-if="jobsheetData.eftposTested == true" style="text-align: center"><img src="/assets/images/checked.png" width="13px" height="13px" style="padding-left:4px;" /></span>
                                                <span ng-if="jobsheetData.eftposTested != true" style="text-align: center"><img src="/assets/images/cross.png" width="13px" height="13px" style="padding-left:4px;" /></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Alarm tested:</td>
                                            <td>
                                                <span ng-if="jobsheetData.alarmTested == true" style="text-align: center"><img src="/assets/images/checked.png" width="13px" height="13px" style="padding-left:4px;" /></span>
                                                <span ng-if="jobsheetData.alarmTested != true" style="text-align: center"><img src="/assets/images/cross.png" width="13px" height="13px" style="padding-left:4px;" /></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Fax tested:</td>
                                            <td>
                                                <span ng-if="jobsheetData.faxTested == true" style="text-align: center"><img src="/assets/images/checked.png" width="13px" height="13px" style="padding-left:4px;" /></span>
                                                <span ng-if="jobsheetData.faxTested != true" style="text-align: center"><img src="/assets/images/cross.png" width="13px" height="13px" style="padding-left:4px;" /></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>ADSL tested:</td>
                                            <td>
                                                <span ng-if="jobsheetData.adslTested == true" style="text-align: center"><img src="/assets/images/checked.png" width="13px" height="13px" style="padding-left:4px;" /></span>
                                                <span ng-if="jobsheetData.adslTested != true" style="text-align: center"><img src="/assets/images/cross.png" width="13px" height="13px" style="padding-left:4px;" /></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>PBX s/w upd.: <br><br>
                                            Ver.
                                            </td>
                                            <td>
                                                <span ng-if="jobsheetData.pbx == true" style="text-align: center"><img src="/assets/images/checked.png" width="13px" height="13px" style="padding-left:4px;" /></span>
                                                <span ng-if="jobsheetData.pbx != true" style="text-align: center"><img src="/assets/images/cross.png" width="13px" height="13px" style="padding-left:4px;" /></span>
                                                <br>
                                                <br>
                                                <span>{{jobsheetData.ver}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Licenses app.:</td>
                                            <td>
                                                <span ng-if="jobsheetData.licensesApp == true" style="text-align: center"><img src="/assets/images/checked.png" width="13px" height="13px" style="padding-left:4px;" /></span>
                                                <span ng-if="jobsheetData.licensesApp != true" style="text-align: center"><img src="/assets/images/cross.png" width="13px" height="13px" style="padding-left:4px;" /></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Database sent:</td>
                                            <td>
                                               <span ng-if="jobsheetData.databaseSent == true" style="text-align: center"><img src="/assets/images/checked.png" width="13px" height="13px" style="padding-left:4px;" /></span>
                                                <span ng-if="jobsheetData.databaseSent != true" style="text-align: center"><img src="/assets/images/cross.png" width="13px" height="13px" style="padding-left:4px;" /></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Photos sent:</td>
                                            <td>
                                                <span ng-if="jobsheetData.photosSent == true" style="text-align: center"><img src="/assets/images/checked.png" width="13px" height="13px" style="padding-left:4px;" /></span>
                                                <span ng-if="jobsheetData.photosSent != true" style="text-align: center"><img src="/assets/images/cross.png" width="13px" height="13px" style="padding-left:4px;" /></span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <table id="tblPreview" class="table" style="border-spacing: 0;" ng-if="type == '1'">
                            <tr>
                                <td colspan="5" class="align-center" style="height: 27px;vertical-align: middle;"><h4 class="text-center"><u>Line audit</u></h4></td>
                            </tr>
                            <tr>
                                <td style="width: 12%" class="align-center"><strong><u>System position</u></strong></td>
                                <td style="width: 20%;vertical-align: middle;" class="align-center"><strong><u>Number</u></strong></td>
                                <td style="width: 24%" class="align-center"><strong><u>Line type (eg PSTN, BRI, PRI, VoIP, SIP)</u></strong></td>
                                <td style="width: 15%;vertical-align: middle;" class="align-center"><strong><u>Device</u></strong></td>
                                <td style="width: 29%;vertical-align: middle;" class="align-center"><strong><u>Number</u></strong></td>
                            </tr>
                            <tr>
                                <td>Line 1</td>
                                <td><span>{{jobsheetData.systemNumber1}}</span></td>  
                                <td><span>{{jobsheetData.lineType1}}</span></td>  
                                <td>Fax</td>  
                                <td><span>{{jobsheetData.fax}}</span></td>  
                            </tr>
                            <tr>
                                <td>Line 2</td>
                                <td><span>{{jobsheetData.systemNumber2}}</span></td>  
                                <td><span>{{jobsheetData.lineType2}}</span></td>  
                                <td>Internet</td>  
                                <td><span>{{jobsheetData.internet}}</span></td>
                            </tr>
                            <tr>
                                <td>Line 3</td>
                                <td><span>{{jobsheetData.systemNumber3}}</span></td>  
                                <td><span>{{jobsheetData.lineType3}}</span></td>  
                                <td>EFTPOS</td>  
                                <td><span>{{jobsheetData.eftpo}}</span></td>
                            </tr>
                            <tr>
                                <td>Line 4</td>
                                <td><span>{{jobsheetData.systemNumber4}}</span></td>  
                                <td><span>{{jobsheetData.lineType4}}</span></td>  
                                <td>Alarm</td>  
                                <td><span>{{jobsheetData.alarm}}</span></td>
                            </tr>
                            <tr>
                                <td>Line 5</td>
                                <td><span>{{jobsheetData.systemNumber5}}</span></td>  
                                <td><span>{{jobsheetData.lineType5}}</span></td>  
                                <td>Other</td>  
                                <td><span>{{jobsheetData.other}}</span></td>
                            </tr>
                            <tr>
                                <td>Line 6</td>
                                <td><span>{{jobsheetData.systemNumber6}}</span></td>  
                                <td><span>{{jobsheetData.lineType6}}</span></td>  
                                <td colspan="2"><h4 class="text-center"><u>Stock Used</u></h4></td>
                            </tr>
                            <tr>
                                <td>Line 7</td>
                                <td><span>{{jobsheetData.systemNumber7}}</span></td>  
                                <td><span>{{jobsheetData.lineType7}}</span></td>  
                                <td>Qty</td>  
                                <td>Part Name/Description</td>
                            </tr>
                            <tr>
                                <td>Line 8</td>
                                <td><span>{{jobsheetData.systemNumber8}}</span></td>  
                                <td><span>{{jobsheetData.lineType8}}</span></td>  
                                <td><span>{{jobsheetData.qty1}}</span></td>  
                                <td><span>{{jobsheetData.partName1}}</span></td>
                            </tr>
                            <tr>
                                <td>Line 9</td>
                                <td><span>{{jobsheetData.systemNumber9}}</span></td>  
                                <td><span>{{jobsheetData.lineType9}}</span></td>  
                                <td><span>{{jobsheetData.qty2}}</span></td>  
                                <td><span>{{jobsheetData.partName2}}</span></td>
                            </tr>
                            <tr>
                                <td>Line 10</td>
                                <td><span>{{jobsheetData.systemNumber10}}</span></td>  
                                <td><span>{{jobsheetData.lineType10}}</span></td>  
                                <td><span>{{jobsheetData.qty3}}</span></td>  
                                <td><span>{{jobsheetData.partName3}}</span></td>
                            </tr>
                            <tr>
                                <td>Line 11</td>
                                <td><span>{{jobsheetData.systemNumber11}}</span></td>  
                                <td><span>{{jobsheetData.lineType11}}</span></td>  
                                <td><span>{{jobsheetData.qty4}}</span></td>  
                                <td><span>{{jobsheetData.partName4}}</span></td>
                            </tr>
                            <tr>
                                <td>Line 12</td>
                                <td><span>{{jobsheetData.systemNumber12}}</span></td>  
                                <td><span>{{jobsheetData.lineType12}}</span></td>  
                                <td><span>{{jobsheetData.qty5}}</span></td>  
                                <td><span>{{jobsheetData.partName5}}</span></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        <h4><u>Comments/Special notes/Outstanding work + other notes:</u></h4>
        <div class="w-100" style="border: 1px solid black;min-height:140px;height:205px;font-size: 12px;line-height: 1;display: inline-table;">&nbsp;{{jobsheetData.comments}}</div>
    <p style="page-break-before: always;margin-top: 25px;" ng-if="jobsheetData.otherEqpt.length >= '5'">&nbsp;</p>
    <div class="sign-area">
        <div style="color: red;margin-top: 5px;font-size: 13px;"><u>By signing the below, confirms you are satisfied that the above equipment/works has been installed/completed to your requirements</u></div>
        <table class="sign" style="width: 100%">
            <tr>
                <td style="width: 17%"><p style="font-size: 13px;"><b>Customer's name:</b></p></td>
                <td style="width: 22%"><span>{{jobsheetData.dName}}</span></td>
                <td style="width: 22%;padding-left: 10px;"><p style="font-size: 13px;"><b>Customer's Signature</b></p></td>
                <td style="width: 7%;text-align: center;" id ="configApplicantSd" class="greenText signature signatureImg signItem" ng-click="sign('configApplicantSd')">
                    <b ng-if="isSigned('configApplicantSd')" class="greenText">{{ getCurrentDate() }}</b>
                    <b ng-if="!isSigned('configApplicantSd') && (!isDraftMode())">Applicant Sign Here</b>
                </td>
                <td style="width: 21%;padding-left: 10px;"><p style="font-size: 13px;" style="font-size: 13px;"><b>Customer's position:</b></p></td>
                <td style="width: 11%"><span>{{jobsheetData.cPosition}}</span></td>
            </tr>
            <tr>
                <td style="width: 17%"><p style="font-size: 13px;"><b>Technician's name:</b></p></td>
                <td style="width: 22%"><span>{{jobsheetData.technicianName}}</span></td>
                <td style="width: 22%;padding-left: 10px;"><p style="font-size: 13px;"><b>Technician's Signature</b></p></td>
                <td style="width: 7%;text-align: center;" id="configWitnessSd" class="greenText signature signatureImg signItem" ng-click="sign('configWitnessSd')">
                    <img class='imported' ng-src="{{userSign}}" ng-if="userSign" height="36" height=36 ></img>
                    <div class='signTimeStamp' style='font-weight:300;font-size:8pt' ng-if="userSign">{{getCurrentDate()}}</div>
                    <span ng-if="!userSign">
                        <span ng-if="!isSigned('configWitnessSd') && !isDraftMode()">Witness Signature here</span>
                    </span>
                </td>
                <td colspan="2" style="width: 32%;padding-left: 10px;"><p style="font-size: 13px;"><b>Date:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{getCurrentDate()}}</p></td>
            </tr>
        </table>
    </div>
</div>

