<style>
.chartjs-render-monitor {
    height: 485px !important;
}
.highcharts-credits {
    display: none;
}
.btn-search {
    border-radius: 25px;
    height: 50px;
    width: 50px;
    border: none;
}
.modal-header {
    border-bottom: none;
}
.m-3 {
    margin: 3rem;
}
.m-1 {
    margin: 1rem;
}
.mt-0 {
    margin-top: 0;
}
.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.p-0 {
    padding: 0 !important;
}
.pt-0 {
    padding-top: 0 !important;
}
.p-25 {
    padding: .25rem !important;
}
.pl-2 {
    padding-left: 2rem !important;
}
.p-text {
    color: #ada8a8;
}
.p-20 {
    padding: 20px;
}
.mt-1 {
    margin-top: 1rem;
}
.mb-5 {
    margin-bottom: 5rem;
}
.shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}
.form-search, .form-submit {
    height: 50px;
}
.bg-white {
    background: white;
}
input {
    width: 100%;
    border: none;
    height: 30px;
    padding-left: 10px;
    border-bottom: 1px solid #bfbfbf;
}
input:hover, textarea:hover {
    background: #f7f7f7;
}
.form-search:hover {
    background: none;
}
input.no-bottom-border {
    border-bottom: none;
}
input:focus, input:active {
    border: 2px solid white !important;
}
input:disabled, textarea:disabled {
    background: #f3f3f3;
}
textarea {
    height: 170px;
    border: none;
    border-bottom: 1px solid #e7eaec;
}
.comment-area {
    height: 200px;
}
.sign-area {
    height: 200px;
}
.sign-area h4 {
    color: #0489cc;
}
table.table td {
    border-top: none;
    border-bottom: 1px solid #e7eaec;
}
.onoffswitch-switch {
    margin-bottom: 0px;
}
.onoffswitch-inner:after, .tick .onoffswitch-switch {
    background-color: #e31e25;
}
i.fa-check {
    color: green;
}
i.fa-times {
    color: red;
}
.btn-edit i {
    color: white;
}
.bg-green, .bg-green:focus,  .bg-green:visited   {
    background-color: green;
}
.bg-green:hover {
    background-color: #039803;
}
.c-green {
    color: green;
    font-size: 17px;
}
.c-black {
    color: black;
}
.c-yellow {
    color: #f6c23e;
}
#results-content {
    width: 100%;
    padding: 10px;
    max-height: 400px;
    overflow-x: hidden; 
    overflow-y: auto;
}

#results-content .items {
    margin-bottom: 10px;
    background-color: white;
}
#results-content .items:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}
#results-content .items .content-area {
    padding: 10px;
}
#results-content .items .content-area span {
    font-size: 12px;
    font-weight: 700;
}
.tick.disabled {
    opacity: .5;
}
.show.collapse.in .card-body {
    display: block;
}
.show.collapse .card-body {
    display: none;
}
.alert-success {
    width: 235px;
    right: 35px;
    position: fixed;
    height: 90px;
    bottom: 25px;
}
.ngdialog-content {
    width: 1000px !important;
}
.hide {
    visibility: hidden;
}
.show {
    visibility: visible;
}
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.btn-add {
    background: red;
    border-radius: 20px;
    color: white;
}
.btn-add:hover, .btn-add:visited, .btn-add:focus  {
    color: white;
    background: #fb3232;
}
.nav-buttons {
    height: 65px;
}

.nav-buttons .btn-primary{
    height: 50px;
    width: 100%;
    max-width: 50px;
    margin-left: 3px;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition: all .3s ease-in-out;
    border: 0px;
    color: #fff;
}
.nav-buttons .btn-primary:hover{
    -webkit-transform: scale(1.1);
    background: #f70009;
}
.nav-buttons .btn-primary.bg-green:hover{
    -webkit-transform: scale(1.1);
    background: #007d00;
}
.nav-buttons  span {
    position: absolute;
    bottom: -17px;
    display: none;
    font-size: 9px;
    width: 100%;
}
.in-grid {
    display: inline-grid;
    text-align: center;
    width: 55px;
}
.in-grid:hover > span {
    display: inline-flex;
}
.disabled {
    pointer-events:none;
    background: #f3f3f3;

}
#no-bottom-border {
    border-bottom: none !important;
}
.type-options {
    margin-bottom: 20px;
}
.type-options input.type {
    opacity: 1;
    margin: 0 0 10px 0;
}
.type-options span {
    padding-left: 30px;
}
input[type=checkbox].cctv {
    float: right;
    opacity: 1;
    position: relative;
}
.pb-10 {
    padding-bottom: 10px !important;
}
.pb-0 {
    padding-bottom: 0;
}
.thumb {
  max-width: 400px;
}
.upload-section {
  min-height: 400px;
}
.upload-section ul li {
  list-style-type: none;
}
ul.attached-files li a {
    text-decoration: underline;
}
.alert-danger {
    width: 235px;
    right: 35px;
    position: fixed;
    height: 90px;
    bottom: 25px;
}
.upload-section.disabled {
    opacity: .5;
    cursor: not-allowed;
}
</style>
<link rel="canonical" href="https://startbootstrap.com/previews/sb-admin-2/">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link rel="stylesheet" href="/assets/js/datatables.bootstrap.css">
<link rel="stylesheet" href="/assets/css/dashboard.statistics.css">
<link rel="stylesheet" type="text/css" href="/assets/js/buttons.datatables.min.css"/>
<div class="row wrapper white-transparent">
    <div class="loading" ng-show="loading">
        <img src="/assets/images/Preloader_3.gif" style="border: none !important;"> 
    </div>
    <div class="container">
        <div class="row">
        <h2>Job Sheets # <b>{{jobsheetData.number}}</b></h2>
        <p class="mb-0" ng-if="status == 'Completed'">Status: <b>Completed </b><i class="fa fa-check-circle-o c-green" aria-hidden="true" style="font-size: 2em;"></i></p>
        <p class="mb-0" ng-if="status == 'draft'">Status: <b>On process </b><i class="fa fa-spinner c-yellow fa-2x" style="" aria-hidden="true"></i></p>
        <p class="mb-0" ng-if="type == '1'">Type: <b>Install </b></p>
        <p class="mb-0" ng-if="type == '2'">Type: <b>Service </b></p>
        </div>
    </div>
    <form name="jobsheet" id="jobsheetData">
        <fieldset>
        <div class="container">
            <div class="row my-2">
                <div class="col-sm-12">
                    <div class=" d-sm-inline-block form-inline mr-auto ml-sm-3 my-2 my-sm-0 mw-100 navbar-search float-right nav-buttons">
                        <div class="input-group">
                            <div class="input-group-append">
                                <div class="in-grid">
                                    <button class="btn-search btn-primary" type="button" data-toggle="modal" data-target="#searchModal">
                                        <i class="fa fa-search fa-sm"></i>
                                    </button>
                                    <span>Search Job sheet</span>
                                </div>
                                <div class="in-grid" ng-if="jobsheetData.workStatus == 'editing'">
                                    <button class="btn-search btn-primary" type="button" data-toggle="modal" data-target="#addModal">
                                        <i class="fa fa-plus fa-sm"></i>
                                    </button>
                                    <span>Add Job sheet</span>
                                </div>
                                <div class="in-grid" ng-if="jobsheetData.workStatus == 'view'">
                                    <button class="btn-search btn-primary btn-edit" type="button" ng-click="edit(jobsheetData.id);">
                                        <i class="fa fa-pencil fa-sm"></i>
                                    </button>
                                    <span>Edit Job sheet</span>
                                </div>
                                <div class="in-grid" ng-if="jobsheetData.workStatus == 'editing'">
                                    <button class="btn-search btn-primary btn-edit bg-green" type="button" ng-click="save(jobsheetData.id);">
                                        <i class="fa fa-check fa-sm"></i>
                                    </button>
                                    <span>Save changes</span>
                                </div>
                                <div class="in-grid" ng-if="jobsheetData.workStatus == 'editing'">
                                    <button class="btn-search btn-primary" type="button" ng-click="signDocument('search-customers' ,jobsheetData);" >
                                        <i class="fa fa-eye fa-sm"></i>
                                    </button>
                                    <span>Preview & sign</span>
                                </div>
                                <div class="in-grid" ng-if="jobsheetData.workStatus == 'editing'">
                                    <button class="btn-search btn-primary btn-finish" type="submit" ng-click="downloadPdf(jobsheetData.id);" >
                                        <i class="fa fa-download fa-sm"></i>
                                    </button>
                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Finish</span>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>