<div ng-include="'/templates/jobsheets/header.html'"></div>

<div class="row wrapper white-transparent page-heading pt-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 card-body shadow bg-white mt-1">
                <div class="row">
                    <h1 style="color: #0489cc;text-align: center;font-size: 30px;"><b>INSTALL JOB SHEET & TELEPHONE/CCTV SYSTEM DATA COLLECTION</b></h1>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <h4 class="mt-1">Company Name:</h4>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="cname" name="companyName" ng-model="jobsheetData.companyName" ng-click="change('companyName');" disabled/>
                    </div>
                    <div class="col-sm-4">
                         <div class="row">
                            <div class="col-sm-5">
                                <h4 class="mt-1">Start time:</h4>
                            </div>
                            <div class="col-sm-7" style="padding: 0px 15px 0px 0px;">
                                <div class="input-group startTime">
                                    <input class="form-control sheet-data" id="startTime" name="startTime" ng-model="jobsheetData.startTime"  required type="text" ng-click="change();" disabled>
                                    <span class="input-group-addon" ng-click="change();">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-sm-2">
                        <h4 class="mt-1">Address:</h4>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="sheet-data" name="address" ng-model="jobsheetData.address" ng-change="change('address');" disabled/>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-5">
                                <h4 class="mt-1">Finish time:</h4>
                            </div>
                            <div class="col-sm-7" style="padding: 0px 15px 0px 0px;">
                                <div class="input-group finishTime">
                                    <input class="form-control sheet-data" id="finishTime" name="finishTime" ng-model="jobsheetData.finishTime"  required type="text" ng-click="change();" disabled>
                                    <span class="input-group-addon" ng-click="change();">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 card-body shadow bg-white mt-1">
                <div class="row">
                    <div class="col-sm-4">
                        <h4 class="mt-1 text-center" ng-if="type == '1'"><u>Equipment Installed</u></h4>
                        <table class="table" ng-if="type == '1'">
                            <tr>
                                <td style="width: 53%"><strong>System brand & model:</strong></td>
                                <td class="text-right" style="width: 47%"><input type="text" class="sheet-data no-bottom-border" name="systemBrand" ng-model="jobsheetData.systemBrand" ng-change="change('systemBrand');" disabled /></td>
                            </tr>
                            <tr>
                                <td><strong>No. of handsets/cameras:</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="noOfHandsets" ng-model="jobsheetData.noOfHandsets" ng-change="change('noOfHandsets');" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>Type of handset/camera (IP, Dig.):</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="typeOfHandset" ng-model="jobsheetData.typeOfHandset" ng-change="change('typeOfHandset');" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>No. of cordless phones:	</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="noOfCordless" ng-model="jobsheetData.noOfCordless" ng-change="change('noOfCordless');" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>Type of cordless (IP, Dig. or Anlg.):</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="typeOfCordless" ng-model="jobsheetData.typeOfCordless" ng-change="change('typeOfCordless');" disabled/></td>
                            </tr>
                             <tr  data-ng-repeat="(index, schAddItem) in jobsheetData.schAddItems track by $index">
                                <td><strong>Other equipment {{index + 1}}:</strong></td> 
                                <td class="text-right"><input type="text" ng-class="{'sheet-data no-bottom-border disabled':jobsheetData.workStatus=='view'}" name="otherEqpt[index]" id="no-bottom-border" ng-model="jobsheetData.otherEqpt[index]" ng-change="change('typeOfCordless');" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <button style='margin-bottom:20px;' class="btn sheet-data btn-add pull-right" type="button" ng-click="addOtherEquip(index)" disabled> + </button>
                                </td>
                            </tr>
                        </table>
                        <h4 class="mt-1 text-center"><u>PBX remote access details</u></h4>
                        <h5 class="text=left"><u>Phone system information:</u></h5>
                        <table class="table">
                             <tr ng-if="type == '2'"> 
                                <td style="width: 53%"><strong>System brand & model:</strong></td>
                                <td class="text-right" style="width: 47%"><input type="text" class="sheet-data no-bottom-border" name="systemBrand" ng-model="jobsheetData.systemBrand" ng-change="change('systemBrand');" disabled /></td>
                            </tr>
                            <tr>
                                <td style="width: 53%"><strong>Local IP address:</strong></td>
                                <td class="text-right" style="width: 47%"><input type="text" class="sheet-data no-bottom-border" name="phoneLocalIp" ng-model="jobsheetData.phoneLocalIp" ng-change="change('phoneLocalIp');" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>Username:</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="phoneUsername" ng-model="jobsheetData.phoneUsername" ng-change="change('phoneUsername');" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>Password:</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="phonePassword" ng-model="jobsheetData.phonePassword" ng-change="change('phonePassword');" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>Phone System brand and model:</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="phoneSystemBrand" ng-model="jobsheetData.phoneSystemBrand" ng-change="change('phoneSystemBrand');" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>HTTP/Web Pro port:</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="phoneWebProPort" ng-model="jobsheetData.phoneWebProPort" ng-change="change('phoneWebProPort');" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>HTTP/PC Pro port:</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="phonePcProPort" ng-model="jobsheetData.phonePcProPort" ng-change="change('phonePcProPort');" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>Trunk type:	</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="phoneTrunkType" ng-model="jobsheetData.phoneTrunkType" ng-change="change('phoneTrunkType');" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>PABX gateway:</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="phonePabxGateway" ng-model="jobsheetData.phonePabxGateway" ng-change="change('phonePabxGateway');" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>Remote access?:</strong></td>
                                <td>
                                    <div class="onoffswitch tick disabled" ng-click="">
                                        <input type="checkbox" name="phoneRemoteAccess" class="sheet-data finance onoffswitch-checkbox"
                                                ng-model="jobsheetData.phoneRemoteAccess" ng-checked="jobsheetData.phoneRemoteAccess==true"
                                                ng-true-value=true ng-false-value=false  id ="phoneRemoteAccess" ng-change="change('phoneRemoteAccess', jobsheetData.phoneRemoteAccess);" disabled>
                                        <label class="onoffswitch-label" for="phoneRemoteAccess">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch tickswitch-switch"></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td ng-class="{'contactTrigger hide':jobsheetData.phoneRemoteAccess!=true}" ><strong>Contact No.:</strong></td>
                                <td  ng-class="{'contactTrigger hide':jobsheetData.phoneRemoteAccess!=true}" ><input type="text" class="sheet-data remoteContactNo no-bottom-border" id="remoteContactNo" name="remoteContactNo" ng-model="jobsheetData.remoteContactNo" ng-change="change('remoteContactNo');" disabled /></td>
                            </tr>
                            <tr>
                                <td><strong>Public IP address:</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="phonePublicIp" ng-model="jobsheetData.phonePublicIp" ng-change="change('phonePublicIp');" disabled/></td>
                            </tr>
                            <tr>
                                <td style="width 40%;"><h5 class="text=left"><u>Router information:</u></h5></td><td style="width 60%;"></td>
                            </tr>
                            <tr>
                                <td><strong>IP address:</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="routerIpAddress" ng-model="jobsheetData.routerIpAddress" ng-change="change('routerIpAddress');" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>Username:</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="routerUsername" ng-model="jobsheetData.routerUsername" ng-change="change('routerUsername');" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>Password:</strong></td> 
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="routerPassword" ng-model="jobsheetData.routerPassword" ng-change="change('routerPassword');" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>Internet technology::</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="routerInternetTechnology" ng-model="jobsheetData.routerInternetTechnology" ng-change="change('routerInternetTechnology');" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>Wireless name:</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="routerWirelessName" ng-model="jobsheetData.routerWirelessName" ng-change="change('routerWirelessName');" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>Remote access?:</strong></td> 
                                <td>
                                    <div class="onoffswitch tick disabled" ng-click="">
                                        <input type="checkbox" name="routerRemoteAccess" class="sheet-data finance onoffswitch-checkbox"
                                                ng-model="jobsheetData.routerRemoteAccess" ng-checked="jobsheetData.routerRemoteAccess==true"
                                                ng-true-value=true ng-false-value=false  id = "routerRemoteAccess" ng-change="change('routerRemoteAccess');" disabled>
                                        <label class="onoffswitch-label" for="routerRemoteAccess">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch tickswitch-switch"></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Public IP address:</strong></td> 
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="routerPublicIpAdd" ng-model="jobsheetData.routerPublicIpAdd" ng-change="change('routerPublicIpAdd');" disabled/></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-4">
                                <table class="table mb-0">
                                    <tr>
                                        <td style="width: 45%"><strong><u>Ext. no.</u></strong></td>
                                        <td style="width: 55%;text-align: center;"><strong><u>Ext. Name/Type (Dig Anlg, IP)</u></strong></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitNo1" ng-model="jobsheetData.exitNo1" ng-change="change('exitNo1');" disabled/></td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitName1" ng-model="jobsheetData.exitName1" ng-change="change('exitName1');" disabled/></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitNo2" ng-model="jobsheetData.exitNo2" ng-change="change('exitNo2');" disabled/></td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitName2" ng-model="jobsheetData.exitName2" ng-change="change('exitName2');" disabled/></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitNo3" ng-model="jobsheetData.exitNo3" ng-change="change('exitNo3');" disabled/></td>                                        
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitName3" ng-model="jobsheetData.exitName3" ng-change="change('exitName3');" disabled/></td>                                        
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitNo4" ng-model="jobsheetData.exitNo4" ng-change="change('exitNo4');" disabled/></td>                                        
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitName4" ng-model="jobsheetData.exitName4" ng-change="change('exitName4');" disabled/></td>                                        
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitNo5" ng-model="jobsheetData.exitNo5" ng-change="change('exitNo5');" disabled/></td>                                        
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitName5" ng-model="jobsheetData.exitName5" ng-change="change('exitName5');" disabled/></td>                                        
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitNo6" ng-model="jobsheetData.exitNo6" ng-change="change('exitNo6');" disabled/></td>                                        
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitName6" ng-model="jobsheetData.exitName6" ng-change="change('exitName6');" disabled/></td>                                        
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitNo7" ng-model="jobsheetData.exitNo7" ng-change="change('exitNo7');" disabled/></td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitName7" ng-model="jobsheetData.exitName7" ng-change="change('exitName7');" disabled/></td>                                        
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitNo8" ng-model="jobsheetData.exitNo8" ng-change="change('exitNo8');" disabled/></td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitName8" ng-model="jobsheetData.exitName8" ng-change="change('exitName8');" disabled/></td>                                        
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitNo9" ng-model="jobsheetData.exitNo9" ng-change="change('exitNo9');" disabled/></td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitName9" ng-model="jobsheetData.exitName9" ng-change="change('exitName9');" disabled/></td>                                        
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitNo10" ng-model="jobsheetData.exitNo10" ng-change="change('exitNo10');" disabled/></td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitName10" ng-model="jobsheetData.exitName10" ng-change="change('exitName10');" disabled/></td>                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitNo11" ng-model="jobsheetData.exitNo11" ng-change="change('exitNo11');" disabled/></td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitName11" ng-model="jobsheetData.exitName11" ng-change="change('exitName11');" disabled/></td>  
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitNo12" ng-model="jobsheetData.exitNo12" ng-change="change('exitNo12');" disabled/></td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitName12" ng-model="jobsheetData.exitName12" ng-change="change('exitName12');" disabled/></td>  
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitNo13" ng-model="jobsheetData.exitNo13" ng-change="change('exitNo13');" disabled/></td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitName13" ng-model="jobsheetData.exitName13" ng-change="change('exitName13');" disabled/></td>  
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitNo14" ng-model="jobsheetData.exitNo14" ng-change="change('exitNo14');" disabled/></td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitName14" ng-model="jobsheetData.exitName14" ng-change="change('exitName14');" disabled/></td>  
                                    </tr>
                                </table>
                            </div>
                            <div class="col-sm-4">
                                <table class="table mb-0">
                                    <tr>
                                        <td style="width: 45%"><strong><u>Ext. no.</u></strong></td>
                                        <td style="width: 55%;text-align: center;"><strong><u>Ext. Name/Type (Dig Anlg, IP)</u></strong></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitNo15" ng-model="jobsheetData.exitNo15" ng-change="change('exitNo15');" disabled/></td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitName15" ng-model="jobsheetData.exitName15" ng-change="change('exitName15');" disabled/></td>  
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitNo16" ng-model="jobsheetData.exitNo16" ng-change="change('exitNo16');" disabled/></td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitName16" ng-model="jobsheetData.exitName16" ng-change="change('exitName16');" disabled/></td>  
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitNo17" ng-model="jobsheetData.exitNo17" ng-change="change('exitNo17');" disabled/></td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitName17" ng-model="jobsheetData.exitName17" ng-change="change('exitName17');" disabled/></td>  
                                    </tr>
                                </table>
                                 <table class="table mb-0" >
                                    <tr>
                                        <td colspan="2"><strong><u>CCTV remote access details</u></strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 40%;">No. of channels:</td>
                                        <td style="width: 60%;"><input type="text" class="sheet-data no-bottom-border" name="noOfChannels" ng-model="jobsheetData.noOfChannels" ng-change="change('noOfChannels');" disabled/></td>  
                                    </tr>
                                    <tr>
                                        <td>Ext. IP address:</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="extIpAdd" ng-model="jobsheetData.extIpAdd" ng-change="change('extIpAdd');" disabled/></td>  
                                    </tr>
                                    <tr>
                                        <td>Int. IP address:</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="intIpAdd" ng-model="jobsheetData.intIpAdd" ng-change="change('intIpAdd');" disabled/></td>  
                                    </tr>
                                    <tr>
                                        <td>TCP/UDP port:</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="tcpPort" ng-model="jobsheetData.tcpPort" ng-change="change('tcpPort');" disabled/></td>  
                                    </tr>
                                    <tr>
                                        <td>Admin. U/n:</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="adminU" ng-model="jobsheetData.adminU" ng-change="change('adminU');" disabled/></td>  
                                    </tr>
                                    <tr>
                                        <td>Admin. P/w:</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="adminPass" ng-model="jobsheetData.adminPass" ng-change="change('adminPass');" disabled/></td>  
                                    </tr>
                                    <tr>
                                        <td>Mot or Cont Rec:</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="mot" ng-model="jobsheetData.mot" ng-change="change('mot');" disabled/></td>  
                                    </tr>
                                    <tr>
                                        <td colspan="2">Time & date set:
                                            <div class="input-group timeAndDateSet">
                                                <input class="form-control sheet-data" id="timeAndDateSet" name="timeAndDateSet" ng-model="jobsheetData.timeAndDateSet"  required type="text" ng-change="change('timeAndDateSet');" disabled>
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        
                                        </td>  
                                    </tr>
                                    <tr>
                                        <td>Client trained?:</td>
                                        <td>
                                            <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="clientTrained" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.clientTrained" ng-checked="jobsheetData.clientTrained==true"
                                                        ng-true-value=true ng-false-value=false  id = "clientTrained" ng-change="change('clientTrained');" disabled>
                                                <label class="onoffswitch-label" for="clientTrained">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                             <div class="col-sm-4">
                                <table class="table mb-0">
                                    <tr>
                                        <td colspan="2"><strong><u>Checklist</u></strong></td>
                                    </tr>
                                    <tr>
                                        <td>Day VMail:</td>
                                        <td>
                                            <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="dayVmail" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.dayVmail" ng-checked="jobsheetData.dayVmail==true"
                                                        ng-true-value=true ng-false-value=false  id = "dayVmail" ng-change="change('dayVmail');" disabled>
                                                <label class="onoffswitch-label" for="dayVmail">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Night VMail:</td>
                                        <td>
                                            <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="nightVmail" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.nightVmail" ng-checked="jobsheetData.nightVmail==true"
                                                        ng-true-value=true ng-false-value=false  id = "nightVmail" ng-change="change('nightVmail');" disabled>
                                                <label class="onoffswitch-label" for="nightVmail">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Auto attendant:</td>
                                        <td>
                                            <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="autoAttendant" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.autoAttendant" ng-checked="jobsheetData.autoAttendant==true"
                                                        ng-true-value=true ng-false-value=false  id = "autoAttendant" ng-change="change('autoAttendant');" disabled>
                                                <label class="onoffswitch-label" for="autoAttendant">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>EFTPOS tested:</td>
                                        <td>
                                            <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="eftposTested" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.eftposTested" ng-checked="jobsheetData.eftposTested==true"
                                                        ng-true-value=true ng-false-value=false  id = "eftposTested" ng-change="change('eftposTested');" disabled>
                                                <label class="onoffswitch-label" for="eftposTested">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Alarm tested:</td>
                                        <td>
                                            <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="alarmTested" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.alarmTested" ng-checked="jobsheetData.alarmTested==true"
                                                        ng-true-value=true ng-false-value=false  id = "alarmTested" ng-change="change('alarmTested');" disabled>
                                                <label class="onoffswitch-label" for="alarmTested">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Fax tested:</td>
                                        <td>
                                             <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="faxTested" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.faxTested" ng-checked="jobsheetData.faxTested==true"
                                                        ng-true-value=true ng-false-value=false  id = "faxTested" ng-change="change('faxTested');" disabled>
                                                <label class="onoffswitch-label" for="faxTested">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ADSL tested:</td>
                                        <td>
                                             <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="adslTested" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.adslTested" ng-checked="jobsheetData.adslTested==true"
                                                        ng-true-value=true ng-false-value=false  id = "adslTested" ng-change="change('adslTested');" disabled>
                                                <label class="onoffswitch-label" for="adslTested">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>PBX s/w upd.: <br><br>
                                        Ver.
                                        </td>
                                        <td>
                                             <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="pbx" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.pbx" ng-checked="jobsheetData.pbx==true"
                                                        ng-true-value=true ng-false-value=false  id = "pbx" ng-change="change('pbx');" disabled>
                                                <label class="onoffswitch-label" for="pbx">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                            <br><br>
                                            <input type="text" style="width: 75px;" maxlength="5" class="sheet-data" name="ver" ng-model="jobsheetData.ver" ng-change="change('ver');" disabled/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Licenses app.:</td>
                                        <td>
                                            <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="licensesApp" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.licensesApp" ng-checked="jobsheetData.licensesApp==true"
                                                        ng-true-value=true ng-false-value=false  id = "licensesApp" ng-change="change('licensesApp');" disabled>
                                                <label class="onoffswitch-label" for="licensesApp">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Database sent:</td>
                                        <td>
                                            <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="databaseSent" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.databaseSent" ng-checked="jobsheetData.databaseSent==true"
                                                        ng-true-value=true ng-false-value=false  id = "databaseSent" ng-change="change('databaseSent');" disabled>
                                                <label class="onoffswitch-label" for="databaseSent">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Photos sent:</td>
                                        <td>
                                            <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="photosSent" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.photosSent" ng-checked="jobsheetData.photosSent==true"
                                                        ng-true-value=true ng-false-value=false  id = "photosSent" ng-change="change('photosSent');" disabled>
                                                <label class="onoffswitch-label" for="photosSent">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table">
                                    <tr>
                                        <td colspan="5"><h4 class="text-center"><u>Line audit</u></h4></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 16%"><strong><u>System position</u></strong></td>
                                        <td style="width: 20%"><strong><u>Number</u></strong></td>
                                        <td style="width: 24%"><strong><u>Line type (eg PSTN, BRI, PRI, VoIP, SIP)</u></strong></td>
                                        <td style="width: 15%"><strong><u>Device</u></strong></td>
                                        <td style="width: 25%"><strong><u>Number</u></strong></td>
                                    </tr>
                                    <tr>
                                        <td>Line 1</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="systemNumber1" ng-model="jobsheetData.systemNumber1" ng-change="change('systemNumber1');" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="lineType1" ng-model="jobsheetData.lineType1" ng-change="change('lineType1');" disabled/></td>  
                                        <td>Fax</td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="fax" ng-model="jobsheetData.fax" ng-change="change('fax');" disabled/></td>  
                                    </tr>
                                    <tr>
                                        <td>Line 2</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="systemNumber2" ng-model="jobsheetData.systemNumber2" ng-change="change('systemNumber2');" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="lineType2" ng-model="jobsheetData.lineType2" ng-change="change('lineType2');" disabled/></td>  
                                        <td>Internet</td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="internet" ng-model="jobsheetData.internet" ng-change="change('internet');" disabled/></td>
                                    </tr>
                                    <tr>
                                        <td>Line 3</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="systemNumber3" ng-model="jobsheetData.systemNumber3" ng-change="change('systemNumber3');" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="lineType3" ng-model="jobsheetData.lineType3" ng-change="change('lineType3');" disabled/></td>  
                                        <td>EFTPOS</td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="eftpo" ng-model="jobsheetData.eftpo" ng-change="change('eftpo');" disabled/></td>
                                    </tr>
                                    <tr>
                                        <td>Line 4</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="systemNumber4" ng-model="jobsheetData.systemNumber4" ng-change="change('systemNumber4');" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="lineType4" ng-model="jobsheetData.lineType4" ng-change="change('lineType4');" disabled/></td>  
                                        <td>Alarm</td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="alarm" ng-model="jobsheetData.alarm" ng-change="change('alarm');" disabled/></td>
                                    </tr>
                                    <tr>
                                        <td>Line 5</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="systemNumber5" ng-model="jobsheetData.systemNumber5" ng-change="change('systemNumber5');" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="lineType5" ng-model="jobsheetData.lineType5" ng-change="change('lineType5');" disabled/></td>  
                                        <td>Other</td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="other" ng-model="jobsheetData.other" ng-change="change('other');" disabled/></td>
                                    </tr>
                                    <tr>
                                        <td>Line 6</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="systemNumber6" ng-model="jobsheetData.systemNumber6" ng-change="change('systemNumber6');" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="lineType6" ng-model="jobsheetData.lineType6" ng-change="change('lineType6');" disabled/></td>  
                                        <td colspan="2"><h4 class="text-center"><u>Stock Used</u></h4></td>
                                    </tr>
                                    <tr>
                                        <td>Line 7</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="systemNumber7" ng-model="jobsheetData.systemNumber7" ng-change="change('systemNumber7');" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="lineType7" ng-model="jobsheetData.lineType7" ng-change="change('lineType7');" disabled/></td>  
                                        <td>Qty</td>  
                                        <td>Part Name/Description</td>
                                    </tr>
                                    <tr>
                                        <td>Line 8</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="systemNumber8" ng-model="jobsheetData.systemNumber8" ng-change="change('systemNumber8');" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="lineType8" ng-model="jobsheetData.lineType8" ng-change="change('lineType8');" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="qty1" ng-model="jobsheetData.qty1" ng-change="change('qty1');" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="partName1" ng-model="jobsheetData.partName1" ng-change="change('partName1');" disabled/></td>
                                    </tr>
                                    <tr>
                                        <td>Line 9</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="systemNumber9" ng-model="jobsheetData.systemNumber9" ng-change="change('systemNumber9');" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="lineType9" ng-model="jobsheetData.lineType9" ng-change="change('lineType9');" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="qty2" ng-model="jobsheetData.qty2" ng-change="change('qty2');" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="partName2" ng-model="jobsheetData.partName2" ng-change="change('partName2');" disabled/></td>
                                    </tr>
                                    <tr>
                                        <td>Line 10</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="systemNumber10" ng-model="jobsheetData.systemNumber10" ng-change="change('systemNumber10');" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="lineType10" ng-model="jobsheetData.lineType10" ng-change="change('lineType10');" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="qty3" ng-model="jobsheetData.qty3" ng-change="change('qty3');" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="partName3" ng-model="jobsheetData.partName3" ng-change="change('partName3');" disabled/></td>
                                    </tr>
                                    <tr>
                                        <td>Line 11</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="systemNumber11" ng-model="jobsheetData.systemNumber11" ng-change="change('systemNumber11');" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="lineType11" ng-model="jobsheetData.lineType11" ng-change="change('lineType11');" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="qty4" ng-model="jobsheetData.qty4" ng-change="change('qty4');" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="partName4" ng-model="jobsheetData.partName4" ng-change="change('partName4');" disabled/></td>
                                    </tr>
                                    <tr>
                                        <td>Line 12</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="systemNumber12" ng-model="jobsheetData.systemNumber12" ng-change="change('systemNumber12');" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="lineType12" ng-model="jobsheetData.lineType12" ng-change="change('lineType12');" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="qty5" ng-model="jobsheetData.qty5" ng-change="change('qty5');" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="partName5" ng-model="jobsheetData.partName5" ng-change="change('partName5');" disabled/></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                     
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 card-body shadow bg-white mt-1">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="comment-area mb-5">
                            <h4 class="mt-1"><u>Comments/Special notes/Outstanding work + other notes:</u></h4>
                            <textarea name="comments" class="sheet-data" ng-model="jobsheetData.comments" col="40" ng-change="change('comments');" disabled></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 card-body shadow bg-white mt-1">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="sign-area">
                            <h4 class="mt-1 mb-1"><u>Customer Details</u></h4>
                            <table style="width: 100%">
                                <tr>
                                    <td style="width: 10%">Customer's name:</td>
                                    <td style="width: 17%"><input type="text" class="sheet-data" name="dName" ng-model="jobsheetData.dName" ng-change="change('dName');" disabled/></td>
                                    <td style="width: 15%;padding-left: 10px;">Customer's position:</td>
                                    <td style="width: 18%"><input type="text" class="sheet-data" name="cPosition" ng-model="jobsheetData.cPosition" ng-change="change('cPosition');" disabled/></td>
                                    <td style="width: 15%;padding-left: 10px;">Date:</td>
                                    <td style="width: 15%">{{updated_at}}</td>
                                    <td style="width: 10%"></td>

                                </tr>
                                <!-- <tr>
                                    <td style="width: 12%">Technician's name:</td>
                                    <td style="width: 20%"><input type="text" class="sheet-data no-bottom-border" name="technicianName" ng-model="jobsheetData.technicianName" ng-change="change('');" disabled/></td>
                                    <td style="width: 15%;padding-left: 10px;">Technician's Signature</td>
                                    <td style="width: 25%" id="configWitnessSd" class="greenText signature signatureImg signItem" ng-click="sign('configWitnessSd')">
                                        <img class='imported' ng-src="{{userSign}}" ng-if="userSign" height="36" height=36 ></img>
                                        <div class='signTimeStamp' style='font-weight:300;font-size:8pt' ng-if="userSign">{{getCurrentDate()}}</div>
                                        <span ng-if="!userSign">
                                            <span ng-if="!isSigned('configWitnessSd') && !isDraftMode()">Witness Signature here</span>
                                        </span>
                                    </td>
                                    <td style="width: 14%;padding-left: 10px;">Date:</td>
                                    <td style="width: 14%">{{getCurrentDate()}}</td>
                                </tr> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <flash-message></flash-message> -->

<div ng-include="'/templates/jobsheets/footer.html'"></div>
