<style>
.chartjs-render-monitor {
    height: 485px !important;
}
.highcharts-credits {
    display: none;
}
.btn-search {
    border-radius: 25px;
    height: 50px;
    width: 50px;
    border: none;
}
.modal-header {
    border-bottom: none;
}
.m-3 {
    margin: 3rem;
}
.m-1 {
    margin: 1rem;
}
.mt-0 {
    margin-top: 0;
}
.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.p-0 {
    padding: 0 !important;
}
.pt-0 {
    padding-top: 0;
}
.p-25 {
    padding: .25rem !important;
}
.pl-2 {
    padding-left: 2rem !important;
}
.p-text {
    color: #ada8a8;
}
.p-20 {
    padding: 20px;
}
.mt-1 {
    margin-top: 1rem;
}
.mb-5 {
    margin-bottom: 5rem;
}
.shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}
.form-search, .form-submit {
    height: 50px;
}
.bg-white {
    background: white;
}
input {
    width: 100%;
    border: none;
    height: 30px;
    padding-left: 10px;
    border-bottom: 1px solid #bfbfbf;
}
input:hover, textarea:hover {
    background: #f7f7f7;
}
.form-search:hover {
    background: none;
}
input.no-bottom-border {
    border-bottom: none;
}
input:focus, input:active {
    border: 2px solid white !important;
}
input:disabled, textarea:disabled {
    background: #f3f3f3;
}
textarea {
    height: 170px;
    border: none;
    border-bottom: 1px solid #e7eaec;
}
.comment-area {
    height: 200px;
}
.sign-area {
    height: 200px;
}
.sign-area h4 {
    color: #0489cc;
}
table.table td {
    border-top: none;
    border-bottom: 1px solid #e7eaec;
}
.onoffswitch-switch {
    margin-bottom: 0px;
}
.onoffswitch-inner:after, .tick .onoffswitch-switch {
    background-color: #e31e25;
}
i.fa-check {
    color: green;
}
i.fa-times {
    color: red;
}
.btn-edit i {
    color: white;
}
.bg-green, .bg-green:focus,  .bg-green:visited   {
    background-color: green;
}
.bg-green:hover {
    background-color: #039803;
}
.c-green {
    color: green;
    font-size: 17px;
}
.c-black {
    color: black;
}
.c-yellow {
    color: #f6c23e;
}
#results-content {
    width: 100%;
    padding: 10px;
    max-height: 400px;
    overflow-x: hidden; 
    overflow-y: auto;
}

#results-content .items {
    margin-bottom: 10px;
    background-color: white;
}
#results-content .items:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}
#results-content .items .content-area {
    padding: 10px;
}
#results-content .items .content-area span {
    font-size: 12px;
    font-weight: 700;
}
.tick.disabled {
    opacity: .5;
}
.show.collapse.in .card-body {
    display: block;
}
.show.collapse .card-body {
    display: none;
}
.alert-success {
    width: 235px;
    right: 35px;
    position: fixed;
    height: 90px;
    bottom: 25px;
}
.ngdialog-content {
    width: 1000px !important;
}
.hide {
    visibility: hidden;
}
.show {
    visibility: visible;
}
.loading {
	position: fixed;
	z-index: 999;
	height: 2em;
	width: 2em;
	overflow: show;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.btn-add {
    background: red;
    border-radius: 20px;
    color: white;
}
.btn-add:hover, .btn-add:visited, .btn-add:focus  {
    color: white;
    background: #fb3232;
}
.nav-buttons {
    height: 65px;
}

.nav-buttons .btn-primary{
    height: 50px;
    width: 100%;
    max-width: 50px;
    margin-left: 3px;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition: all .3s ease-in-out;
    border: 0px;
    color: #fff;
}
.nav-buttons .btn-primary:hover{
    -webkit-transform: scale(1.1);
    background: #f70009;
}
.nav-buttons .btn-primary.bg-green:hover{
    -webkit-transform: scale(1.1);
    background: #007d00;
}
.nav-buttons  span {
    position: absolute;
    bottom: -17px;
    display: none;
    font-size: 9px;
    width: 100%;
}
.in-grid {
    display: inline-grid;
    text-align: center;
    width: 55px;
}
.in-grid:hover > span {
    display: inline-flex;
}
.disabled {
    pointer-events:none;
    background: #f3f3f3;

}
#no-bottom-border {
    border-bottom: none !important;
}
.type-options {
    margin-bottom: 20px;
}
.type-options input.type {
    opacity: 1;
    margin: 0 0 10px 0;
}
.type-options span {
    padding-left: 30px;
}
input[type=checkbox].cctv {
    float: right;
    opacity: 1;
    position: relative;
}
</style>
<link rel="canonical" href="https://startbootstrap.com/previews/sb-admin-2/">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link rel="stylesheet" href="/assets/js/datatables.bootstrap.css">
<link rel="stylesheet" href="/assets/css/dashboard.statistics.css">
<link rel="stylesheet" type="text/css" href="/assets/js/buttons.datatables.min.css"/>
<div class="row wrapper border-bottom white-transparent page-heading">
    <div class="loading" ng-show="loading">
        <img src="/assets/images/Preloader_3.gif" style="border: none !important;"> 
    </div>
  <div class="container">
      <div class="row">
        <h2>Job Sheets # <b>{{jobsheetData.number}}</b></h2>
        <p class="mb-0" ng-if="status == 'Completed'">Status: <b>Completed </b><i class="fa fa-check-circle-o c-green" aria-hidden="true" style="font-size: 2em;"></i></p>
        <p class="mb-0" ng-if="status == 'draft'">Status: <b>On process </b><i class="fa fa-spinner c-yellow fa-2x" style="" aria-hidden="true"></i></p>
        <p class="mb-0" ng-if="type == '1'">Type: <b>Install </b></p>
        <p class="mb-0" ng-if="type == '2'">Type: <b>Service </b></p>
     </div>
  </div>
  <div class="container">
        <div class="row my-2">
            <div class="col-sm-12">
                <form class=" d-sm-inline-block form-inline mr-auto ml-sm-3 my-2 my-sm-0 mw-100 navbar-search float-right nav-buttons">
                    <div class="input-group">
                      <div class="input-group-append">
                            <div class="in-grid">
                                <button class="btn-search btn-primary" type="button" data-toggle="modal" data-target="#searchModal">
                                    <i class="fa fa-search fa-sm"></i>
                                </button>
                                <span>Search Job sheet</span>
                            </div>
                            <div class="in-grid" ng-if="jobsheetData.workStatus == 'editing'">
                                <button class="btn-search btn-primary" type="button" data-toggle="modal" data-target="#addModal">
                                    <i class="fa fa-plus fa-sm"></i>
                                </button>
                                <span>Add Job sheet</span>
                            </div>
                            <div class="in-grid" ng-if="jobsheetData.workStatus == 'view'">
                                <button class="btn-search btn-primary btn-edit" type="button" ng-click="edit(jobsheetData.id);">
                                    <i class="fa fa-pencil fa-sm"></i>
                                </button>
                                <span>Edit Job sheet</span>
                            </div>
                            <div class="in-grid" ng-if="jobsheetData.workStatus == 'editing'">
                                <button class="btn-search btn-primary btn-edit bg-green" type="button" ng-click="save(jobsheetData.id);">
                                    <i class="fa fa-check fa-sm"></i>
                                </button>
                                <span>Save changes</span>
                            </div>
                            <div class="in-grid" ng-if="jobsheetData.workStatus == 'editing'">
                                <button class="btn-search btn-primary" type="button" ng-click="signDocument('search-customers' ,jobsheetData);" >
                                    <i class="fa fa-eye fa-sm"></i>
                                </button>
                                <span>Preview & sign</span>
                            </div>
                            <div class="in-grid" ng-if="jobsheetData.workStatus == 'editing'">
                                <button class="btn-search btn-primary" type="button" ng-click="downloadPdf(jobsheetData.id);" >
                                    <i class="fa fa-download fa-sm"></i>
                                </button>
                                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Finish</span>
                            </div>
                       
                      </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 card-body shadow bg-white mt-1">
                <div class="row">
                    <h1 style="color: #0489cc;text-align: center;font-size: 30px;"><b> JOB SHEET & TELEPHONE/CCTV SYSTEM DATA COLLECTION</b></h1>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <h4 class="mt-1">Company Name:</h4>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="cname" name="companyName" ng-model="jobsheetData.companyName" ng-click="change('companyName');" disabled/>
                    </div>
                    <div class="col-sm-4">
                         <div class="row">
                            <div class="col-sm-5">
                                <h4 class="mt-1">Start time:</h4>
                            </div>
                            <div class="col-sm-7" style="padding: 0px 15px 0px 0px;">
                                <div class="input-group startTime">
                                    <input class="form-control sheet-data" id="startTime" name="startTime" ng-model="jobsheetData.startTime"  required type="text" ng-click="change();" disabled>
                                    <span class="input-group-addon" ng-click="change();">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-sm-2">
                        <h4 class="mt-1">Address:</h4>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="sheet-data" name="address" ng-model="jobsheetData.address" ng-change="change();" disabled/>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-5">
                                <h4 class="mt-1">Finish time:</h4>
                            </div>
                            <div class="col-sm-7" style="padding: 0px 15px 0px 0px;">
                                <div class="input-group finishTime">
                                    <input class="form-control sheet-data" id="finishTime" name="finishTime" ng-model="jobsheetData.finishTime"  required type="text" ng-click="change();" disabled>
                                    <span class="input-group-addon" ng-click="change();">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 card-body shadow bg-white mt-1">
                <div class="row">
                    <div class="col-sm-4">
                        <h4 class="mt-1 text-center" ng-if="type == '1'"><u>Equipment Installed</u></h4>
                        <table class="table" ng-if="type == '1'">
                            <tr>
                                <td style="width: 53%"><strong>System brand & model:</strong></td>
                                <td class="text-right" style="width: 47%"><input type="text" class="sheet-data no-bottom-border" name="systemBrand" ng-model="jobsheetData.systemBrand" ng-change="change();" disabled /></td>
                            </tr>
                            <tr>
                                <td><strong>No. of handsets/cameras:</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="noOfHandsets" ng-model="jobsheetData.noOfHandsets" ng-change="change();" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>Type of handset/camera (IP, Dig.):</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="typeOfHandset" ng-model="jobsheetData.typeOfHandset" ng-change="change();" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>No. of cordless phones:	</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="noOfCordless" ng-model="jobsheetData.noOfCordless" ng-change="change();" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>Type of cordless (IP, Dig. or Anlg.):</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="typeOfCordless" ng-model="jobsheetData.typeOfCordless" ng-change="change();" disabled/></td>
                            </tr>
                             <tr  data-ng-repeat="(index, schAddItem) in jobsheetData.schAddItems track by $index">
                                <td><strong>Other equipment {{index + 1}}:</strong></td> 
                                <td class="text-right"><input type="text" ng-class="{'sheet-data no-bottom-border disabled':jobsheetData.workStatus=='view'}" name="otherEqpt[index]" id="no-bottom-border" ng-model="jobsheetData.otherEqpt[index]" ng-change="change();" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <button style='margin-bottom:20px;' class="btn sheet-data btn-add pull-right" type="button" ng-click="addOtherEquip(index)" disabled> + </button>
                                </td>
                            </tr>
                        </table>
                        <h4 class="mt-1 text-center"><u>PBX remote access details</u></h4>
                        <h5 class="text=left"><u>Phone system information:</u></h5>
                        <table class="table">
                             <tr ng-if="type == '2'"> 
                                <td style="width: 53%"><strong>System brand & model:</strong></td>
                                <td class="text-right" style="width: 47%"><input type="text" class="sheet-data no-bottom-border" name="systemBrand" ng-model="jobsheetData.systemBrand" ng-change="change();" disabled /></td>
                            </tr>
                            <tr>
                                <td style="width: 53%"><strong>Local IP address:</strong></td>
                                <td class="text-right" style="width: 47%"><input type="text" class="sheet-data no-bottom-border" name="phoneLocalIp" ng-model="jobsheetData.phoneLocalIp" ng-change="change();" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>Username:</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="phoneUsername" ng-model="jobsheetData.phoneUsername" ng-change="change();" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>Password:</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="phonePassword" ng-model="jobsheetData.phonePassword" ng-change="change();" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>Phone System brand and model:</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="phoneSystemBrand" ng-model="jobsheetData.phoneSystemBrand" ng-change="change();" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>HTTP/Web Pro port:</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="phoneWebProPort" ng-model="jobsheetData.phoneWebProPort" ng-change="change();" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>HTTP/PC Pro port:</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="phonePcProPort" ng-model="jobsheetData.phonePcProPort" ng-change="change();" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>Trunk type:	</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="phoneTrunkType" ng-model="jobsheetData.phoneTrunkType" ng-change="change();" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>PABX gateway:</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="phonePabxGateway" ng-model="jobsheetData.phonePabxGateway" ng-change="change();" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>Remote access?:</strong></td>
                                <td>
                                    <div class="onoffswitch tick disabled" ng-click="">
                                        <input type="checkbox" name="phoneRemoteAccess" class="sheet-data finance onoffswitch-checkbox"
                                                ng-model="jobsheetData.phoneRemoteAccess" ng-checked="jobsheetData.phoneRemoteAccess==true"
                                                ng-true-value=true ng-false-value=false  id ="phoneRemoteAccess" ng-change="change('phoneRemoteAccess', jobsheetData.phoneRemoteAccess);" disabled>
                                        <label class="onoffswitch-label" for="phoneRemoteAccess">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch tickswitch-switch"></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td ng-class="{'contactTrigger hide':jobsheetData.phoneRemoteAccess!=true}" ><strong>Contact No.:</strong></td>
                                <td  ng-class="{'contactTrigger hide':jobsheetData.phoneRemoteAccess!=true}" ><input type="text" class="sheet-data remoteContactNo no-bottom-border" id="remoteContactNo" name="remoteContactNo" ng-model="jobsheetData.remoteContactNo" ng-change="change();" disabled /></td>
                            </tr>
                            <tr>
                                <td><strong>Public IP address:</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="phonePublicIp" ng-model="jobsheetData.phonePublicIp" ng-change="change();" disabled/></td>
                            </tr>
                            <tr>
                                <td><h5 class="text=left"><u>Router information:</u></h5></td><td></td>
                            </tr>
                            <tr>
                                <td><strong>IP address:</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="routerIpAddress" ng-model="jobsheetData.routerIpAddress" ng-change="change();" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>Username:</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="routerUsername" ng-model="jobsheetData.routerUsername" ng-change="change();" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>Password:</strong></td> 
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="routerPassword" ng-model="jobsheetData.routerPassword" ng-change="change();" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>Internet technology::</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="routerInternetTechnology" ng-model="jobsheetData.routerInternetTechnology" ng-change="change();" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>Wireless name:</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="routerWirelessName" ng-model="jobsheetData.routerWirelessName" ng-change="change();" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>Remote access?:</strong></td> 
                                <td>
                                    <div class="onoffswitch tick disabled" ng-click="">
                                        <input type="checkbox" name="routerRemoteAccess" class="sheet-data finance onoffswitch-checkbox"
                                                ng-model="jobsheetData.routerRemoteAccess" ng-checked="jobsheetData.routerRemoteAccess==true"
                                                ng-true-value=true ng-false-value=false  id = "routerRemoteAccess" ng-change="change();" disabled>
                                        <label class="onoffswitch-label" for="routerRemoteAccess">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch tickswitch-switch"></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Public IP address:</strong></td> 
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="routerPublicIpAdd" ng-model="jobsheetData.routerPublicIpAdd" ng-change="change();" disabled/></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-4">
                                <table class="table mb-0">
                                    <tr>
                                        <td style="width: 45%"><strong><u>Ext. no.</u></strong></td>
                                        <td style="width: 55%;text-align: center;"><strong><u>Ext. Name/Type (Dig Anlg, IP)</u></strong></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitNo1" ng-model="jobsheetData.exitNo1" ng-change="change();" disabled/></td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitName1" ng-model="jobsheetData.exitName1" ng-change="change();" disabled/></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitNo2" ng-model="jobsheetData.exitNo2" ng-change="change();" disabled/></td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitName2" ng-model="jobsheetData.exitName2" ng-change="change();" disabled/></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitNo3" ng-model="jobsheetData.exitNo3" ng-change="change();" disabled/></td>                                        
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitName3" ng-model="jobsheetData.exitName3" ng-change="change();" disabled/></td>                                        
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitNo4" ng-model="jobsheetData.exitNo4" ng-change="change();" disabled/></td>                                        
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitName4" ng-model="jobsheetData.exitName4" ng-change="change();" disabled/></td>                                        
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitNo5" ng-model="jobsheetData.exitNo5" ng-change="change();" disabled/></td>                                        
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitName5" ng-model="jobsheetData.exitName5" ng-change="change();" disabled/></td>                                        
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitNo6" ng-model="jobsheetData.exitNo6" ng-change="change();" disabled/></td>                                        
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitName6" ng-model="jobsheetData.exitName6" ng-change="change();" disabled/></td>                                        
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitNo7" ng-model="jobsheetData.exitNo7" ng-change="change();" disabled/></td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitName7" ng-model="jobsheetData.exitName7" ng-change="change();" disabled/></td>                                        
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitNo8" ng-model="jobsheetData.exitNo8" ng-change="change();" disabled/></td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitName8" ng-model="jobsheetData.exitName8" ng-change="change();" disabled/></td>                                        
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitNo9" ng-model="jobsheetData.exitNo9" ng-change="change();" disabled/></td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitName9" ng-model="jobsheetData.exitName9" ng-change="change();" disabled/></td>                                        
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitNo10" ng-model="jobsheetData.exitNo10" ng-change="change();" disabled/></td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitName10" ng-model="jobsheetData.exitName10" ng-change="change();" disabled/></td>                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitNo11" ng-model="jobsheetData.exitNo11" ng-change="change();" disabled/></td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitName11" ng-model="jobsheetData.exitName11" ng-change="change();" disabled/></td>  
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitNo12" ng-model="jobsheetData.exitNo12" ng-change="change();" disabled/></td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitName12" ng-model="jobsheetData.exitName12" ng-change="change();" disabled/></td>  
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitNo13" ng-model="jobsheetData.exitNo13" ng-change="change();" disabled/></td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitName13" ng-model="jobsheetData.exitName13" ng-change="change();" disabled/></td>  
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitNo14" ng-model="jobsheetData.exitNo14" ng-change="change();" disabled/></td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitName14" ng-model="jobsheetData.exitName14" ng-change="change();" disabled/></td>  
                                    </tr>
                                </table>
                            </div>
                            <div class="col-sm-4">
                                <table class="table mb-0">
                                    <tr>
                                        <td style="width: 45%"><strong><u>Ext. no.</u></strong></td>
                                        <td style="width: 55%;text-align: center;"><strong><u>Ext. Name/Type (Dig Anlg, IP)</u></strong></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitNo15" ng-model="jobsheetData.exitNo15" ng-change="change();" disabled/></td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitName15" ng-model="jobsheetData.exitName15" ng-change="change();" disabled/></td>  
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitNo16" ng-model="jobsheetData.exitNo16" ng-change="change();" disabled/></td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitName16" ng-model="jobsheetData.exitName16" ng-change="change();" disabled/></td>  
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitNo17" ng-model="jobsheetData.exitNo17" ng-change="change();" disabled/></td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="exitName17" ng-model="jobsheetData.exitName17" ng-change="change();" disabled/></td>  
                                    </tr>
                                </table>
                                 <table class="table mb-0">
                                    <tr>
                                        <td colspan="2"><strong><u>CCTV remote access details</u></strong>
                                            <input type="checkbox" class="cctv sheet-data no-bottom-border" name="cctv" ng-model="jobsheetData.cctvDisplay"  value="1" ng-checked="jobsheetData.cctvDisplay" ng-change="cctvDisplay();" disabled> 
                                        </td>
                                    
                                    </tr>
                                 </table>   
                                <table class="table mb-0 cctv" ng-class="{'hide':jobsheetData.cctvDisplay!=true}">
                                    <tr>
                                        <td>No. of channels:</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="noOfChannels" ng-model="jobsheetData.noOfChannels" ng-change="change();" disabled/></td>  
                                    </tr>
                                    <tr>
                                        <td>Ext. IP address:</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="extIpAdd" ng-model="jobsheetData.extIpAdd" ng-change="change();" disabled/></td>  
                                    </tr>
                                    <tr>
                                        <td>Int. IP address:</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="intIpAdd" ng-model="jobsheetData.intIpAdd" ng-change="change();" disabled/></td>  
                                    </tr>
                                    <tr>
                                        <td>TCP/UDP port:</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="tcpPort" ng-model="jobsheetData.tcpPort" ng-change="change();" disabled/></td>  
                                    </tr>
                                    <tr>
                                        <td>Admin. U/n:</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="adminU" ng-model="jobsheetData.adminU" ng-change="change();" disabled/></td>  
                                    </tr>
                                    <tr>
                                        <td>Admin. P/w:</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="adminPass" ng-model="jobsheetData.adminPass" ng-change="change();" disabled/></td>  
                                    </tr>
                                    <tr>
                                        <td>Mot or Cont Rec:</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="mot" ng-model="jobsheetData.mot" ng-change="change();" disabled/></td>  
                                    </tr>
                                    <tr>
                                        <td colspan="2">Time & date set:
                                            <div class="input-group timeAndDateSet">
                                                <input class="form-control sheet-data" id="timeAndDateSet" name="timeAndDateSet" ng-model="jobsheetData.timeAndDateSet"  required type="text" ng-change="change();" disabled>
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        
                                        </td>  
                                    </tr>
                                    <tr>
                                        <td>Client trained?:</td>
                                        <td>
                                            <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="clientTrained" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.clientTrained" ng-checked="jobsheetData.clientTrained==true"
                                                        ng-true-value=true ng-false-value=false  id = "clientTrained" ng-change="change();" disabled>
                                                <label class="onoffswitch-label" for="clientTrained">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                             <div class="col-sm-4">
                                <table class="table mb-0">
                                    <tr>
                                        <td colspan="2"><strong><u>Checklist</u></strong></td>
                                    </tr>
                                    <tr>
                                        <td>Day VMail:</td>
                                        <td>
                                            <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="dayVmail" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.dayVmail" ng-checked="jobsheetData.dayVmail==true"
                                                        ng-true-value=true ng-false-value=false  id = "dayVmail" ng-change="change();" disabled>
                                                <label class="onoffswitch-label" for="dayVmail">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Night VMail:</td>
                                        <td>
                                            <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="nightVmail" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.nightVmail" ng-checked="jobsheetData.nightVmail==true"
                                                        ng-true-value=true ng-false-value=false  id = "nightVmail" ng-change="change();" disabled>
                                                <label class="onoffswitch-label" for="nightVmail">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Auto attendant:</td>
                                        <td>
                                            <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="autoAttendant" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.autoAttendant" ng-checked="jobsheetData.autoAttendant==true"
                                                        ng-true-value=true ng-false-value=false  id = "autoAttendant" ng-change="change();" disabled>
                                                <label class="onoffswitch-label" for="autoAttendant">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>EFTPOS tested:</td>
                                        <td>
                                            <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="eftposTested" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.eftposTested" ng-checked="jobsheetData.eftposTested==true"
                                                        ng-true-value=true ng-false-value=false  id = "eftposTested" ng-change="change();" disabled>
                                                <label class="onoffswitch-label" for="eftposTested">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Alarm tested:</td>
                                        <td>
                                            <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="alarmTested" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.alarmTested" ng-checked="jobsheetData.alarmTested==true"
                                                        ng-true-value=true ng-false-value=false  id = "alarmTested" ng-change="change();" disabled>
                                                <label class="onoffswitch-label" for="alarmTested">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Fax tested:</td>
                                        <td>
                                             <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="faxTested" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.faxTested" ng-checked="jobsheetData.faxTested==true"
                                                        ng-true-value=true ng-false-value=false  id = "faxTested" ng-change="change();" disabled>
                                                <label class="onoffswitch-label" for="faxTested">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ADSL tested:</td>
                                        <td>
                                             <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="adslTested" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.adslTested" ng-checked="jobsheetData.adslTested==true"
                                                        ng-true-value=true ng-false-value=false  id = "adslTested" ng-change="change();" disabled>
                                                <label class="onoffswitch-label" for="adslTested">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>PBX s/w upd.: <br><br>
                                        Ver.
                                        </td>
                                        <td>
                                             <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="pbx" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.pbx" ng-checked="jobsheetData.pbx==true"
                                                        ng-true-value=true ng-false-value=false  id = "pbx" ng-change="change();" disabled>
                                                <label class="onoffswitch-label" for="pbx">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                            <br><br>
                                            <input type="text" style="width: 75px;" maxlength="5" class="sheet-data" name="ver" ng-model="jobsheetData.ver" ng-change="change();" disabled/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Licenses app.:</td>
                                        <td>
                                            <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="licensesApp" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.licensesApp" ng-checked="jobsheetData.licensesApp==true"
                                                        ng-true-value=true ng-false-value=false  id = "licensesApp" ng-change="change();" disabled>
                                                <label class="onoffswitch-label" for="licensesApp">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Database sent:</td>
                                        <td>
                                            <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="databaseSent" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.databaseSent" ng-checked="jobsheetData.databaseSent==true"
                                                        ng-true-value=true ng-false-value=false  id = "databaseSent" ng-change="change();" disabled>
                                                <label class="onoffswitch-label" for="databaseSent">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Photos sent:</td>
                                        <td>
                                            <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="photosSent" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.photosSent" ng-checked="jobsheetData.photosSent==true"
                                                        ng-true-value=true ng-false-value=false  id = "photosSent" ng-change="change();" disabled>
                                                <label class="onoffswitch-label" for="photosSent">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table" ng-if="type == '1'">
                                    <tr>
                                        <td colspan="5"><h4 class="text-center"><u>Line audit</u></h4></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 16%"><strong><u>System position</u></strong></td>
                                        <td style="width: 20%"><strong><u>Number</u></strong></td>
                                        <td style="width: 24%"><strong><u>Line type (eg PSTN, BRI, PRI, VoIP, SIP)</u></strong></td>
                                        <td style="width: 15%"><strong><u>Device</u></strong></td>
                                        <td style="width: 25%"><strong><u>Number</u></strong></td>
                                    </tr>
                                    <tr>
                                        <td>Line 1</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="systemNumber1" ng-model="jobsheetData.systemNumber1" ng-change="change();" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="lineType1" ng-model="jobsheetData.lineType1" ng-change="change();" disabled/></td>  
                                        <td>Fax</td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="fax" ng-model="jobsheetData.fax" ng-change="change();" disabled/></td>  
                                    </tr>
                                    <tr>
                                        <td>Line 2</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="systemNumber2" ng-model="jobsheetData.systemNumber2" ng-change="change();" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="lineType2" ng-model="jobsheetData.lineType2" ng-change="change();" disabled/></td>  
                                        <td>Internet</td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="internet" ng-model="jobsheetData.internet" ng-change="change();" disabled/></td>
                                    </tr>
                                    <tr>
                                        <td>Line 3</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="systemNumber3" ng-model="jobsheetData.systemNumber3" ng-change="change();" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="lineType3" ng-model="jobsheetData.lineType3" ng-change="change();" disabled/></td>  
                                        <td>EFTPOS</td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="eftpo" ng-model="jobsheetData.eftpo" ng-change="change();" disabled/></td>
                                    </tr>
                                    <tr>
                                        <td>Line 4</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="systemNumber4" ng-model="jobsheetData.systemNumber4" ng-change="change();" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="lineType4" ng-model="jobsheetData.lineType4" ng-change="change();" disabled/></td>  
                                        <td>Alarm</td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="alarm" ng-model="jobsheetData.alarm" ng-change="change();" disabled/></td>
                                    </tr>
                                    <tr>
                                        <td>Line 5</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="systemNumber5" ng-model="jobsheetData.systemNumber5" ng-change="change();" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="lineType5" ng-model="jobsheetData.lineType5" ng-change="change();" disabled/></td>  
                                        <td>Other</td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="other" ng-model="jobsheetData.other" ng-change="change();" disabled/></td>
                                    </tr>
                                    <tr>
                                        <td>Line 6</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="systemNumber6" ng-model="jobsheetData.systemNumber6" ng-change="change();" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="lineType6" ng-model="jobsheetData.lineType6" ng-change="change();" disabled/></td>  
                                        <td colspan="2"><h4 class="text-center"><u>Stock Used</u></h4></td>
                                    </tr>
                                    <tr>
                                        <td>Line 7</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="systemNumber7" ng-model="jobsheetData.systemNumber7" ng-change="change();" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="lineType7" ng-model="jobsheetData.lineType7" ng-change="change();" disabled/></td>  
                                        <td>Qty</td>  
                                        <td>Part Name/Description</td>
                                    </tr>
                                    <tr>
                                        <td>Line 8</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="systemNumber8" ng-model="jobsheetData.systemNumber8" ng-change="change();" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="lineType8" ng-model="jobsheetData.lineType8" ng-change="change();" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="qty1" ng-model="jobsheetData.qty1" ng-change="change();" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="partName1" ng-model="jobsheetData.partName1" ng-change="change();" disabled/></td>
                                    </tr>
                                    <tr>
                                        <td>Line 9</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="systemNumber9" ng-model="jobsheetData.systemNumber9" ng-change="change();" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="lineType9" ng-model="jobsheetData.lineType9" ng-change="change();" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="qty2" ng-model="jobsheetData.qty2" ng-change="change();" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="partName2" ng-model="jobsheetData.partName2" ng-change="change();" disabled/></td>
                                    </tr>
                                    <tr>
                                        <td>Line 10</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="systemNumber10" ng-model="jobsheetData.systemNumber10" ng-change="change();" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="lineType10" ng-model="jobsheetData.lineType10" ng-change="change();" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="qty3" ng-model="jobsheetData.qty3" ng-change="change();" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="partName3" ng-model="jobsheetData.partName3" ng-change="change();" disabled/></td>
                                    </tr>
                                    <tr>
                                        <td>Line 11</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="systemNumber11" ng-model="jobsheetData.systemNumber11" ng-change="change();" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="lineType11" ng-model="jobsheetData.lineType11" ng-change="change();" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="qty4" ng-model="jobsheetData.qty4" ng-change="change();" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="partName4" ng-model="jobsheetData.partName4" ng-change="change();" disabled/></td>
                                    </tr>
                                    <tr>
                                        <td>Line 12</td>
                                        <td><input type="text" class="sheet-data no-bottom-border" name="systemNumber12" ng-model="jobsheetData.systemNumber12" ng-change="change();" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="lineType12" ng-model="jobsheetData.lineType12" ng-change="change();" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="qty5" ng-model="jobsheetData.qty5" ng-change="change();" disabled/></td>  
                                        <td><input type="text" class="sheet-data no-bottom-border" name="partName5" ng-model="jobsheetData.partName5" ng-change="change();" disabled/></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                     
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 card-body shadow bg-white mt-1">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="comment-area mb-5">
                            <h4 class="mt-1"><u>Comments/Special notes/Outstanding work + other notes:</u></h4>
                            <textarea name="comments" class="sheet-data" ng-model="jobsheetData.comments" col="40" ng-change="change();" disabled></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 card-body shadow bg-white mt-1">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="sign-area">
                            <h4 class="mt-1 mb-1"><u>Customer Details</u></h4>
                            <table style="width: 100%">
                                <tr>
                                    <td style="width: 10%">Customer's name:</td>
                                    <td style="width: 17%"><input type="text" class="sheet-data" name="dName" ng-model="jobsheetData.dName" ng-change="change();" disabled/></td>
                                    <td style="width: 15%;padding-left: 10px;">Customer's position:</td>
                                    <td style="width: 18%"><input type="text" class="sheet-data" name="cPosition" ng-model="jobsheetData.cPosition" ng-change="change();" disabled/></td>
                                    <td style="width: 15%;padding-left: 10px;">Date:</td>
                                    <td style="width: 15%">{{updated_at}}</td>
                                    <td style="width: 10%"></td>

                                </tr>
                                <!-- <tr>
                                    <td style="width: 12%">Technician's name:</td>
                                    <td style="width: 20%"><input type="text" class="sheet-data no-bottom-border" name="technicianName" ng-model="jobsheetData.technicianName" ng-change="change();" disabled/></td>
                                    <td style="width: 15%;padding-left: 10px;">Technician's Signature</td>
                                    <td style="width: 25%" id="configWitnessSd" class="greenText signature signatureImg signItem" ng-click="sign('configWitnessSd')">
                                        <img class='imported' ng-src="{{userSign}}" ng-if="userSign" height="36" height=36 ></img>
                                        <div class='signTimeStamp' style='font-weight:300;font-size:8pt' ng-if="userSign">{{getCurrentDate()}}</div>
                                        <span ng-if="!userSign">
                                            <span ng-if="!isSigned('configWitnessSd') && !isDraftMode()">Witness Signature here</span>
                                        </span>
                                    </td>
                                    <td style="width: 14%;padding-left: 10px;">Date:</td>
                                    <td style="width: 14%">{{getCurrentDate()}}</td>
                                </tr> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <flash-message></flash-message> -->


</div>
</div>
<!-- Modal Search -->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center" id="searchModalLabel">Find a Customer.</h3>
                <p class="m-1 text-center p-text">Use the company name to search</p>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form id="jobsheetData">
                            <div class="form-group">
                                <input type="text" class="form-control form-search shadow" id="" name="searchValue" ng-model="jobsheetData.searchValue" placeholder="Company Name...">
                            </div>
                            <button class="btn btn-primary btn-submit btn-block form-submit shadow" ng-click="search(jobsheetData.searchValue);">
                                Search
                            </button>
                            <hr>
                        </form>
                    </div>
                </div>
                <div class="row search-results d-none">
                    <div class="col-sm-12">
                        <h3 class="text-center">Search Results</h3>
                        <div class="tbl-results" id="results-content" ng-if="jobsheetData.search.results != ''">
                            <div class="items " ng-repeat="(index, result) in jobsheetData.search.counts track by $index">
                               <div class="accordion content-area  shadow" id="accordionExample"  data-toggle="collapse" data-target="#{{index}}" aria-expanded="true" aria-controls="collapseOne">
                                    <div class="row">
                                        <div class="col-md-10" id="headingOne">
                                            <h4 class="c-black">{{jobsheetData.search.results[$index].company_name}}</h4>
                                            <p>{{jobsheetData.search.results[$index].address}}</p>
                                        </div>
                                        <div class="col-md-2 p-20">
                                            <span>({{result[0]}})</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                      <div id="{{index}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body p-25">
                                            <div class="list-item pl-2 row" ng-repeat="(itemIndex, item) in result" ng-if="itemIndex >0 ">
                                                <a href="" style="color: #676a6c;" ng-click="view(item.jobsheet_id, jobsheetData.search.jobsheet_list[item.jobsheet_id].type)" data-dismiss="modal">
                                                    <div class="col-md-9">
                                                        Job Sheet #  {{jobsheetData.search.jobsheet_list[item.jobsheet_id].jobsheet_number}} ({{jobsheetData.search.jobsheet_list[item.jobsheet_id].updated_at}})
                                                    </div>
                                                    <div class="col-md-3">{{}}
                                                            <span ng-if="jobsheetData.search.jobsheet_list[item.jobsheet_id].status == 'Completed'">Complete <i class="fa fa-check-circle-o c-green" aria-hidden="true"></i></span> 
                                                            <span ng-if="jobsheetData.search.jobsheet_list[item.jobsheet_id].status == 'draft'">On process <i class="fa fa-spinner c-yellow" aria-hidden="true"></i> </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <p class="text-center">{{jobsheetData.search.message}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Add -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center" id="addModalLabel">Adding new Job Sheet for <strong>{{jobsheetData.companyName}}</strong>.</h3>
                <p class="m-1 text-center p-text">Do you want to replicate this Job Sheet?</p>
            </div>
            <div class="modal-body pt-0">
                <div class="row">
                    <div class="col-sm-12">
                        <form id="jobsheetData">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Job sheet type:</h4>
                                    </div>
                                </div>
                                <div class="row type-options">
                                    <div class="col-md-12 mb-1">
                                        <input type="radio" class="btn btn-primary btn-submit type" ng-model="optionType" name="type" value="2" checked> <span>Service</span><br>
                                    </div>
                                    <div class="col-md-12 mb-1">
                                        <input type="radio" class="btn btn-primary btn-submit type" ng-model="optionType" name="type" value="1"> <span>Installation</span><br>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                   
                                <button class="btn btn-primary btn-submit btn-block form-submit shadow" ng-click="add('replicate', jobsheetData.id);">
                                    Replicate
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary btn-submit btn-block form-submit shadow" ng-click="add('new', jobsheetData.id);">
                                    New
                                </button>
                            </div>
                            <hr>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Not allowed -->
<div class="modal fade" id="notallowedModal" tabindex="-1" role="dialog" aria-labelledby="notallowedModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title text-center" id="notallowedModalLabel">You are now allowed to modify the company name.</strong>.</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class=" align-self-center">
                                <button data-dismiss="alert" class="btn btn-primary btn-submit btn-block form-submit shadow">
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal No JS -->
<div class="modal fade" id="nojsModal" tabindex="-1" role="dialog" aria-labelledby="nojsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center" id="nojsModalLabel">Please seacrh a Job Sheet first.</strong></h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class=" col-md-3">
                        </div>
                        <div class=" col-md-6">
                            <button data-dismiss="modal" data-toggle="modal" data-target="#searchModal" class="btn btn-primary btn-submit btn-block form-submit shadow">
                                Search Now
                            </button>
                        </div>
                        <div class=" col-md-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id ="testDi" >
    <div id ="signatureBox"></div>
    <button class="btn btn-primary pull-center" onclick="useSign()" ng-click="tada()" id="iAccept"> I accept the terms and conditions</button>
</div>
<div class="alert alert-success fade" role="alert">
<strong>Success!</strong>
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
<br>
{{jobsheetData.message}}

</div>

<script>
        var signedTimeStamps = new Array();
            function useSign() {
                var id = $('#iAccept').attr('data-id');
                var currentDate = new Date();
                var signedTS = $("<div class='signTimeStamp' style='font-weight:300;font-size:8pt' >"+(currentDate.getHours() < 10 ? "0" : "") + currentDate.getHours() + ":" + (currentDate.getMinutes() < 10 ? "0" : "") + currentDate.getMinutes() + ":" + (currentDate.getSeconds() < 10 ? "0" : "") + currentDate.getSeconds()+" "+currentDate.getDate()+"-"+(currentDate.getMonth()+1)+"-"+currentDate.getFullYear()+"</div>");
                var sign = $("<img class='imported' height=36 ></img>")
                                .attr("src",$('#signatureBox').jSignature('getData'));
    
                $('#'+id).html(sign);
                $('#'+id).append(signedTS);
                $("#testDi").dialog("close");
    
                var signedTimeStamp = {};
                signedTimeStamp.form_name = id;
                signedTimeStamp.id = '';
                signedTimeStamp.timestamp = currentDate;
    
                signedTimeStamps.push(signedTimeStamp);
            }
    
            function clearSg(id) {
                $("#"+id).jSignature("reset");
            }
    
            $(document).ready(function() {
                $("#testDi").dialog({
                    autoOpen: false,
                    hide: { effect: "fadeout", duration: 200 },
                    width: 525,
                    height: 215,
                    zIndex:2000,
                    modal:true
                });
    
                /*
                var dd = new DropDown( $('#dd') );
                $(document).click(function() {
                    // all dropdowns
                    $('.wrapper-dropdown-3').removeClass('active');
                });
                */
                //alert($('#editId').val());
                //$("#wizard").steps();
                // console.log($("#jobsheetData"));
           
                var button = $(this).find('a[href="#finish"]');
                button.hide();
                $('#sendDraft').hide();
                //$('#jobsheetData-t-6').hide();
            });
        </script>


    