<div ng-include="'/templates/jobsheets/header.html'"></div>

<div class="row wrapper white-transparent page-heading pt-0 pb-10">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 card-body shadow bg-white mt-1">
                <div class="row">
                    <h1 style="color: #0489cc;text-align: center;font-size: 30px;"><b> SERVICE JOB SHEET & TELEPHONE/CCTV SYSTEM DATA COLLECTION</b></h1>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <h4 class="mt-1">Company Name:</h4>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="cname" name="companyName" ng-model="jobsheetData.companyName" ng-click="change('companyName');" disabled/>
                    </div>
                    <div class="col-sm-4">
                         <div class="row">
                            <div class="col-sm-5">
                                <h4 class="mt-1">Start time:</h4>
                            </div>
                            <div class="col-sm-7" style="padding: 0px 15px 0px 0px;">
                                <div class="input-group startTime">
                                    <input class="form-control sheet-data" id="startTime" name="startTime" ng-model="jobsheetData.startTime"  required type="text" ng-click="change('startTime');" disabled>
                                    <span class="input-group-addon" ng-click="change();">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-sm-2">
                        <h4 class="mt-1">Address:</h4>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="sheet-data" name="address" ng-model="jobsheetData.address" ng-change="change('address');" disabled/>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-5">
                                <h4 class="mt-1">Finish time:</h4>
                            </div>
                            <div class="col-sm-7" style="padding: 0px 15px 0px 0px;">
                                <div class="input-group finishTime">
                                    <input class="form-control sheet-data" id="finishTime" name="finishTime" ng-model="jobsheetData.finishTime"  required type="text" ng-click="change('finishTime');" disabled>
                                    <span class="input-group-addon" ng-click="change();">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 card-body shadow bg-white mt-1">
                <div class="row">
                    <div class="col-sm-5">
                        <h4 class="mt-1 text-center"><u>PBX remote access details</u></h4>
                        <h5 class="text=left"><u>Phone system information:</u></h5>
                        <table class="table">
                             <tr> 
                                <td style="width: 53%"><strong>System brand & model:</strong></td>
                                <td class="text-right" style="width: 47%"><input type="text" class="sheet-data no-bottom-border systemBrand" required name="systemBrand" ng-model="jobsheetData.systemBrand" ng-change="change('systemBrand');" disabled />
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 53%"><strong>Local IP address:</strong></td>
                                <td class="text-right" style="width: 47%"><input type="text" class="sheet-data no-bottom-border" name="phoneLocalIp" ng-model="jobsheetData.phoneLocalIp" ng-change="change('phoneLocalIp');" disabled/>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Username:</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="phoneUsername" ng-model="jobsheetData.phoneUsername" ng-change="change('phoneUsername');" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>Password:</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="phonePassword" ng-model="jobsheetData.phonePassword" ng-change="change('phonePassword');" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>Phone System brand and model:</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="phoneSystemBrand" ng-model="jobsheetData.phoneSystemBrand" ng-change="change('phoneSystemBrand');" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>HTTP/Web Pro port:</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="phoneWebProPort" ng-model="jobsheetData.phoneWebProPort" ng-change="change('phoneWebProPort');" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>HTTP/PC Pro port:</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="phonePcProPort" ng-model="jobsheetData.phonePcProPort" ng-change="change('phonePcProPort');" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>Trunk type:	</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="phoneTrunkType" ng-model="jobsheetData.phoneTrunkType" ng-change="change('phoneTrunkType');" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>PABX gateway:</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="phonePabxGateway" ng-model="jobsheetData.phonePabxGateway" ng-change="change('phonePabxGateway');" disabled/></td>
                            </tr>
                            <tr>
                                <td><strong>Remote access?:</strong></td>
                                <td>
                                    <div class="onoffswitch tick disabled" ng-click="">
                                        <input type="checkbox" name="phoneRemoteAccess" class="sheet-data finance onoffswitch-checkbox"
                                                ng-model="jobsheetData.phoneRemoteAccess" ng-checked="jobsheetData.phoneRemoteAccess==true"
                                                ng-true-value=true ng-false-value=false  id ="phoneRemoteAccess" ng-change="change('phoneRemoteAccess', jobsheetData.phoneRemoteAccess);" disabled>
                                        <label class="onoffswitch-label" for="phoneRemoteAccess">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch tickswitch-switch"></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td ng-class="{'contactTrigger hide':jobsheetData.phoneRemoteAccess!=true}" ><strong>Contact No.:</strong></td>
                                <td  ng-class="{'contactTrigger hide':jobsheetData.phoneRemoteAccess!=true}" ><input type="text" class="sheet-data remoteContactNo no-bottom-border" id="remoteContactNo" name="remoteContactNo" ng-model="jobsheetData.remoteContactNo" ng-change="change('remoteContactNo');" disabled /></td>
                            </tr>
                            <tr>
                                <td><strong>Public IP address:</strong></td>
                                <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="phonePublicIp" ng-model="jobsheetData.phonePublicIp" ng-change="change('phonePublicIp');" disabled/></td>
                            </tr>
           
                        </table>
                    </div>
                    <div class="col-sm-7">
                        <div class="row">
                            <div class="col-sm-7">
                                <table class="table mb-0">
                                    <tr>
                                        <td style="width: 40%;"><h5 class="text=left"><u>Router information:</u></h5></td><td style="width: 60%;"></td>
                                    </tr>
                                    <tr>
                                        <td><strong>IP address:</strong></td>
                                        <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="routerIpAddress" ng-model="jobsheetData.routerIpAddress" ng-change="change('routerIpAddress');" disabled/></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Username:</strong></td>
                                        <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="routerUsername" ng-model="jobsheetData.routerUsername" ng-change="change('routerUsername');" disabled/></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Password:</strong></td> 
                                        <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="routerPassword" ng-model="jobsheetData.routerPassword" ng-change="change('routerPassword');" disabled/></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Internet technology:</strong></td>
                                        <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="routerInternetTechnology" ng-model="jobsheetData.routerInternetTechnology" ng-change="change('routerInternetTechnology');" disabled/></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Wireless name:</strong></td>
                                        <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="routerWirelessName" ng-model="jobsheetData.routerWirelessName" ng-change="change('routerWirelessName');" disabled/></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Remote access?:</strong></td> 
                                        <td>
                                            <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="routerRemoteAccess" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.routerRemoteAccess" ng-checked="jobsheetData.routerRemoteAccess==true"
                                                        ng-true-value=true ng-false-value=false  id = "routerRemoteAccess" ng-change="change('routerRemoteAccess');" disabled>
                                                <label class="onoffswitch-label" for="routerRemoteAccess">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Public IP address:</strong></td> 
                                        <td class="text-right"><input type="text" class="sheet-data no-bottom-border" name="routerPublicIpAdd" ng-model="jobsheetData.routerPublicIpAdd" ng-change="change('routerPublicIpAdd');" disabled/></td>
                                    </tr>
                                </table>
                                <table class="table mb-0">
                                        <tr>
                                            <td colspan="2"><strong><u>CCTV remote access details</u></strong>
                                                <input type="checkbox" class="cctv sheet-data no-bottom-border" id="cctvDisplay" name="cctv" ng-model="jobsheetData.cctvDisplay"  value="1" ng-checked="jobsheetData.cctvDisplay" ng-change="cctvDisplay();" disabled> 
                                            </td>
                                        
                                        </tr>
                                     </table>   
                                    <table class="table mb-0 cctv" ng-class="{'hide':jobsheetData.cctvDisplay!=true}">
                                        <tr>
                                            <td style="width: 40%;">No. of channels:</td>
                                            <td style="width: 60%;"><input type="text" class="sheet-data no-bottom-border" name="noOfChannels" ng-model="jobsheetData.noOfChannels" ng-change="change('noOfChannels');" disabled/></td>  
                                        </tr>
                                        <tr>
                                            <td>Ext. IP address:</td>
                                            <td><input type="text" class="sheet-data no-bottom-border" name="extIpAdd" ng-model="jobsheetData.extIpAdd" ng-change="change('extIpAdd');" disabled/></td>  
                                        </tr>
                                        <tr>
                                            <td>Int. IP address:</td>
                                            <td><input type="text" class="sheet-data no-bottom-border" name="intIpAdd" ng-model="jobsheetData.intIpAdd" ng-change="change('intIpAdd');" disabled/></td>  
                                        </tr>
                                        <tr>
                                            <td>TCP/UDP port:</td>
                                            <td><input type="text" class="sheet-data no-bottom-border" name="tcpPort" ng-model="jobsheetData.tcpPort" ng-change="change('tcpPort');" disabled/></td>  
                                        </tr>
                                        <tr>
                                            <td>Admin. U/n:</td>
                                            <td><input type="text" class="sheet-data no-bottom-border" name="adminU" ng-model="jobsheetData.adminU" ng-change="change('adminU');" disabled/></td>  
                                        </tr>
                                        <tr>
                                            <td>Admin. P/w:</td>
                                            <td><input type="text" class="sheet-data no-bottom-border" name="adminPass" ng-model="jobsheetData.adminPass" ng-change="change('adminPass');" disabled/></td>  
                                        </tr>
                                        <tr>
                                            <td>Mot or Cont Rec:</td>
                                            <td><input type="text" class="sheet-data no-bottom-border" name="mot" ng-model="jobsheetData.mot" ng-change="change('mot');" disabled/></td>  
                                        </tr>
                                        <tr>
                                            <td colspan="2">Time & date set:
                                                <div class="input-group timeAndDateSet">
                                                    <input class="form-control sheet-data" id="timeAndDateSet" name="timeAndDateSet" ng-model="jobsheetData.timeAndDateSet"  required type="text" ng-change="change('timeAndDateSet');" disabled>
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            
                                            </td>  
                                        </tr>
                                        <tr>
                                            <td>Client trained?:</td>
                                            <td>
                                                <div class="onoffswitch tick disabled" ng-click="">
                                                    <input type="checkbox" name="clientTrained" class="sheet-data finance onoffswitch-checkbox"
                                                            ng-model="jobsheetData.clientTrained" ng-checked="jobsheetData.clientTrained==true"
                                                            ng-true-value=true ng-false-value=false  id = "clientTrained" ng-change="change('clientTrained');" disabled>
                                                    <label class="onoffswitch-label" for="clientTrained">
                                                            <span class="onoffswitch-inner"></span>
                                                            <span class="onoffswitch-switch tickswitch-switch"></span>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                            </div>
                         
                             <div class="col-sm-5">
                                <table class="table mb-0">
                                    <tr>
                                        <td colspan="2"><strong><u>Checklist</u></strong></td>
                                    </tr>
                                    <tr>
                                        <td>Day VMail:</td>
                                        <td>
                                            <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="dayVmail" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.dayVmail" ng-checked="jobsheetData.dayVmail==true"
                                                        ng-true-value=true ng-false-value=false  id = "dayVmail" ng-change="change('dayVmail');" disabled>
                                                <label class="onoffswitch-label" for="dayVmail">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Night VMail:</td>
                                        <td>
                                            <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="nightVmail" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.nightVmail" ng-checked="jobsheetData.nightVmail==true"
                                                        ng-true-value=true ng-false-value=false  id = "nightVmail" ng-change="change('nightVmail');" disabled>
                                                <label class="onoffswitch-label" for="nightVmail">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Auto attendant:</td>
                                        <td>
                                            <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="autoAttendant" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.autoAttendant" ng-checked="jobsheetData.autoAttendant==true"
                                                        ng-true-value=true ng-false-value=false  id = "autoAttendant" ng-change="change('autoAttendant');" disabled>
                                                <label class="onoffswitch-label" for="autoAttendant">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>EFTPOS tested:</td>
                                        <td>
                                            <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="eftposTested" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.eftposTested" ng-checked="jobsheetData.eftposTested==true"
                                                        ng-true-value=true ng-false-value=false  id = "eftposTested" ng-change="change('eftposTested');" disabled>
                                                <label class="onoffswitch-label" for="eftposTested">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Alarm tested:</td>
                                        <td>
                                            <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="alarmTested" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.alarmTested" ng-checked="jobsheetData.alarmTested==true"
                                                        ng-true-value=true ng-false-value=false  id = "alarmTested" ng-change="change('alarmTested');" disabled>
                                                <label class="onoffswitch-label" for="alarmTested">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Fax tested:</td>
                                        <td>
                                             <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="faxTested" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.faxTested" ng-checked="jobsheetData.faxTested==true"
                                                        ng-true-value=true ng-false-value=false  id = "faxTested" ng-change="change('faxTested');" disabled>
                                                <label class="onoffswitch-label" for="faxTested">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ADSL tested:</td>
                                        <td>
                                             <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="adslTested" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.adslTested" ng-checked="jobsheetData.adslTested==true"
                                                        ng-true-value=true ng-false-value=false  id = "adslTested" ng-change="change('adslTested');" disabled>
                                                <label class="onoffswitch-label" for="adslTested">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>PBX s/w upd.: <br><br>
                                        Ver.
                                        </td>
                                        <td>
                                             <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="pbx" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.pbx" ng-checked="jobsheetData.pbx==true"
                                                        ng-true-value=true ng-false-value=false  id = "pbx" ng-change="change('pbx');" disabled>
                                                <label class="onoffswitch-label" for="pbx">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                            <br><br>
                                            <input type="text" style="width: 75px;" maxlength="5" class="sheet-data" name="ver" ng-model="jobsheetData.ver" ng-change="change('ver');" disabled/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Licenses app.:</td>
                                        <td>
                                            <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="licensesApp" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.licensesApp" ng-checked="jobsheetData.licensesApp==true"
                                                        ng-true-value=true ng-false-value=false  id = "licensesApp" ng-change="change('licensesApp');" disabled>
                                                <label class="onoffswitch-label" for="licensesApp">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Database sent:</td>
                                        <td>
                                            <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="databaseSent" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.databaseSent" ng-checked="jobsheetData.databaseSent==true"
                                                        ng-true-value=true ng-false-value=false  id = "databaseSent" ng-change="change('databaseSent');" disabled>
                                                <label class="onoffswitch-label" for="databaseSent">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Photos sent:</td>
                                        <td>
                                            <div class="onoffswitch tick disabled" ng-click="">
                                                <input type="checkbox" name="photosSent" class="sheet-data finance onoffswitch-checkbox"
                                                        ng-model="jobsheetData.photosSent" ng-checked="jobsheetData.photosSent==true"
                                                        ng-true-value=true ng-false-value=false  id = "photosSent" ng-change="change('photosSent');" disabled>
                                                <label class="onoffswitch-label" for="photosSent">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch tickswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 card-body shadow bg-white mt-1">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="comment-area mb-5">
                            <h4 class="mt-1"><u>Comments/Special notes/Outstanding work + other notes:</u></h4>
                            <textarea name="comments" class="sheet-data" ng-model="jobsheetData.comments" col="40" ng-change="change('comments');" disabled></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 card-body shadow bg-white mt-1">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="sign-area">
                            <h4 class="mt-1 mb-1"><u>Customer Details</u></h4>
                            <table style="width: 100%">
                                <tr>
                                    <td style="width: 10%">Customer's name:</td>
                                    <td style="width: 17%"><input type="text" class="sheet-data" name="dName" ng-model="jobsheetData.dName" ng-change="change('dName');" disabled/></td>
                                    <td style="width: 15%;padding-left: 10px;">Customer's position:</td>
                                    <td style="width: 18%"><input type="text" class="sheet-data" name="cPosition" ng-model="jobsheetData.cPosition" ng-change="change('cPosition');" disabled/></td>
                                    <td style="width: 15%;padding-left: 10px;">Date:</td>
                                    <td style="width: 15%">{{updated_at}}</td>
                                    <td style="width: 10%"></td>

                                </tr>
                                <!-- <tr>
                                    <td style="width: 12%">Technician's name:</td>
                                    <td style="width: 20%"><input type="text" class="sheet-data no-bottom-border" name="technicianName" ng-model="jobsheetData.technicianName" ng-change="change('');" disabled/></td>
                                    <td style="width: 15%;padding-left: 10px;">Technician's Signature</td>
                                    <td style="width: 25%" id="configWitnessSd" class="greenText signature signatureImg signItem" ng-click="sign('configWitnessSd')">
                                        <img class='imported' ng-src="{{userSign}}" ng-if="userSign" height="36" height=36 ></img>
                                        <div class='signTimeStamp' style='font-weight:300;font-size:8pt' ng-if="userSign">{{getCurrentDate()}}</div>
                                        <span ng-if="!userSign">
                                            <span ng-if="!isSigned('configWitnessSd') && !isDraftMode()">Witness Signature here</span>
                                        </span>
                                    </td>
                                    <td style="width: 14%;padding-left: 10px;">Date:</td>
                                    <td style="width: 14%">{{getCurrentDate()}}</td>
                                </tr> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <flash-message></flash-message> -->

<div ng-include="'/templates/jobsheets/footer.html'"></div>
