<style>
        @page {
            sheet-size : A4;
            margin: 4%;   
            odd-footer-name: html_pagesFooter;
        }           
        
        div.pages {
            page: pages;
        } 
        .pr-10 {
            padding-right: 10px !important;
            vertical-align: middle !important;
        }
        div, td, p {
            font-family: 'open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
            vertical-align: middle !important;

        }
        .signatureImg {
            font-size: 13px !important;
        }
    </style> 
    <link href = "assets/css/form.css" rel='stylesheet' type='text/css'>
    <div class="preview-{{index}}" ng-repeat="(index, item) in items['1300_discounted'] track by $index">
        <div class ="pageBreaker">
            <table style="width:100%">
                 <tr>
                    <td colspan="3"><img  width = 250 height = 70 src ="assets/images/logo.png" ></td>
                    <td colspan="3" class="cardTitle">NEXGEN 1300 RATE CARD</td>
                </tr>
                <tr>
                    <td colspan="6" class="planTitle">NEXGEN  1300 / 1800 DISCOUNTED RATE CARD</td>  
                </tr>
                <tr class="plan-row">
                    <td colspan="6" class="planCategory">{{formData.comLocation['1300_discounted'][index]}},{{formData.comSuburb['1300'][index]}},{{postcode=formData.comZipCode['1300'][index]}}</td>
                </tr>
                <tr>
                    <th class ="title" colspan=2 style="vertical-align: middle;">Destination</th>
                    <th class ="title" colspan=2>1800</th>
                    <th class ="title" colspan=2>1300</th>
                </tr>
                <tr>
                    <td class = "destination pr-10" colspan=2 style="vertical-align: middle;">Local</td>
                    <td class ="price"colspan=2 style="vertical-align: middle;">$0.10 per minute</td>
                    <td class ="price" colspan=2>$0* <div class="smallText">For the first 10 minutes</div></td>
                </tr>
                <tr>
                    <td class = "destination pr-10" colspan=2 style="vertical-align: middle;">Community</td>
                    <td class ="price" colspan=2>$0.10 per minute</td>
                    <td class ="price" colspan=2>$0.10 per minute</td>
                </tr>
                <tr>
                    <td class = "destination pr-10" colspan=2 style="vertical-align: middle;">25 to 165 kms non Interstate</td>
                    <td class ="price" colspan=2>$0.10 per minute</td>
                    <td class ="price" colspan=2>$0.10 per minute</td>
                </tr>
                <tr>
                    <td class = "destination pr-10" colspan=2 style="vertical-align: middle;">National</td>
                    <td class ="price" colspan=2>$0.10 per minute</td>
                    <td class ="price" colspan=2>$0.10 per minute</td>
                </tr>
                <tr>
                    <td class = "destination pr-10" colspan=2 style="vertical-align: middle;">Mobile to Fixed</td>
                    <td class ="price" colspan=2>$0.24 per minute</td>
                    <td class ="price" colspan=2>$0.24 per minute</td>
                </tr>  
                <tr>
                    <td class = "destination pr-10" colspan=2 style="vertical-align: middle;">Fixed to Mobile</td>
                    <td class ="price" colspan=2>$0.45 per minute</td>
                    <td class ="price" colspan=2>$0.45 per minute</td>
                   
                </tr>
                <tr>
                    <td class = "destination pr-10" colspan=2 style="vertical-align: middle;">Mobile to Mobile</td>
                    <td class ="price" colspan=2>$0.45 per minute</td>
                    <td class ="price" colspan=2>$0.45 per minute</td>
                </tr>
                <tr>
                    <td class = "destination pr-10" colspan=2 style="vertical-align: middle;">Flag fall</td>
                    <td class ="price" colspan=2>$0.05 per call</td>
                    <td class ="price" colspan=2>$0.05 per call</td>
                </tr>
                <tr>
                    <td class = "destination pr-10" colspan=2 style="vertical-align: middle;">New or Existing</td>
                    <td class ="quantity" colspan=2>
                        <span class="qty-text" ng-if="formData.qt1800Dis_new[index]">New</span>
                        <span class="qty-text" ng-if="!formData.qt1800Dis_new[index]">Existing</span>
                    </td>
                    <td class ="quantity" colspan=2>
                        <span class="qty-text" ng-if="formData.qt1300Dis_new[index]">New</span>
                        <span class="qty-text" ng-if="!formData.qt1300Dis_new[index]">Existing</span>
                    </td>
                   
                </tr>
                <tr>
                    <td class = "destination pr-10" colspan="2" style="vertical-align: middle;">Quantity</td>
                    <td class ="quantity" colspan="2"><span class="qty-text form-data">{{formData.rate131300Dis.qt1800[index]}}</span></td>
                    <td class ="quantity" colspan="2"><span class="qty-text form-data">{{formData.rate131300Dis.qt1300[index]}}</span></td>
                </tr>
                <tr><td colspan = "6" class ="title">Total Monthly Charges / Discounts</td></tr>
                <tr>
                    <td class="discountField" style="width:23%">Total Monthly Plan Fees</td>
                    <td class="discountItem" style="width:14%"><b>${{roundVal(rateDis131300.totalFeeDis[index])}}</b></td>
                    <td class="discountField" style="width:30%">Monthly Inbound Call Discount</td>
                    <td class="form-data discountItem" style="width:10%">${{formData.rateDis131300.discount[index]}}</td>
                    <td class="discountField" style="width:10%">Term</td>
                    <td class="months discountItem" style="width:13%">
                        <span class="qty-text form-data">{{formData.aBillingTerm}}</span>&nbsp;&nbsp;
                        Months
                    </td>
                </tr>  
            </table>
            <p class="TAC">
                <b>NEXGEN  1300 / 1800 DISCOUNTED Terms and Conditions</b><br />
                (1) All Prices exclude GST. (2) 13/1300 Local calls are $0 for the first 10 minutes and then charged at $0.10 per 60 seconds.(3) A flag fall of 5 cents applies, excluding local calls.(4) Monthly recurring rental charges for Nexgen 1300/1800 services are charged at $19.99 per month per service ex GST. (5) Nexgen will only apply Inbound Call Discounts upon settlement of your account. Discounts expire at the end of the term. (6) Client is required to provide a wholesale account number from the current carrier for their existing inbound service prior to the churning of the service to Nexgen. A connection fee of $74 + GST applies for all 1300 /1800 services. Please refer to clause 15.5 of the Nexgen Application for Early Termination Calculation or visit www.nexgen.com.au for full terms and conditions.
            <htmlpagefooter name='pagesFooter'>   
                <ng-include src="'templates/forms/card_footer.html'" ng-init="location=formData.comLocation['1300_discounted'][index];suburb=formData.comSuburb['1300_discounted'][index];postcode=formData.comZipCode['1300_discounted'][index]"></ng-include>
            </htmlpagefooter>
        </div>
    </div>