<style>


    body {
        font-family: sans-serif;
    }
    @page {
        sheet-size : A4;
        margin: 0%;
    }
    @page cover {
         margin-header:0mm;

    }
    div.pageBreaker {
    }
    div.cover {
        font-family: sans-serif;
        page-break-before: right;
        page: cover;
    }
  
    @page pages {
          odd-footer-name: html_pagesFooter;
        even-footer-name: html_pagesFooter;
        margin-top: 1%;
        margin-bottom: 2%;
        margin-right: 3%;
        margin-left: 3%;
        margin-footer: 3mm;
    }
    div.pages {
        page: pages;
        font-family: "Helvetica Neue";
    }
    
    .hide-sig .signTimeStamp {
        display: none !important;
        color: white !important;
    }
    .question-list {
        list-style-type: none;
        margin-top: 50px;
    }
    .question-list li {
        margin: 5px 20px;
    }
    .form-control {
        margin: 10px 0 15px 10px;
    }
    .form-control {
        background-color: #FFFFFF;
        background-image: none;
        border: 1px solid #e5e6e7;
        border-radius: 7px;
        color: inherit;
        display: block !important;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        width: 100%;
    }
    .form-control::after {
        content: none;
    }
    select::-ms-expand {
        display: none;
    }
    .answer {
        display: block;
    }
    .d-s {
        display: block !important;
    }
    .form-control:focus {
        border-color: #000000;
    }
    .form-control:active {
        border-color: #000000;
        border: 1px solid #000000;
    }
</style>
<link href = "assets/css/form.css" rel='stylesheet' type='text/css'>

<body>
    <div class="pageBreaker" style="height: 830px;">
        <div style="padding: 5px 10px">
            <h1 style="color: #000000;font-weight: 500;margin-bottom: 0;margin-top: 50px;line-height: 1.5;font-size: 24px;text-align: center;"><b><u>NEXGEN EQUIPMENT RENTAL COVID-19 Impact Assessment</u></b></h1>
            <ul class="question-list">
                <li>Q1)&nbsp;&nbsp; Has COVID-19 impacted your business Cashflow?<br>
                    <div class="d-s" style="display: none;">
                        <select ng-model="formData.assessment.q1" id="assessment-q1" class='form-control'>
                            <option value="yes" ng-selected="formData.assessment.q1=='yes'">Yes</option>
                            <option value="no" ng-selected="formData.assessment.q1=='no'">No</option>
                        </select>
                        <span ng-if="formData.assessment.q1 == 'yes' || formData.assessment.q1 == 'no'">PLEASE SELECT ONE OF THE BELOW OPTIONS</span>
                        <select ng-show="formData.assessment.q1 == 'yes'" ng-model="formData.assessment.q1drop1" id="assessment-q1drop1" class='form-control'>
                            <option value="10" ng-selected="formData.assessment.q1drop1=='10' || formData.assessment.q1=='yes'">Approx 10% of Revenue</option>
                            <option value="20" ng-selected="formData.assessment.q1drop1=='20'">Approx 20% of Revenue</option>
                            <option value="30" ng-selected="formData.assessment.q1drop1=='30'">Approx 30% of Revenue</option>
                        </select>
                        <textarea ng-show="formData.assessment.q1 == 'yes'" ng-model="formData.assessment.q1drop2" id="assessment-q1drop2" class='form-control' placeholder="Note:"></textarea>
                        <select ng-show="formData.assessment.q1 == 'no'" ng-model="formData.assessment.q1drop3" id="assessment-q1drop3" class='form-control'>
                            <option value ="opt1" ng-selected="formData.assessment.q1drop3=='opt1' || formData.assessment.q1=='no'">No impact to the business</option>
                            <option value ="opt2" ng-selected="formData.assessment.q1drop3=='opt2'">Business has improved during this time</option>
                        </select>
                    </div>
                   <!-- Displayed answer on pdf -->
                    <span class="answer" style="display: none !important;left: 20px;">
                        <table class="full-width">
                            <tr>
                                <td style="width: 50px;"></td>
                                <td> <b style="text-transform: capitalize;">{{formData.assessment.q1}}<br></b>
                                    <b ng-if="formData.assessment.q1drop1=='10'">Approx 10% of Revenue<br></b>   
                                    <b ng-if="formData.assessment.q1drop1=='20'">Approx 20% of Revenue<br></b>   
                                    <b ng-if="formData.assessment.q1drop1=='30'">Approx 30% of Revenue<br></b>   
                                    <b ng-if="formData.assessment.q1drop2">{{formData.assessment.q1drop2}}</br></b>
            
                                    <b ng-if="formData.assessment.q1drop3=='opt1'">No impact to the business<br></b>   
                                    <b ng-if="formData.assessment.q1drop3=='opt2'">Business has improved during this time</b>
                                </td>
                            </tr>
                        </table>
                    </span>
                </li>
                <li>
                    Q2)&nbsp;&nbsp; Have you requested or received any COVID-19 related payment deferrals with any financier?<br>
                    <div class="d-s" style="display: none;">
                        <select ng-model="formData.assessment.q2" id="assessment-q2" class='form-control'>
                            <option value="yes" ng-selected="formData.assessment.q2=='yes'">Yes</option>
                            <option value="no" ng-selected="formData.assessment.q2=='no'">No</option>
                        </select>
                        <span ng-if="formData.assessment.q2 == 'yes'">PLEASE SELECT ONE OF THE BELOW OPTIONS</span>
                        <select ng-show="formData.assessment.q2 == 'yes'" ng-model="formData.assessment.q2drop1" class='form-control'>
                            <option value="1" ng-selected=" formData.assessment.q2=='yes' || formData.assessment.q2drop1==1">Did it as a precaution to be safe</option>
                            <option value="2" ng-selected="formData.assessment.q2drop1==2">Our business needed to do this</option>
                            <option value="3" ng-selected="formData.assessment.q2drop1==3">Our financier offered it to us and we just took up the offer</option>
                        </select>
                        <div ng-show="formData.assessment.q2 == 'yes'">
                        <b>WHICH FINANCIER:</b>
                        <input type="text" class="form-control" ng-model="formData.assessment.q2text" id="assessment-q2text" style="margin-top: 10px;">
                        </div>
                    </div>
                     <!-- Displayed answer on pdf -->
                     <span class="answer" style="display: none !important;left: 20px;">
                        <table class="full-width">
                            <tr>
                                <td style="width: 50px;"></td>
                                <td> <b style="text-transform: capitalize;">{{formData.assessment.q2}}<br></b>
                                    <b ng-if="formData.assessment.q2drop1=='1'">Did it as a precaution to be safe<br></b>   
                                    <b ng-if="formData.assessment.q2drop1=='2'">Our business needed to do this<br></b>   
                                    <b ng-if="formData.assessment.q2drop1=='3'">Our financier offered it to us and we just took up the offer<br></b>   
                                    <span ng-if="formData.assessment.q2text">
                                        WHICH FINANCIER: <b>{{formData.assessment.q2text}}</b>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </span>
                </li>
            </ul>
            <table style="border-collapse: separate;border-spacing: 16px 0px;width: 100%;margin-top: 30px;">
                <tr>
                    <td class="rental-field signature signatureImg signItem bg-white" id ="assessment-cus-sg-1" ng-click='sign("assessment-cus-sg-1")' style="text-align: center;height: 60px !important;">
                        <b ng-if="isSigned('assessment-cus-sg-1')" class="greenText" ng-bind="getSignedTime('assessment-cus-sg-1')" style="text-align: center;"></b>
                        <b class="signBox" ng-if="!isSigned('assessment-cus-sg-1') && (!isDraftMode())" class='greenText'>Customer Signature here</b>
                    </td>
                    <td style="width: 40%;font-size: 14px;text-align: center;">
                        Date: <b>{{formData.dateVal}}</b>
                    </td>
                </tr>
                <tr>
                    <td class="form-label bg-white" style="width: 40%;text-align: center;">
                        <p style="font-size: 14px !important;color: #000000;margin-bottom: 0;"><b>{{formData.dName}}</b><br></p>
                        <span style="font-size: 12px;color: #000000;">Name of authorised Person</span>
                        <br>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
        </div>  
    </div>
</body>