<table class="full-width fixed-width cap-plan-table" style="line-height: 1.2;font-size: 10px;">  
    <tr class="dataRow">
        <td class ="itemTitle" style="padding-top: 20px;">Company Name:</td>
        <td class ="place-holder form-data"  id = "cmpyName" style="padding-top: 20px;">{{formData.cName}}</td>
        <td style="width: 90px;"></td>                         
        <td class ="itemTitle" style="padding-top: 20px;">Date:</td>
        <td class ="place-holder form-data" id ="date"  style="padding-top: 20px;">{{formData.dateVal}}</td>     
    </tr>
    <tr class="dataRow">
        <td class ="itemTitle">Address:</td>
        <td class ="place-holder form-data"  colspan=4 id = "iAddress">{{location}}</td>
    </tr>
    <tr class="dataRow">
        <td class ="itemTitle">Suburb:</td>
        <td class ="place-holder form-data" id = "iSuburb">{{suburb}}</td>
        <td></td>
        <td class ="itemTitle" >Postcode:</td>
        <td class ="place-holder" id ="postCode">{{postcode}}</td>                               
    </tr>
    <tr class="dataRow">
        <td class =" itemTitle" >Name:</td>
        <td class =" place-holder form-data"  id = "name">{{formData.dName}}</td>
        <td></td>
        <td class =" itemTitle" >Witness Name:</td>
        <td class =" place-holder form-data" id ="witnesName">{{formData.wName}}</td>  
    </tr>
    <tr class="dataRow">
        <td class ="itemTitle">Signature:</td>
        <td class ="signature signatureImg signItem" id ="voice-std-sg-{{index}}" ng-click='sign("voice-std-sg-" + index)'>
            <b ng-if="isSigned('voice-std-sg')" class="greenText">{{ getSignedTime('voice-std-sg') }}</b>
            <b ng-if="!isSigned('voice-std-sg') && (!isDraftMode())" class="greenText">Customer Signature here</b>
        </td>
        <td></td>
        <td class ="itemTitle">Witness Signature:</td>
        <td class="signature signatureImg signItem" id="voice-std-wt-{{index}}" ng-click='sign("voice-std-wt-" + index)' >
            <img class='imported' ng-src="{{userSign}}" ng-if="userSign" height="36" height=36 ></img>
            <div class='signTimeStamp' style='font-weight:300;font-size:8pt' ng-if="userSign">{{getCurrentDate()}}</div>
            <span ng-if="!userSign">
                <span ng-if='!isSigned("voice-std-wt-" + index) && !isDraftMode()'>Witness Signature here</span>
            </span>
        </td>    
    </tr>
</table>
