<style>
    @page {
        sheet-size : A4;
        margin: 4%;   
        odd-footer-name: html_pagesFooter;
    }           
    
    div.pages {
        page: pages;
    } 
    .align-right {
        text-align: right !important;
    }
    .title-white {
        color: white;
        font-size: 12px;
        text-align: center;
    }
    .w-16 {
        width: 16.6%;
    }
    .w-32 {
        width: 32%;
    }
    .w-10 {
        width: 10%;
    }
    .w-40 {
        width: 40%;
    }
    .f-9 {
        font-size: 9px;
    }
    .desti-row td {
        vertical-align: middle !important;
        line-height: 1.2;
    }
    .border-gray td {
        border: 1px solid #cecece;
    }
    .align-left {
        text-align: left !important;
    }
    .planNote {
        background: red;
        color: white;
        font-size: 10px;
        text-align: center;
        line-height: 1.2;
    }
    table, td {
         border-collapse: collapse;
         border-spacing: 0;
         vertical-align: middle;
    }
    .cardVersion {
        vertical-align: bottom;
        font-size: 9px;
        text-align: right;
        padding-top: 50px;
        position: relative;
    }
    .included {
        vertical-align: middle;
        position: relative;
        font-weight: 600 !important;
    }
    .full-width tr td, .form-data {
        line-height: 1.3;
        font-size: 10.5px;
    }
    #postCode {
        font-size: 14px;
    }
    .previewBody {
        padding: 0 10px;
        background: white;
    }
    .title {
        font-size: 13px;
    }
    .form-data {
        font-size: 12px;
    }
    .desti-row td {
        font-size: 9.5px !important;
    }
</style> 
<link href = "assets/css/form.css" rel='stylesheet' type='text/css'>
<div class="preview-{{index}} previewBody" ng-repeat="(index, item) in items['cloud_connect_standard'] track by $index">
    <div class ="pageBreaker">
        <table style='line-height: 1.2;width:100%;border-collapse: collapse;border-spacing: 0;font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;vertical-align:middle;'>
            <tr>
                <td colspan="3"><img style="height: 50px;" src ="assets/images/logo.png" ></td>
                <td colspan="3" class="cardVersion"><span>v6022020</span></td>
            </tr>
           
            <tr>
                <td colspan="6" class="planTitle" style="padding: 6px;font-size: 13px;">Cloud Connect Standard (CCS)</td>  
            </tr>
            <tr class="plan-row">
                <td colspan="6" class="planCategory" style="padding: 6px;font-size: 13px;">Monthly Plan fee (per user)</td>
            </tr>
           <tr class="font-grey">
                <td colspan='2' style="vertical-align: middle;text-align: right;padding-right: 20px;height: 30px;">Number of Users</td>
                <td colspan="1" style="vertical-align: middle;">
                    <span class="f-9">(minimum 2 x users)</span>
                </td>
                <td colspan="3" style="vertical-align: middle;">
                    <table style="width: 100%">
                        <tr>
                            <td style="vertical-align: middle;text-align: right;"> 
                                <span style="border: 2px solid gray;border-radius: 5px;font-size: 16px;width: 100%;text-align: center;">
                                    &nbsp;&nbsp; {{formData.cloudConnectStandardChannel[index]}} &nbsp;&nbsp;
                                </span>
                           </td>
                           <td style="vertical-align: middle;text-align: center;width: 80px;">
                               <span> x</span>
                           </td>
                           <td style="vertical-align: middle;">
                               <!-- <b>${{cloudConnectStandard.rate[formData.cloudConnectStandardChannel[index]]}}</b> per month per channel -->
                               <b>$29</b> per month 
                           </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- <tr class=
            <!-- <tr class="font-grey" ng-if="formData.cloudConnectStandardFaxToEmail[index]">
                <td colspan='2'>Fax to Email</td>
                <td colspan='2' class="colorless normal form-data"><b>Quantity : {{formData.cloudConnectStandardFaxQty[index]}}</b></td>
                 <td colspan='2'>${{cloudConnectStandard.sfToE}}  per month, per fax</td>
            </tr> -->
            <!-- <tr class="rate font-grey"  ng-if="formData.cloudConnectStandardMobility[index]">
                <td colspan='2'>Mobility</td>
                <td colspan='2' class="colorless normal form-data"><b>Users : {{formData.cloudConnectStandardMobQty[index]}}</b></td>
                 <td colspan='2' class="form-data">${{cloudConnectStandard.sMob}}  per month, per user</td>
            </tr> -->
            <!-- <tr ng-if="formData.cloudConnectStandardDID[index]" class="rate font-grey">
                <td colspan='2'>Direct in Dials</td>
                <td colspan='2' class="colorless normal form-data"><b>{{formData.cloudConnectStandardDID[index]}} X Direct in Dial numbers</b></td>
                <td colspan='2' class="form-data">${{cloudConnectStandard.sDID[formData.cloudConnectStandardDID[index]]}}  per month</td>
            </tr> -->
            <tr class="less-padding black">
                <td class="title less-padding" colspan="2">Destination</td>
                <td class="title less-padding" colspan="4">On-Net Rates</td>
            </tr>
            <tr class="desti-row">
                <td class="destination-business grey" colspan="2"><b>National Calls</b></td>
                <td class="included grey align-right" colspan="1"><b>$0.10</b></td>
                <td class="included grey" colspan="3"><b>per minute</b></td>
            </tr>
            <tr class="desti-row">
                <td class="destination-business " colspan="2"><b>Calls to Mobiles</b></td>
                <td class="included align-right" colspan="1"><b>$0.20</b></td>
                <td class="included " colspan="3"><b>per minute</b></td>
            </tr>
            <tr class="desti-row">
                <td class="destination-business grey" colspan="2"><b>Local Calls</b></td>
                <td class="included grey align-right" colspan="1"><b>$0.10</b></td>
                <td class="included grey" colspan="3"><b>flat rate</b></td>
            </tr>
            <tr class="desti-row">
                <td class="destination-business " colspan="2"><b>Flag fall</b></td>
                <td class="included" colspan="4"><b>$0.0</b></td>
            </tr>
            <tr class="desti-row">
                <td class="destination-business grey" colspan="2"><b>International Calls</b></td>
                <td class='included grey' colspan='4'><b>Full list available on request</b></td>
            </tr>
            <tr class="less-padding black border-gray">
                <td class="title less-padding w-40" colspan="6" style="font-size: 13px;">
                    Optional Services
                </td>
            </tr>
            <tr class="less-padding black border-gray">
                <td class="title less-padding w-40" colspan="2">
                </td>
                <td class="less-padding title-white w-10" colspan="1">
                   QTY             	
                </td>
                <td class="title less-padding w-40" colspan="2">
                </td>
                <td class="less-padding title-white w-10" colspan="1">
                    QTY             	
                 </td>
            </tr>
            <tr class="desti-row border-gray">
                <td class="included w-16 grey" colspan="1" style="vertical-align: middle;">
                    UC - One Collaboration Bundle VC IM Presence, DESKTOP SHARING ROOMS ETC
                </td>
                <td class="included w-16" colspan="1" style="vertical-align: middle;">
                    $14.95<br>
                    <span class="f-9">per month per user</span>
                </td>
                <td class="included w-16" colspan="1" style="vertical-align: middle;color: black;"><b>{{formData.cloudConnectStandarduConeApp[index]}}</b></td>
                <td class="included w-16 grey" colspan="1" style="vertical-align: middle;">
                    Additional Voicemail
                </td>
                <td class="included w-16" colspan="1" style="vertical-align: middle;">
                    $9.95<br>
                    <span class="f-9">per month</span>
                </td>
                <td class="included w-16" colspan="1" style="vertical-align: middle;color: black;"><b>{{formData.cloudConnectStandardAddVoicemail[index]}}</b></td>
            </tr>

            <tr class="desti-row border-gray">
                <td class="included w-16 grey" colspan="1" style="vertical-align: middle;">
                   Additional Call Queue
                </td>
                <td class="included w-16" colspan="1">
                    $29.95<br>
                    <span class="f-9">per month</span>
                </td>
                <td class="included w-16" colspan="1" style="vertical-align: middle;color: black;"><b>{{formData.cloudConnectStandardAddCallQueue[index]}}</b></td>
                <td class="included w-16 grey" colspan="1" style="vertical-align: middle;background: #7f7f7f;color: #ffffff;">
                    Call Recording
                </td>
                <td class="included w-16" colspan="1">
                    $29.95<br>
                    <span class="f-9">per user per month</span>
                </td>
                <td class="included w-16" colspan="1" style="vertical-align: middle;color: black;"><b>{{formData.cloudConnectStandardCallRecording[index]}}</b></td>
            </tr>
            <tr class="desti-row border-gray">
                <td class="included w-16 grey" colspan="1" style="vertical-align: middle;">
                    Receptionist Client Application
                </td>
                <td class="included w-16" colspan="1">
                    $29.95<br>
                    <span class="f-9"> per user</span>
                </td>
                <td class="included w-16" colspan="1" style="vertical-align: middle;color: black;"><b>{{formData.cloudConnectStandardRepClientApp[index]}}</b></td>
                <td class="included w-16 grey" colspan="1" style="vertical-align: middle;background: #7f7f7f;color: #ffffff;">
                    Call Recording Premium AI
                </td>
                <td class="included w-16" colspan="1">
                    $49.95<br>
                    <span class="f-9">per user per month</span>
                </td>
                <td class="included w-16" colspan="1" style="vertical-align: middle;color: black;"><b>{{formData.cloudConnectStandardCallRecordingPremium[index]}}</b></td>
            </tr>
            <tr class="desti-row border-gray">
                <td class="included w-16 grey" colspan="1" style="vertical-align: middle;">
                    Additional Auto<br> Attendant
                </td>
                <td class="included w-16" colspan="1" style="vertical-align: middle;">
                    $29.95<br>
                    <span class="f-9">per month</span>
                </td>
                <td class="included w-16" colspan="1" style="vertical-align: middle;color: black;"><b>{{formData.cloudConnectStandardAddAutoAttndnt[index]}}</b></td>

                <td class="included w-16 grey" colspan="1" style="vertical-align: middle;">
                    10 Direct Indials
                </td>
                <td class="included w-16" colspan="1" style="vertical-align: middle;">
                    $14.95
                </td>
                <td class="included w-16" colspan="1" style="vertical-align: middle;"><span ng-if="formData.cloudConnectStandardDID[index] == '10'" style="color: black;"><b>1</b></span></td>
            </tr>
            <tr class="desti-row border-gray">
                <td class="included w-16 grey" colspan="1" style="vertical-align: middle;">
                    Fax to Email
                </td>
                <td class="included w-16" colspan="1">
                    $9.95   <br> 
                    <span class="f-9">per month, per fax</span>
                </td>
                <td class="included w-16" colspan="1" style="vertical-align: middle;"><span ng-if="formData.cloudConnectStandardFaxToEmail[index] == true" style="color: black;"><b>{{formData.cloudConnectStandardFaxQty[index]}}</b></span></td>
                <td class="included w-16 grey" colspan="1" style="vertical-align: middle;">
                    50 Direct Indials
                </td>
                <td class="included w-16" colspan="1" style="vertical-align: middle;">
                    $24.95
                </td>
                <td class="included w-16" colspan="1" style="vertical-align: middle;"><span ng-if="formData.cloudConnectStandardDID[index] == '50'" style="color: black;"><b>1</b></span></td>
            </tr>
            <tr class="desti-row border-gray">
                <td class="included w-16 grey" colspan="1">
                    Analogue Line<br>
                    (ATA/PSTN)
                </td>
                <td class="included w-16" colspan="1">
                    $43.95   <br>                              
                    <span class="f-9"></span>  per month</span>
                </td>
                <td class="included w-16" colspan="1" style="vertical-align: middle;color: black;"><b>{{formData.cloudConnectStandardAnalouge[index]}}</b></td>
                <td class="included w-16 grey" colspan="1" style="vertical-align: middle;">
                    <span ng-if="formData.cloudConnectStandardDID[index] <= 100">
                        100 Direct Indials
                    </span>
                    <span ng-if="formData.cloudConnectStandardDID[index] == 150">
                        150 Direct Indials
                    </span>
                    <span ng-if="formData.cloudConnectStandardDID[index] == 200">
                        200 Direct Indials
                    </span>
                </td>
                <td class="included w-16" colspan="1" style="vertical-align: middle;">
                    <span ng-if="formData.cloudConnectStandardDID[index] <= 100">
                        $34.95
                    </span>
                    <span ng-if="formData.cloudConnectStandardDID[index] == 150">
                        $44.95
                    </span>
                    <span ng-if="formData.cloudConnectStandardDID[index] == 200">
                        $54.95
                    </span>
                </td>
                <td class="included w-16" colspan="1" style="vertical-align: middle;">
                    <span ng-if="formData.cloudConnectStandardDID[index] == 100" style="color: black;"><b>1</b></span>
                    <span ng-if="formData.cloudConnectStandardDID[index] == 150" style="color: black;"><b>1</b></span>
                    <span ng-if="formData.cloudConnectStandardDID[index] == 200" style="color: black;"><b>1</b></span>
                </td>
            </tr>
            <tr class="less-padding black border-gray">
                <td class="title less-padding" colspan="6" style="font-size: 13px;">
                    Minimum Monthly Charges / Discounts					
                </td>
            </tr>
            <tr class="desti-row border-gray">
                <td class="included grey align-left" colspan="2">
                    Monthly CCS Plan Fee                            	
                </td>
                <td class="included" colspan="1">
                    <span class="align-left" style="color: black;"><b>${{roundVal(cloudConnectStandard.totalRate[index])}}</b></span><span class="align-right" style="color: black;"><b> Per Mth</b></span> 
                </td>
                <td class="included grey align-left" colspan="2">
                    Monthly CCS Plan Discount	
                </td>
                <td class="included" colspan="1">
                    <span class="align-left" ng-if="formData.cCStandardDiscount[index] > 0" style="color: black;"><b>${{formData.cCStandardDiscount[index]}} Per Mth</b></span> 
                </td>
            </tr>
            <!-- <tr class="desti-row border-gray">
                <td class="included grey align-left" colspan="2">
                    Analogue Line (ATA/PSTN)	
                </td>
                <td class="included" colspan="1">
                    <span class="align-left" ng-if="cloudConnectStandard.analogueFee[index] > 0">${{cloudConnectStandard.analogueFee[index].toFixed(2)}}  Per Mth</span> 
                </td>
                <td class="included grey align-left" colspan="2">
                    Analogue Line (ATA/PSTN) Discount	
                </td>
                <td class="included" colspan="1">
                    <span class="align-left" ng-if="formData.cCStandardAnalogueDis[index] > 0">${{formData.cCStandardAnalogueDis[index]}} Per Mth</span> 
                </td>
            </tr> -->
            <tr class="desti-row border-gray">
                <td class="included grey align-left" colspan="2" style="vertical-align: middle;">
                    Monthly Optional Services Plan Fees
                </td>
                <td class="included" colspan="1" style="vertical-align: middle;">
                    <span class="align-left" ng-if="cloudConnectStandard.totalMthOptDIDservPlanFee[index] > 0" style="color: black;"><b>${{cloudConnectStandard.totalMthOptDIDservPlanFee[index].toFixed(2)}} Per Mth</b></span> 
                </td>
                <td class="included grey align-left" colspan="2" style="vertical-align: middle;">
                    Monthly Optional Services Discount
                </td>
                <td class="included" colspan="1" style="vertical-align: middle;">
                    <span class="align-left" ng-if="cloudConnectStandard.monthlyTservicesDiscount[index] > 0" style="color: black;"><b>${{cloudConnectStandard.monthlyTservicesDiscount[index].toFixed(2)}} Per Mth</b></span> 
                </td>
            </tr>
            <tr class="desti-row border-gray">
                <td class="included grey align-left" colspan="2">
                    <span class="align-right">Term*</span>
                </td>
                <td class="included" colspan="1">
                    <span class="align-left" style="color: black;"> <b> Minimum {{formData.aBillingTerm}} mth</b></span> 
                </td>
                <td class="included grey align-left" colspan="2">
                    <span class="align-right"> Total Monthly Discount</span>
                </td>
                <td class="included" colspan="1">
                    <span class="align-left" ng-if="cloudConnectStandard.monthlyTotalDis[index] > 0" style="color: black;"><b>${{cloudConnectStandard.monthlyTotalDis[index].toFixed(2)}} Per Mth</b></span> 
                </td>
            </tr>
            <tr class="desti-row border-gray">
                <td class="included grey" colspan="5" style="vertical-align: middle;text-align: center;">
                    Monthly Call Discount Includes Local, Calls to Mobile, STD & International calls
                </td>
                <td class="included" colspan="1" style="vertical-align: middle;">
                    <span class="align-left" ng-if="cloudConnectStandard.cCStandardCallDiscount[index] > 0" style="color: black;"><b>${{cloudConnectStandard.cCStandardCallDiscount[index]}} Per Mth</b></span> 
                </td>
            </tr>
            <tr>
                <td colspan="6" class="planNote">By signing this schedule you acknowledge and understand the Plan fees,  Discounts and any Charges. Signing below is confirmation you have read and agree to all the terms and conditions associated as per your signed Application for Telephone Services</td>  
            </tr>
        </table>

        <table class="full-width fixed-width cap-plan-table" style="line-height: 1;font-size: 7px;">  
            <tr class="dataRow">
                <td class ="itemTitle" style="padding-top: 10px;width: 105px;">Company Name:</td>
                <td class ="place-holder form-data"  id = "cmpyName" style="padding-top: 10px;">{{formData.cName}}</td>
                <td style="width: 90px;"></td>                         
                <td class ="itemTitle" style="padding-top: 10px;width: 120px;">Date:</td>
                <td class ="place-holder form-data" id ="date"  style="padding-top: 10px;">{{formData.dateVal}}</td>     
            </tr>
            <tr class="dataRow">
                <td class ="itemTitle">Address:</td>
                <td class ="place-holder form-data"  colspan=4 id = "iAddress">{{formData.comLocation['cloud_connect_standard'][index]}}</td>
            </tr>
            <tr class="dataRow">
                <td class ="itemTitle">Suburb:</td>
                <td class ="place-holder form-data" id = "iSuburb">{{formData.comSuburb['cloud_connect_standard'][index]}}</td>
                <td></td>
                <td class ="itemTitle" >Postcode:</td>
                <td class ="place-holder" id ="postCode">{{formData.comZipCode['cloud_connect_standard'][index]}}</td>                               
            </tr>
            <tr class="dataRow">
                <td class =" itemTitle" >Name:</td>
                <td class =" place-holder form-data"  id = "name">{{formData.dName}}</td>
                <td></td>
                <td class =" itemTitle" >Witness Name:</td>
                <td class =" place-holder form-data" id ="witnesName">{{formData.wName}}</td>  
            </tr>
            <tr class="dataRow">
                <td class ="itemTitle">Signature:</td>
                <td class ="signatureImg signItem" id ="voice-std-sg-{{index}}" ng-click='sign("voice-std-sg-" + index)'>
                    <b ng-if="isSigned('voice-std-sg')" class="greenText">{{ getSignedTime('voice-std-sg') }}</b>
                    <b ng-if="!isSigned('voice-std-sg') && (!isDraftMode())" class="greenText">Customer Signature here</b>
                </td>
                <td></td>
                <td class ="itemTitle">Witness Signature:</td>
                <td class="signatureImg signItem" id="voice-std-wt-{{index}}" ng-click='sign("voice-std-wt-" + index)' >
                    <img class='imported' ng-src="{{userSign}}" ng-if="userSign" height="36" height=36 ></img>
                    <div class='signTimeStamp' style='font-weight:300;font-size:8pt' ng-if="userSign">{{getCurrentDate()}}</div>
                    <span ng-if="!userSign">
                        <span ng-if='!isSigned("voice-std-wt-" + index) && !isDraftMode()'>Witness Signature here</span>
                    </span>
                </td>    
            </tr>
        </table>
        
        <p class="TAC" style='padding: 0;font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;font-size: 8.5px;'>
            <strong>All Prices are exclusive of GST.</strong> <br />
            <strong>Nexgen Cloud Connect Standard (CCS)</strong> services require a minimum of 2 users. Any additional users may be purchased for $29 per user per month up to a maximum of 100 users. Cloud Connect Standard services requires an active internet connection to work. Each call received or made from the handset or softphone requires a minimum of 100kbps of upstream and downstream bandwidth to ensure the call is of high quality. <strong>Voice lines only will be ported to the CCS Plan. Analogue Devices such as alarm, eftpos and fax may not be able to port to the CCS plan.</strong> Existing Telephone lines that need to be ported must be identified on the Nexgen Telephone Application. Calls to 13/1300 numbers are charged at $0.45 per call. Nexgen Cloud Connect Standard on-net rates willl only apply once the services have ported to the CCS plan. The standard delivery time for CCS service porting is 6-8 weeks from the time of Telephone system installation. A maximum of $10 Discount may be applied to each Cloud Connect channel plan fee. Any Nexgen Cloud Connect Tariff Discounts will only be applied upon settlement of your account. Discounts offered will expire at the end of the agreed term. On- Net Rates are only available on services that have been ported to Nexgen network. All other services will be charged in accordance with the noted Off-Net Rates. Any PSTN or ATA Adaptor will be billed monthly at <strong>$43.95</strong> per month. Off Net BRI and PRI using Telstra network are charged monthly at the following rates BRI $109.85, PRI10 $449.99, PRI 20 $880, PRI 30 $1289.99. Cancellation of any service prior to the minimum term will incur Early Termination fees. Early termination fees are calculated at the monthly plan fee multiplied by the remainder of the term. Please refer to clause 15.5 of the Nexgen Application for further Early Termination details. Please refer to www.nexgen.com.au for full terms and conditions.
        </p>
         <table style="width: 100%;border-bottom: 10px solid #797979;">
            <tr>
                <td style='width: 60%;font-size:9px;vertical-align: middle;padding-left: 10px;line-height: 1.3;font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;'>
                    <span style="font-weight: 600;">SYDNEY OFFICE:</span><span> Level 2, 440 Church Street, Parramatta, NSW 2151</span><br>
                    <span style="font-weight: 600;">SYDNEY CBD OFFICE:</span><span> Level 13, 61 York Street, Sydney, NSW 2000</span><br>
                    <span style="font-weight: 600;">BRISBANE:</span><span> Level 2/5 Cribb St Milton QLD 4064</span><br>
                    <span>Tel: 1300 02 04 02 | Fax: 1300 02 88 78 | support@nexgen.com.au | www.nexgen.com.au</span>
                </td>
                <td style="width: 40%;background-image: url('/assets/images/proposal/footer2.png');background-size: 80%;background-repeat: no-repeat;height: 85px;background-position: bottom;"></td>
            </tr>
        </table>
    </div>
</div>