<style>
    .fixed{
        table-layout: fixed;
    }
    @page {
        sheet-size : A4;
        margin: 0%;
    }
    @page cover {
         margin-header:0mm;

    }
    div.cover {
        page-break-before: right;
        page: cover;
    }
    @page pages {
        odd-footer-name: html_pagesFooter;
        even-footer-name: html_pagesFooter;
        margin-top: 1%;
        margin-bottom: 2%;
        margin-right: 3%;
        margin-left: 3%;
        margin-footer: 3mm;
        font-family: san-serif;

    }
    div.pages {
        page: pages;
         font-family: sans-serif;
    }
</style>
<link rel="stylesheet" type="text/css" href="assets/css/quotCss.css">
<!-- <link href = "assets/css/form.css" rel='stylesheet' type='text/css'> -->
<link href = "assets/angular/font-awesome/css/font-awesome.css" rel='stylesheet' type='text/css'>
<page size="A4">
	<div class="content">
		<div class="header-top">
			<div id="headerimage">
				<img id="logo" src="assets/images/logo.png">
			</div>
			<div id="info">
				<ul>
					<li><span class="ulhead">Sydney Office</span>: 2/71 York Street, Sydney, NSW 2000</li>
					<li><span class="ulhead">Brisbane Office</span>: Level 2/5 Cribb St Milton QLD 4064</li>
					<li>Sydney NSW 2000</li>
					<li><span class="ulhead">Melbourne Office</span>: Level 6 606 St Kilda Rd Melbourne Vic 3004</li>
					<li><span class="ulhead">Tel</span>: 1 300 02 04 02 | <span class="ulhead">Fax</span>: 1 300 02 88 78 | support@nexgen.com.au</li>
					<li><span class="ulhead">Website</span>: www.nexgen.com.au</li>
				</ul>	
			</div>	
		</div>
		<br>
		<div class="header" id="myoffer">
			<div id="myoffertext">MY OFFER</div>
		</div>
		<div class="innerContent">
			<div id="someInfo">
				<span id="AN">Australia Network</span>
				<span id="ON">
					<span class="ONbold">Order Number:</span><br>
					<span class="ONbold">#SL64267</span><br>
					<span class="ONsmallbold"><strong>Sales Person</strong> : Khalil Mhaiche</span><br>
					<span class="ONsmallbold"><strong>Date</strong> : 26 Sept 2018</span>
				</span>
			</div><br><br><br><br>
			<div id="myServices">
				<h3>Schedule of Goods</h3>
			</div>
			<div class="extraspace"></div>
			<div id="data">
				<table class="table" id="sa" ng-repeat="(index, item) in items['schedule_of_goods'] track by $index" ng-if="formData.schOption[index][schItem.count]>0">
						<tr>
							<th>Description</th>
							<th>Quantity</th>
							<th>Unit Price</th>
							<th>Subtotal</th>
						</tr>
						<tr data-ng-repeat='schItem in formData.schItems[index]'>
							<td>{{formData.schOption[index][schItem.count].item}}</td>
							<td>{{formData.schQty[index][schItem.count]}}</td>
							<!-- unit price and subtotal-->
							<td>{{option.price}}</td>
							<td>{{option.price * formData.schQty[index]}}</td>
						</tr>
						<tr data-ng-repeat='schAddItem in formData.schAddItems[index]'>
							<td>{{formData.schAddOption[index][schAddItem.count]}}</td>
							<td>{{formData.schAddOptionQty[index][schAddItem.count]}}</td>
							<!-- unit price and subtotal -->
							<td>{{option.price}}</td>
							<td>{{option.price * formData.schQty[index]}}</td>
						</tr>
				</table>
			</div>
			<div class="extraspace"></div>
			<div>
				<h3>Services</h3>
			</div>
			<div class="extraspace"></div>
			<div>
				<table class="table">
						<tr>
							<th width="77%">Description</th>
							<th width="23%">Monthly Fee</th>
						</tr>
						<!-- ng-if="formData.type.voiceCap == true && voiceStd>0" -->
						<!-- start type=voiceCap-->
						<tr ng-repeat-start="(index, item) in items['nbf_cap'] track by $index" ng-if="formData.type.voiceCap == true" style="background: gray">
						    <td>
						    	<b>Business For Business Solution Standard </b>
					        	{{formData.voiceStd[index]}}
					            Channels
					        </td>
					        <td class="tdnarrow"> $ 
					        	<span ng-if="formData.voiceStd[index] == 5">495.00</span>
					            <span ng-if="formData.voiceStd[index] == 6">595.00</span> 
					            <span ng-if="formData.voiceStd[index] == 8">792.00</span>
					            <span ng-if="formData.voiceStd[index] == 10">990.00</span>
					            <span ng-if="formData.voiceStd[index] == 12">1188.00</span>
					            <span ng-if="formData.voiceStd[index] == 14">1106.00</span>
					            <span ng-if="formData.voiceStd[index] == 16">1264.00</span>
					            <span ng-if="formData.voiceStd[index] == 18">1422.00</span>
					            <span ng-if="formData.voiceStd[index] == 20">1580.00</span>
					            <span ng-if="formData.voiceStd[index] == 25">1975.00</span>
					        </td>
						</tr>
						<tr ng-if="formData.type.voiceCap == true && formData.voiceFaxToEmail[index]==true">
					        <td ng-if="formData.voiceFaxQty[index]>0">Fax to Emails {{formData.voiceFaxQty[index]}} x 9.95</td>
					        <td class="tdnarrow" ng-if="formData.voiceFaxQty[index]>0">$ {{formData.voiceFaxQty[index] * 9.95  | number:2}}</td>
					    </tr>
					    <tr ng-if="formData.type.voiceCap == true && formData.dID[index]" >
					        <td>Direct in Dial
					        	<span ng-if="formData.dID[index] == 9.99">10 x DID</span>
					          	<span ng-if="formData.dID[index] == 15.99">20 x DID</span>
					          	<span ng-if="formData.dID[index] == 19.99">50 x DID</span>
					          	<span ng-if="formData.dID[index] == 25.99">100 x DID</span>
					        </td>
					        <td class="tdnarrow">$ {{voiceCap.dID[formData.dID[index]] | number:2}}</td>        
					    </tr>
					    <tr ng-if="formData.bFCapDiscount[index]>0 && formData.type.voiceCap == true" ng-repeat-end>
					        <td class="tdwide">Max Discount</td>
					        <td class="tdnarrow">-$ {{formData.bFCapDiscount[index] | number:2}}</td>
					    </tr>
					    <!-- end -->
					    <!-- start -->
					    <tr ng-repeat-start="(index, item) in items['nbf_std'] track by $index" ng-if="formData.type.focusStandard == true" style="background: gray">
						    <td>
						    	<b>Business Focus Standard</b>
					        	{{formData.voiceStdChannel[index]}}
					            Channels
					        </td>
					        <td class="tdnarrow"> $ 
					        	<span ng-if="formData.voiceStdChannel[index] == 5">199.00</span>
					        	<span ng-if="formData.voiceStdChannel[index] == 6">219.00</span>
					        	<span ng-if="formData.voiceStdChannel[index] == 10">249.00</span>
					        	<span ng-if="formData.voiceStdChannel[index] == 20">299.00</span>
					        	<span ng-if="formData.voiceStdChannel[index] == 30">349.00</span>	
					        </td>
						</tr>
						<tr ng-if="formData.type.focusStandard == true && formData.voiceStdFaxToEmail[index]==true">
					        <td ng-if="formData.voiceStdFaxQty[index]>0">Fax to Emails {{formData.voiceStdFaxQty[index]}} x 9.95</td>
					        <td class="tdnarrow" ng-if="formData.voiceStdFaxQty[index]>0">$ {{formData.voiceStdFaxQty[index] * 9.95  | number:2}}</td>
					    </tr>
					    <tr ng-if="formData.type.focusStandard == true && voiceStd.sDID[formData.voiceStdDID[index]]>0" >
					        <td>Direct in Dial
					        	<span ng-if="voiceStd.sDID[formData.voiceStdDID[index]] == 9.99">10 x DID</span>
					          	<span ng-if="voiceStd.sDID[formData.voiceStdDID[index]] == 15.99">20 x DID</span>
					          	<span ng-if="voiceStd.sDID[formData.voiceStdDID[index]] == 19.99">50 x DID</span>
					          	<span ng-if="voiceStd.sDID[formData.voiceStdDID[index]] == 25.99">100 x DID</span>
					        </td>
					        <td class="tdnarrow">$ {{voiceStd.sDID[formData.voiceStdDID[index]] | number:2}}</td>        
					    </tr>
					    
					    <tr ng-if="formData.bFStdDiscount[index]>0 && formData.type.focusStandard == true">
					        <td class="tdwide">Plan Discount</td>
					        <td class="tdnarrow">-${{formData.bFStdDiscount[index] | number:2}}</td>
					    </tr>
					    <tr ng-if="formData.bFCallDiscount[index]>0 && formData.type.focusStandard == true" ng-repeat-end>
					        <td class="tdwide">Call Discount</td>
					        <td class="tdnarrow">-${{formData.bFCallDiscount[index] | number:2}}</td>
					    </tr>
					    <!-- end -->
					    <!-- start -->
					    <tr ng-repeat-start="(index, item) in items['voice_comp'] track by $index" ng-if="formData.type.completeOffice == true && formData.voiceCompAnalouge[index]" style="background: gray">
						    <td>
						    	<b>Office Analouge @ 39.95 per month per line </b>({{formData.voiceCompAnalouge[index]}})
					        </td>
					        <td class="tdnarrow"> $ {{formData.voiceCompAnalouge[index] * 39.95 | number:2}}
					        </td>
						</tr>
						<tr ng-if="formData.voiceCompBri[index]>0 && formData.type.completeOffice == true">
							<td><b>Office BRI @ 99.85 per month per ISDN</b>({{formData.voiceCompBri[index]}} Lines)</td>
							<td class="tdnarrow">$ {{formData.voiceCompBri[index] * 99.85 | number:2}}</td>
						</tr>
						<tr ng-if="formData.voiceCompPri[index]>0 && formData.type.completeOffice == true">
							<td>
								<b>Nexgen Office PRI</b>
							</td>
							<td class="tdnarrow">
								{{formData.voiceCompPri[index]}}
							</td>
						</tr>
						<tr ng-if="formData.type.completeOffice == true && formData.voiceCompFaxToEmail[index] == true">
					        <td ng-if="formData.voiceCompFaxToEmail[index]>0">Fax to Emails ({{formData.voiceCompFaxQty[index]}}) x 9.95</td>
					        <td class="tdnarrow" ng-if="formData.voiceCompFaxToEmail[index]>0">$ {{formData.voiceCompFaxQty[index] * 9.95  | number:2}}</td>
					    </tr>
						<tr ng-if="formData.type.completeOffice == true && voiceComp.cDID[formData.voiceCompDID[index]]>0" >
					        <td ng-if="voiceComp.cDID[formData.voiceCompDID[index]] == 49.95">Direct in Dial
					        	100 x DID
					        </td>
					        <td class="tdnarrow">$ {{voiceComp.cDID[formData.voiceCompDID[index]] | number:2}}</td>        
					    </tr>
						<tr ng-if="formData.type.completeOffice == true && formData.voiceCompAnalougeDis[index]>0">
							<td class="tdwide">Analouge Discount</td>
							<td class="tdnarrow">-$ {{formData.voiceCompAnalougeDis[index] | number:2}}</td>
						</tr>
						<tr ng-if="formData.type.completeOffice == true && formData.voiceCompBriDis[index]>0">
							<td class="tdwide">BRI Discount</td>
							<td class="tdnarrow">-$ {{formData.voiceCompBriDis[index] | number:2}}</td>
						</tr>
						<tr ng-if="formData.type.completeOffice == true && formData.voiceCompPriDis[index]>0">
							<td class="tdwide">PRI Discount</td>
							<td class="tdnarrow">-$ {{formData.voiceCompPriDis[index] | number:2}}</td>
						</tr>
					    <tr ng-if="formData.voiceCompCallDis[index]>0 && formData.type.completeOffice == true" ng-repeat-end>
					        <td class="tdwide">Call Discount</td>
					        <td class="tdnarrow">-$ {{formData.voiceCompCallDis[index] | number:2}}</td>
					    </tr>
					    <!-- end -->
					    <!-- start 
					    :voiceUt
					    change channel names -->
					    <tr ng-repeat-start="(index, item) in items['voice_solution_untimed'] track by $index" ng-if="formData.type.voiceUt == true" style="background: gray">
						    <td>
						    	<b>Business Solution Untimed </b>
					        	{{formData.voiceUntimedChannel[index]}}
					            Channels
					        </td>
					        <td class="tdnarrow"> $ 
					        	<span ng-if="formData.voiceUntimedChannel[index] == 3">199.00</span>
					            <span ng-if="formData.voiceUntimedChannel[index] == 4">259.00</span>
					            <span ng-if="formData.voiceUntimedChannel[index] == 5">319.00</span>
					            <span ng-if="formData.voiceUntimedChannel[index] == 6">379.00</span>
					            <span ng-if="formData.voiceUntimedChannel[index] == 7">439.00</span>
					            <span ng-if="formData.voiceUntimedChannel[index] == 8">499.00</span>
					            <span ng-if="formData.voiceUntimedChannel[index] == 9">559.00</span>
					            <span ng-if="formData.voiceUntimedChannel[index] == 10">619.00</span>
					            <span ng-if="formData.voiceUntimedChannel[index] == 11">679.00</span>
					            <span ng-if="formData.voiceUntimedChannel[index] == 12">739.00</span>
					            <span ng-if="formData.voiceUntimedChannel[index] == 13">799.00</span>
					            <span ng-if="formData.voiceUntimedChannel[index] == 14">859.00</span>
					            <span ng-if="formData.voiceUntimedChannel[index] == 15">919.00</span>
					            <span ng-if="formData.voiceUntimedChannel[index] == 16">979.00</span>
					            <span ng-if="formData.voiceUntimedChannel[index] == 17">1039.00</span>
					            <span ng-if="formData.voiceUntimedChannel[index] == 18">1099.00</span>
					            <span ng-if="formData.voiceUntimedChannel[index] == 19">1159.00</span>
					            <span ng-if="formData.voiceUntimedChannel[index] == 20">1219.00</span>
					            <span ng-if="formData.voiceUntimedChannel[index] == 21">1279.00</span>
					            <span ng-if="formData.voiceUntimedChannel[index] == 22">1339.00</span>
					            <span ng-if="formData.voiceUntimedChannel[index] == 23">1399.00</span>
					            <span ng-if="formData.voiceUntimedChannel[index] == 24">1459.00</span>
					            <span ng-if="formData.voiceUntimedChannel[index] == 25">1519.00</span>
					            <span ng-if="formData.voiceUntimedChannel[index] == 26">1579.00</span>
					            <span ng-if="formData.voiceUntimedChannel[index] == 27">1639.00</span>
					            <span ng-if="formData.voiceUntimedChannel[index] == 28">1699.00</span>
					            <span ng-if="formData.voiceUntimedChannel[index] == 29">1759.00</span>
					            <span ng-if="formData.voiceUntimedChannel[index] == 30">1819.00</span>
					        </td>
						</tr>
						<tr ng-if="formData.type.voiceUt == true && formData.voiceUntimedFaxToEmail[index]==true">
					        <td ng-if="formData.voiceUntimedFaxQty[index]>0">Fax to Emails {{formData.voiceUntimedFaxQty[index]}} x 9.95</td>
					        <td class="tdnarrow" ng-if="formData.voiceUntimedFaxQty[index]>0">$ {{formData.voiceUntimedFaxQty[index] * 9.95  | number:2}}</td>
					    </tr>
					    <tr ng-if="formData.type.voiceUt == true && formData.voiceUntimedDID[index]>0">
					    	<td>Direct in Dial
					        	<span ng-if="formData.voiceUntimedDID[index] == 10">14.95</span>
					        	<span ng-if="formData.voiceUntimedDID[index] == 50">24.95</span>
					        	<span ng-if="formData.voiceUntimedDID[index] == 100">34.95</span>
					        X DID</td>
					        <td class="tdnarrow">$ {{voiceUt.sDID[formData.voiceUntimedDID[index]] | number:2}}</td>
					    </tr>
					    <tr ng-if="formData.bFUntimedDiscount[index]>0 && formData.type.voiceUt == true" ng-repeat-end>
					        <td class="tdwide">Discount</td>
					        <td class="tdnarrow">-${{formData.bFUntimedDiscount[index] | number:2}}</td>
					    </tr>
					   	<!-- end -->
					   	<!-- start
					   	change channel name
					   	:voiceSolution -->
					   	<tr ng-repeat-start="(index, item) in items['voice_solution_standard'] track by $index" ng-if="formData.type.voiceSolution == true && formData.voiceSolutionChannel[index]>0" style="background: gray">
						    <td>
						    	<b>Business Solution Standard </b>
					        	{{formData.voiceSolutionChannel[index]}}
					            Channels
					        </td>
					        <td class="tdnarrow"> $ 
					        	<span ng-if="formData.voiceSolutionChannel[index] == 3">149.00</span>
					            <span ng-if="formData.voiceSolutionChannel[index] == 4">159.00</span> 
					            <span ng-if="formData.voiceSolutionChannel[index] == 5">169.00</span>
					            <span ng-if="formData.voiceSolutionChannel[index] == 6">179.00</span>
					            <span ng-if="formData.voiceSolutionChannel[index] == 7">189.00</span>
					            <span ng-if="formData.voiceSolutionChannel[index] == 8">199.00</span>
					            <span ng-if="formData.voiceSolutionChannel[index] == 9">209.00</span>
					            <span ng-if="formData.voiceSolutionChannel[index] == 10">219.00</span>
					            <span ng-if="formData.voiceSolutionChannel[index] == 11">229.00</span>
					            <span ng-if="formData.voiceSolutionChannel[index] == 12">239.00</span>
					            <span ng-if="formData.voiceSolutionChannel[index] == 13">249.00</span>
					            <span ng-if="formData.voiceSolutionChannel[index] == 14">259.00</span>
					            <span ng-if="formData.voiceSolutionChannel[index] == 15">269.00</span>
					            <span ng-if="formData.voiceSolutionChannel[index] == 16">279.00</span>
					            <span ng-if="formData.voiceSolutionChannel[index] == 17">289.00</span>
					            <span ng-if="formData.voiceSolutionChannel[index] == 18">299.00</span>
					            <span ng-if="formData.voiceSolutionChannel[index] == 19">309.00</span>
					            <span ng-if="formData.voiceSolutionChannel[index] == 20">319.00</span>
					            <span ng-if="formData.voiceSolutionChannel[index] == 21">329.00</span>
					            <span ng-if="formData.voiceSolutionChannel[index] == 22">339.00</span>
					            <span ng-if="formData.voiceSolutionChannel[index] == 23">349.00</span>
					            <span ng-if="formData.voiceSolutionChannel[index] == 24">359.00</span>
					            <span ng-if="formData.voiceSolutionChannel[index] == 25">369.00</span>
					            <span ng-if="formData.voiceSolutionChannel[index] == 26">379.00</span>
					            <span ng-if="formData.voiceSolutionChannel[index] == 27">389.00</span>
					            <span ng-if="formData.voiceSolutionChannel[index] == 28">399.00</span>
					            <span ng-if="formData.voiceSolutionChannel[index] == 29">409.00</span>
					            <span ng-if="formData.voiceSolutionChannel[index] == 30">419.00</span>
					        </td>
						</tr>
						<tr ng-if="formData.type.voiceSolution == true && formData.voiceSolutionFaxToEmail[index] == true">
							<td ng-if="formData.voiceSolutionFaxQty[index]>0">Fax to Emails ({{formData.voiceSolutionFaxQty[index]}}) x 9.95</td>
					        <td class="tdnarrow" ng-if="formData.voiceSolutionFaxQty[index]>0">$ {{formData.voiceSolutionFaxQty[index] * 9.95  | number:2}}</td>
						</tr>
						<tr ng-if="formData.type.voiceSolution == true && formData.voiceSolutionDID[index]>0">
					    	<td>Direct in Dial
					        	{{formData.voiceSolutionDID[index]}}
					        X DID</td>
					        <td class="tdnarrow">$ {{voiceSolution.sDID[formData.voiceSolutionDID[index]] | number:2}}</td>
					    </tr>
					    <tr ng-if="formData.bFSolutionDiscount[index]>0 && formData.type.voiceSolution == true">
					        <td class="tdwide">Plan Discount</td>
					        <td class="tdnarrow">-${{formData.bFSolutionDiscount[index] | number:2}}</td>
					    </tr>
						<tr ng-if="formData.bFSolutionCallDiscount[index]>0 && formData.type.voiceSolution == true" ng-repeat-end>
					        <td class="tdwide">Call Discount</td>
					        <td class="tdnarrow">-${{formData.bFSolutionCallDiscount[index] | number:2}}</td>
					    </tr>
					    <!-- end -->
					    <!-- start
					    :voiceEssential -->
					     <tr ng-repeat-start="(index, item) in items['voice_essentials_cap'] track by $index" ng-if="formData.type.voiceEssential == true && formData.voiceEssentialChannel[index]>0" style="background: gray">
						    <td>
						    	<b>Business Essential Standard</b>
					        	{{formData.voiceEssentialChannel[index]}}
					            Channels
					        </td>
					        <td class="tdnarrow"> $ 
					        	<span ng-if="formData.voiceEssentialChannel[index] == 4">196.00</span>
					        	<span ng-if="formData.voiceEssentialChannel[index] == 6">294.00</span>
					        	<span ng-if="formData.voiceEssentialChannel[index] == 8">392.00</span>
					        	<span ng-if="formData.voiceEssentialChannel[index] == 10">490.00</span>
					        	<span ng-if="formData.voiceEssentialChannel[index] == 12">588.00</span>
					        	<span ng-if="formData.voiceEssentialChannel[index] == 14">686.00</span>
					        	<span ng-if="formData.voiceEssentialChannel[index] == 16">784.00</span>
					        	<span ng-if="formData.voiceEssentialChannel[index] == 18">882.00</span>
					        	<span ng-if="formData.voiceEssentialChannel[index] == 20">980.00</span>	
					        </td>
						</tr>
						<tr ng-if="formData.type.voiceEssential == true && formData.voiceEssentialDID[index]" >
					        <td>Direct in Dial
					        	{{formData.voiceEssentialDID[index]}} x DID
					        </td>
					        <td class="tdnarrow">$ 
					        	<span ng-if="formData.voiceEssentialDID[index] == 10">9.99</span>
					        	<span ng-if="formData.voiceEssentialDID[index] == 20">15.99</span>
					        	<span ng-if="formData.voiceEssentialDID[index] == 50">19.99</span>
					        	<span ng-if="formData.voiceEssentialDID[index] == 100">25.99</span>
					        </td>        
					    </tr>
					    <tr ng-if="formData.bECapDiscount[index]>0 && formData.type.voiceEssential == true" >
					        <td class="tdwide">Plan Discount</td>
					        <td class="tdnarrow">-${{formData.bECapDiscount[index] | number:2}}</td>
					    </tr>
					    <tr ng-if="formData.type.voiceEssential == true && formData.ipMidbandPlansVoice[index].price>0">
					    	<td>Midband {{formData.ipMidbandPlansVoice[index].description}}
					         Plan</td>
					        <td class="tdnarrow">$ {{formData.ipMidbandPlansVoice[index].price | number:2}}</td> 
					    </tr>
					    <tr ng-if="formData.type.voiceEssential == true && formData.ipMidbandDownloadVoice[index].price>0">
					    	<td>Midband {{formData.ipMidbandDownloadVoice[index].description}}
					         Plan</td>
					        <td class="tdnarrow">$ {{formData.ipMidbandDownloadVoice[index].price | number:2}}</td> 
					    </tr>
						<tr ng-if="formData.ipMidbandDis[index]>0 && formData.type.voiceEssential == true" ng-repeat-end>
					        <td class="tdwide">Midband Discount</td>
					        <td class="tdnarrow">-${{formData.ipMidbandDis[index] | number:2}}</td>
					    </tr>
					    <!-- end -->
					    <!-- start -->
					    <!-- :ads12 -->
					    <tr ng-repeat-start="(index, item) in items['data_adsl'] track by $index" ng-if="formData.type.adsl2 == true && formData.adsl2Plans[index].price>0" style="background: gray">
					    	<td class="tdwide"><b>ADSL 2+ Monthly Plan</b>
					    		<span>{{formData.adsl2Plans[index].description}}</span>
					    	</td>
					    	<td class="tdnarrow">$
					    		<span>{{formData.adsl2Plans[index].price | number:2}}</span>
					    	</td>
					    </tr>
					    <tr ng-if="formData.type.adsl2 == true && formData.adsl2Dis[index]>0">
					    	<td class="tdwide">Plan Discount</td>
					        <td class="tdnarrow">-$ {{formData.adsl2Dis[index] | number:2}}</td>
					    </tr>
					    <tr ng-if="formData.type.adsl2 == true && formData.voiceCompAnalougeDSL[index]>0">
							<td>Office Analogue @ 39.95 per month per ISDN({{formData.voiceCompAnalougeDSL[index]}} Lines)</td>
							<td class="tdnarrow">$ {{formData.voiceCompAnalougeDSL[index] * 39.95 | number:2}}</td>
						</tr>
					    <tr ng-if="formData.type.adsl2 == true && formData.voiceCompAnalougeDisDSL[index]>0" ng-repeat-end>
					    	<td class="tdwide">Analouge Discount</td>
					        <td class="tdnarrow">-$ {{formData.voiceCompAnalougeDisDSL[index] | number:2}}</td>
					    </tr>
					   	<!-- end-->
					   	<!-- start -->
					   	<!-- nbnUnlimitedPlans -->
					   	<tr ng-repeat-start="(index, item) in items['nbnUnlimited'] track by $index" ng-if="formData.type.nbnUnlimitedPlans == true && formData.UnlimitedPlans[index].price>0" style="background: gray">
					    	<td class="tdwide"><b>NBN Unlimited plans</b>
					    		<span>{{formData.UnlimitedPlans[index].description}}</span>
					    	</td>
					    	<td class="tdnarrow">$
					    		<span>{{formData.UnlimitedPlans[index].price | number:2}}</span>
					    	</td>
					    </tr>
					    <tr ng-if="formData.nbnUnlimitedDis[index]>0 && formData.type.nbnUnlimitedPlans == true">
					    	<td class="tdwide">Monthly Plan discount</td>
					    	<td class="tdnarrow">
					    		<span>-$ {{formData.nbnUnlimitedDis[index] | number:2}}</span>
					    	</td>
					    </tr>
					    <tr ng-if="formData.type.nbnUnlimitedPlans == true && formData.voiceCompAnalougeNBNUnli[index]>0">
							<td class="tdwide">Analogue ATA Line @ 39.95 per month per line ({{formData.voiceCompAnalougeNBNUnli[index]}} Lines)</td>
							<td class="tdnarrow">$ {{formData.voiceCompAnalougeNBNUnli[index] * 39.95 | number:2}}</td>
						</tr>
					   	<tr ng-if="formData.type.nbnUnlimitedPlans == true && formData.voiceCompAnalougeDisNBNUnli[index]>0" ng-repeat-end>
					   		<td class="tdwide">Analogue ATA discount $ Monthly</td>
					   		<td class="tdnarrow">-$ {{formData.voiceCompAnalougeDisNBNUnli[index] | number:2}}</td>
					   	</tr>
					   	<!-- end -->
					   	<!-- start -->
					   	<!-- :ipMidband -->
					   <tr ng-repeat-start="(index, item) in items['ip_midband'] track by $index" ng-if="formData.type.ipMidband == true && formData.ipMidbandPlans[index].price>0" style="background: gray">
					    	<td class="tdwide"><b>Midband Monthly  plans</b>
					    		<span>{{formData.ipMidbandPlans[index].description}}</span>
					    	</td>
					    	<td class="tdnarrow">$
					    		<span>{{formData.ipMidbandPlans[index].price | number:2}}</span>
					    	</td>
					    </tr>
					   	<tr ng-if="formData.type.ipMidband == true && formData.ipMidbandDownload.price[index].price>0">
					   		<td class="tdwide">Download Allowance <span>{{formData.ipMidbandDownload[index].description}}</span></td>
					   		<td class="tdnarrow">$ <span>{{formData.ipMidbandDownload[index].price}}</span></td>
					   	</tr>
					   	<tr ng-if="formData.type.ipMidband == true && formData.ipMidbandDownload[index].price>0">
					    	<td>Download Allowance {{formData.ipMidbandDownload[index].description}}
					         </td>
					        <td class="tdnarrow">$ {{formData.ipMidbandDownload[index].price | number:2}}</td> 
					    </tr>
					   	<tr ng-if="formData.type.ipMidband == true && formData.ipMidbandDis[index]>0" ng-repeat-end>
					    	<td class="tdwide">Discount</td>
					        <td class="tdnarrow">-$ {{formData.ipMidbandDis[index] | number:2}}</td>
					    </tr>
					    <!-- end -->
					    <!-- start -->
					    <!-- ipMidbandUnli -->
					    <tr ng-repeat-start="(index, item) in items['ip_midbandunli'] track by $index" ng-if="formData.type.ipMidbandUnli == true && formData.ipMidbandUnliPlans[index].price>0" style="background: gray">
					    	<td class="tdwide"><b>Midband Unlimited plan</b>
					    		<span>{{formData.ipMidbandUnliPlans[index].description}}</span>
					    	</td>
					    	<td class="tdnarrow">$
					    		<span>{{formData.ipMidbandUnliPlans[index].price | number:2}}</span>
					    	</td>
					    </tr>
					    <tr ng-if="formData.type.ipMidbandUnli == true && formData.ipMidbandUnliDis[index]>0" ng-repeat-end>
					    	<td class="tdwide">Discount</td>
					        <td class="tdnarrow">-$ {{formData.ipMidbandUnliDis[index] | number:2}}</td>
					    </tr>
					    <!-- end -->
					    <!-- start -->
					    <tr ng-repeat-start="(index, item) in items['ethernet'] track by $index" ng-if="formData.type.ethernet == true && formData.ethernetPlans[index].price>0" style="background: gray">
					    	<td class="tdwide"><b>Ethernet (EFM) Plan</b>
					    		<span>{{formData.ethernetPlans[index].description}}</span>
					    	</td>
					    	<td class="tdnarrow">$
					    		<span>{{formData.ethernetPlans[index].price | number:2}}</span>
					    	</td>
					    </tr>
					    <tr ng-if="formData.type.ethernet == true && formData.ethernetDis[index]>0" ng-repeat-end>
					    	<td class="tdwide">Discount</td>
					        <td class="tdnarrow">-$ {{formData.ethernetDis[index] | number:2}}</td>
					    </tr>
					    <!-- end -->
					    <!-- start -->
					    <tr ng-repeat-start="(index, item) in items['fibre'] track by $index" ng-if="formData.type.fibre == true && formData.fibreUtPlans[index].price>0" style="background: gray">
					    	<td class="tdwide"><b>Fibre Unlimited Monthly Plan</b>
					    		<span>{{formData.fibreUtPlans[index].description}}</span>
					    	</td>
					    	<td class="tdnarrow">$
					    		<span>{{formData.fibreUtPlans[index].price | number:2}}</span>
					    	</td>
					    </tr>
					    <tr ng-if="formData.type.fibre == true && formData.fibreDis[index]>0" ng-repeat-end>
					    	<td class="tdwide">Discount</td>
					        <td class="tdnarrow">-$ {{formData.fibreDis[index] | number:2}}</td>
					    </tr>
					    <!-- end -->
					    <!-- start -->
					    <!-- :telstraUntimed -->
					    <tr ng-repeat="item in configMobPort track by $index" ng-if="formData.type.telstraUntimed == true && item.confPatPlan.price>0 " style="background: gray">
					    	<td class="tdwide"><b>Telstra 4G Rate Plan</b>
					    		<span>{{item.confPatPlan.plan}}</span>
					    	</td>
					    	<td class="tdnarrow">$
					    		<span>{{item.confPatPlan.price | number:2}}</span>
					    	</td>
					    </tr>
					    <tr ng-repeat="item in configMobPort track by $index" ng-if="formData.type.telstraUntimed == true && item.boltOn.price>0">
					    	<td class="tdwide">
					    		<span>Bolt on {{item.boltOn.memory}}</span>
					    	</td>
					    	<td class="tdnarrow">
					    		<span>$ {{item.boltOn.price | number:2}}</span>
					    	</td>
					    </tr>
					    <tr ng-if="formData.type.telstraUntimed == true && formData.telstraUntimedDis>0">
					    	<td class="tdwide">Discount</td>
					        <td class="tdnarrow">-$ {{formData.telstraUntimedDis | number:2}}</td>
					    </tr>
					    <!-- end -->
					    <!-- start -->
					    <tr ng-repeat-start="(index, item) in items['telstraWireless'] track by $index" ng-if="formData.type.telstraWireless == true && formData.telstraWirelessPlans[index].price>0" style="background: gray">
					    	<td class="tdwide"><b>Telstra Wireless Monthly Plan</b>
					    		<span>{{formData.telstraWirelessPlans[index].description}}</span>
					    	</td>
					    	<td class="tdnarrow">$
					    		<span>{{formData.telstraWirelessPlans[index].price | number:2}}</span>
					    	</td>
					    </tr>
					    <tr ng-if="formData.type.telstraWireless == true && formData.telstraWirelessDis[index]>0" ng-repeat-end>
					    	<td class="tdwide">Discount</td>
					        <td class="tdnarrow">-$ {{formData.telstraWirelessDis[index] | number:2}}</td>
					    </tr>
					    <!-- end -->
					    <!-- mobileUt -->
					    <tr ng-repeat="(index,item) in mobile4GUntimedPlans track by $index" ng-if="formData.type.mobileUt == true && mobile_4G_Untimed_Calls[index].price>0" style="background: gray">
					    	<td class="tdwide"><b>Mobile Untimed Rate Plan</b>
					    		<span>{{mobile_4G_Untimed_Calls[index].description}}</span>
					    	</td>
					    	<td class="tdnarrow">$
					    		<span>{{mobile_4G_Untimed_Calls[index].price | number:2}}</span>
					    	</td>
					    </tr>
					    <tr ng-if="formData.type.mobileUt == true && formData.mobileUtDis>0">
					    	<td class="tdwide">
					    		<span>Mobile Mega Plan Discount</span>
					    	</td>
					    	<td class="tdnarrow">
					    		<span>-$ {{formData.mobileUtDis | number:2}}</span>
					    	</td>
					    </tr>
					    <!-- end -->
					    <!-- start -->
					    <tr ng-repeat="(index, item) in items['1300'] track by $index">
					    	<td class="tdwide" ng-if="formData.qt1300new[index] && formData.rate131300.qt1800[index] ">New 1800</td>
					    	<td class="tdwide" ng-if="!formData.qt1300new[index] && formData.rate131300.qt1800[index]">Existing 1800</td>
					    	<td class="tdnarrow" ng-if="formData.rate131300.qt1800[index]"> {{formData.rate131300.qt1800[index] | number:2}}</td>
					    </tr>
					    <tr ng-repeat="(index, item) in items['1300'] track by $index">
					    	<td class="tdwide" ng-if="formData.qt1800new[index] && formData.rate131300.qt1300[index]">New 1300</td>
					    	<td class="tdwide" ng-if="!formData.qt1800new[index] && formData.rate131300.qt1300[index]">Existing 1300</td>
					    	<td class="tdnarrow" ng-if="formData.rate131300.qt1300[index]"> {{formData.rate131300.qt1300[index] | number:2}}</td>
					    </tr>
					    <tr ng-repeat="(index, item) in items['1300'] track by $index">
					    	<td class="tdwide" ng-if="formData.qt13new[index] && formData.rate131300.qt13[index]">New 13</td>
					    	<td class="tdwide" ng-if="!formData.qt13new[index] && formData.rate131300.qt13[index]">Existing 13</td>
					    	<td class="tdnarrow" ng-if="formData.rate131300.qt13[index]"> {{formData.rate131300.qt13[index] | number:2}}</td>
					    </tr>
					    <!-- end -->
					    <!-- start -->
					    <tr ng-repeat="(index, item) in items['1300_discounted'] track by $index">
					    	<td class="tdwide" ng-if="formData.qt1300Dis_new[index] && formData.rate131300Dis.qt1800[index]">New 1800 discount</td>
					    	<td class="tdwide" ng-if="!formData.qt1300Dis_new[index] && formData.rate131300Dis.qt1800[index]">Existing 1800 discount</td>
					    	<td class="tdnarrow" ng-if="formData.rate131300Dis.qt1800[index]">-$ {{formData.rate131300Dis.qt1800[index] | number:2}}</td>
					    </tr>
					    <tr ng-repeat="(index, item) in items['1300_discounted'] track by $index">
					    	<td class="tdwide" ng-if="formData.qt1800Dis_new[index] && formData.rate131300Dis.qt1300[index]">New 1300</td>
					    	<td class="tdwide" ng-if="!formData.qt1800Dis_new[index] && formData.rate131300Dis.qt1300[index]">Existing 1300</td>
					    	<td class="tdnarrow" ng-if="formData.rate131300Dis.qt1300[index]">-$ {{formData.rate131300Dis.qt1300[index] | number:2}}</td>
					    </tr>
					    <tr ng-repeat="(index, item) in items['1300_discounted'] track by $index" ng-if="formData.rateDis131300.discount[index]>0">
					    	<td class="tdwide">1300/1800 Discount</td>
					    	<td class="narrow">{{formData.rateDis131300.discount[index]}}</td>
					    </tr>
					    <!-- end -->
					    <!-- total here  asdf-->
					    <tr>
					    	<td class="tdwide"><b>total</b></td>
					    	<td class="tdnarrow">
					    		<!-- voice rate cards total -->
					    		<!-- focus cap -->
					    		$ {{ formData.totalServiceAmount - formData.totalServiceDiscount | number:2 }}
					    	</td> 
					    </tr>

				</table>
			</div>
			<div class="extraspace"></div>
			<div>
				<table id="left-pill">
					<tbody>
						<tr id="saved">
							<td class="pill-green-half">
								<ul>
									<li>YOUR TOTAL</li>
									<li>SAVINGS DURING</li>
									<li>CONTRACTED TERM</li>
								</ul>
							</td>
							<td class="pill-white-half">$1,058.80</td>
						</tr>
					</tbody>
				</table>
				<table id="center-pill">
					<tbody>
						<tr>
							<td class="pill-blue-half">
								<ul>
									<li>MINIMUM</li>
									<li>MONTHLY</li>
									<li>PAYMENT</li>
								</ul>
							</td>
							<td class="pill-white-half">$220.00</td>
						</tr>
					</tbody>
				</table>
				<table id="right-pill">
					<tbody>
						<tr>
							<td class="pill-blue-half">
								<ul>
									<li>TOTAL INITIAL</li>
									<li>PAYMENT</li>
								</ul>
							</td>
							<td class="pill-white-half">
								$43.80
							</td>
						</tr>
					</tbody>
				</table>

			</div>
			<div id="extraExtraSpace"></div>
			<!-- <div class="extraspace"></div>
			<div class="extraspace"></div>
			<div class="extraspace"></div>
			<div class="extraspace"></div> -->
			<div id="payment-method">
				<h3>PAYMENT METHODS</h3>
				<p class="pppp">Nominated initial payment method: <span><strong>Credit Card</strong></span></p>
				<p>Nominated ongoing payment method: <span><strong>Credit Card</strong></span></p>
			</div>
			<div class="extraspace"></div>
			<div class="extraspace"></div>
			<div id="terms-and-conditions" style=" list-style: disc !important;">
				<h3 id="asdf" style="color: black;">TERMS AND CONDITIONS</h3><br>
				<ul id="bulletedul" style="color:black;">
					<li>The information I have supplied is correct and I am authorised to place this order.</li>
					<li>I agree to order the goods and/or services stated and to pay all charges in connection with them.</li>
					<li>I agree to the Terms stated on this offer and the <a href="#">Business Terms & Conditions</a> (which I have read and understood) and to receive notice by email for any changes.</li>
					<li>I agree to the above amounts being debited from my account via the payment method nominated in this order.</li>
					<li>I have read and understood the relevent Critical Information Summaries provided with order or available from <a class="lkj" href="#">https://business.mynetfone.com.au/legal/cis.</a></li>
					<li>I accept the MyNetFone privacy policy available here: <a class="lkj" href="#">https://business.mynetfone.com.au/legal/privacy.</a></li>
					<li>I understand that the NBN services do not support battery backup and Priority Assistance and are not intended for end users who have medical and/or security alarms.</li>
					<li>This Offer is valid for 30 days from the date of issuance.</li>
					<li>All accounts that have been referred by a MyNetFone channel partner will have a channel partner setup as a technical contact (unless indicated otherwise)</li>
				</ul>
			</div>
			<table class="full-width fixed-width config-table text-grey">
	            <tr>
	                <td id ="authorisedSign" class="greenText signature signatureImg signItem" ng-click="sign('authorisedSign')" style="width: 285px;">
	                    <!-- <b ng-if="isSigned('authorisedSign')" class="greenText">{{ getSignedTime('authorisedSign') }}</b> -->
	                    <b ng-if="!isSigned('authorisedSign')" style="margin-top: "> Sign Here</b>
	                </td>
	                <td style="border: 1px chartreuse dashed ;width: 285px; padding-top: 18px;padding-left: 77px; font-size: 16px">{{getCurrentDate()}}</td>
	            </tr>
	            <tr>
	                <td style="padding-left: 86px">Authorised Signature</td>
	                <td style="padding-left: 117px">Date</td>
	            </tr>
	        </table>
		</div>
	</div>	
</page>