<!-- <link rel="stylesheet" type="text/css" href="assets/css/form.css">
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.no-icons.min.css"> -->
<link rel="stylesheet" href="/assets/js/datatables.bootstrap.css">
<link href="/assets/js/bower_components/ng-table-to-csv/dist/ng-table-to-csv.js">
<link rel="stylesheet" type="text/css" href="/assets/js/buttons.datatables.min.css"/>
<script src="/assets/js/csv-download.min.js"></script>
<script src="/assets/js/csv-download.js"></script>
<style>
ul,li{
    list-style-type: none;
}.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
</style>

<div class="loading" ng-show="loading">
    <img src="/assets/images/Preloader_3.gif"> 
</div>
<h1>All Referrals</h1>	

<form name="addressForm">

    <table class="table table-striped table-bordered" name="referal" id="referal" datatable="ng" dt-options="vmr.dtOptions" dt-instance="vmr.dtInstance" width="100%" dt-column-defs="vmr.dtColumnDefs">
	    <thead>
	      <tr>
      	<th>#</th>
      	<th>Company Name</th>
            <th>Contact Person</th>
            <th>Phone Number</th>
            <th>Referrer </th>
            <th>User ID</th>
            <!-- <th>Status</th> -->
            <th>Date</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="referal in referals track by $index">
		<td>{{referal.id}}</td>
		<td>
                  <li ng-repeat="rBusinessName in referal.rBusinessName track by $index" ng-show="rBusinessName!=''">{{rBusinessName}}</li>
		</td>
            <td>
                  <li ng-repeat="rContactPerson in referal.rContactPerson track by $index" ng-show="rContactPerson!=''">{{rContactPerson}}</li>
            </td>
            <td>
                  <li ng-repeat="rPhoneNumber in referal.rPhoneNumber track by $index" ng-show="rPhoneNumber!=''">{{rPhoneNumber}}</li>
            </td>
            <td>
                  {{referal.name}}
            </td>
            <td>
            	{{referal.user_id}}
            </td>
            <td>
            	{{referal.created_at}}
            </td>
            <!-- <td><span ng-repeat="rPhoneNumber in referal.rPhoneNumber"></span></td> -->
	      </tr>
	    </tbody>
	  </table>
</form>
<div class="container">

</div>
<br>
<br>
<p align="right">
    <!-- <a ng-show="$scope.csvFile!=''" class="inline btn btn-success" href="{{$scope.csvFile}}" download> -->
    <a id="referalCSV" class="inline btn btn-success" ng-if="csvButton" href="/assets/files/referals.csv" download="referals.csv">Download</a>
    <button class="inline btn btn-success" ng-if="!csvButton" ng-click="to_csv()">CSV</button>
    <button class="inline btn btn-success close-this-dialog" ng-click="closeThisDialog()">Close</button>
</p>