.white-transparent {
  background-color: #ffffffa8;
}
.page-heading {
  border-top: none;
  padding-top: 40px;
  min-height: 700px;
}
.text-primary {
  color: #4e73df!important;
}
.border-left-primary {
  border-left: .35rem solid #e31e25!important;
}
.border-left-blue {
  border-left: .35rem solid #4e73df!important;
}
.pb-2, .py-2 {
  padding-bottom: .5rem!important;
}
.mb-4, .my-4 {
  margin-bottom: 1.5rem!important;
}
.pt-2, .py-2 {
  padding-top: .5rem!important;
}
.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}
.align-items-center {
  align-items: center!important;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.text-primary {
  color: #4e73df!important;
}
.font-weight-bold {
  font-weight: 700!important;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: .35rem;
}
.shadow {
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}
.h-100 {
  height: 100%!important;
}
.border-left-success {
  border-left: .25rem solid #1cc88a!important;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.bg-warning {
  background-color: #f6c23e!important;
}
.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #4e73df;
  transition: width .6s ease;
}
.bg-info {
  background-color: #36b9cc!important;
}
.bg-success {
  background-color: #1cc88a!important;
}
.float-right {
  float: right;
}
.align-right {
  text-align: right;
}
.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
}