.configapp-proposal {
    background: url("../../assets/images/proposal.jpg") no-repeat;
    background-size: auto;
}
.configapp-slide1 {
    background: url("../../assets/images/Slide1.jpg") no-repeat;
    background-size: auto;
}
.configapp-slide2 {
    background: url("../../assets/images/Slide2.jpg") no-repeat;
    background-size: auto;
}
.configapp-slide3 {
    background: url("../../assets/images/Slide3.jpg") no-repeat;
    background-size: auto;
}
.configapp-slide4 {
    background: url("../../assets/images/Slide4.jpg") no-repeat;
    background-size: auto;
}
.configapp-printer {
    background: url("../../assets/images/printers.jpg") no-repeat;
    background-size: auto;
}
.configapp-slide5 {
    background: url("../../assets/images/Slide5.jpg") no-repeat;
    background-size: auto;
}
.configapp-slide8 {
    background: url("../../assets/images/Slide8.jpg") no-repeat;
    background-size: auto;
}
.configapp-slide9 {
    background: url("../../assets/images/Slide9.jpg") no-repeat;
    background-size: auto;
}
.configapp-slide10 {
    background: url("../../assets/images/Slide10.jpg") no-repeat;
    background-size: auto;
}
.configapp-slide11 {
    background: url("../../assets/images/Slide11.jpg") no-repeat;
    background-size: auto;
}
.configapp-slide18 {
    background: url("../../assets/images/Slide18.jpg") no-repeat;
    background-size: auto;
}
.configapp-slide20 {
    background: url("../../assets/images/Slide20.jpg") no-repeat;
    background-size: auto;
}
.configapp-end {
    background: url("../../assets/images/endpage.png") no-repeat;
    background-size: auto;
}
.configapp-billing {
    background: url("../../assets/images/billing.jpg") no-repeat;
    background-size: auto;
}
.feedback {
    background: url("../../assets/images/feedback.jpg") no-repeat;
    background-size: auto;
}
.cover{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.coverPorposal{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.tableone{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.new {
 background-color: #ffcccc;
}
.acenter{
    text-align: center;
}
.green{
  background-color: #ccffcc;
  
}
#loading {
    display: none;
    position:fixed;
    height:100%;
    width:100%;
    overflow:hidden;
    top:42%;
    left:40%;
    background: white;
  
}
.resizedTextbox {
    width: 40px; 
    height: 20px
}
.font-class {
    font-family: san-serif;
}

    
    .mid-logo {
        margin-left : 255px;
        margin-right : 255px;
    }

    .cardTitle {
        text-align:right;
        font-size: 18px;
        font-weight : bold;
        padding-left:77px;
        color : black;        
        font-family:sans-serif;
        vertical-align: middle;
    }

    .planTitle {
        background: red;
        color: white;        
        padding :10px;
        font-size: 14px;
        text-align: center;
        font-weight : bold;
        text-align : center;
    }

    .planCategory{
        background: black;
        color: white;        
        padding :10px;
        font-size: 14px;
        text-align: center;
        font-weight : bold;
        text-align : center;
    }

    .plan-row {
        background: #D9D9D9;
    }

    .TAC {
        text-align:justify;
        font-size:9px;
        line-height : 1.3;
    }

    .planItem {
        color: black;        
        padding :5px;
        font-size: 10px;
        text-align: center;
        vertical-align: middle;
    }

    .planPrice {
        background : white;
        padding : 5px;
        font-size: 10px;
        text-align: center;
        vertical-align: middle;
    }

    .discountField {
        width : 25%;
        background: black;
        color: white;        
        padding :10px;
        font-size: 14px;
        text-align: left;
        vertical-align: middle;
    }

    .discountItem{
        width : 15%;
        background: white;
        color: black;        
        padding :10px;
        font-size: 14px;
        text-align: right;
        vertical-align: middle;
    }

    .discountVoiceField {
        width : 20%;
        background: black;
        color: white;        
        padding :5px;
        font-size: 12px;
        text-align: left;
        vertical-align: middle;
    }

    .discountVoiceItem{
        width : 13%;
        background: white;
        color: black;        
        padding :5px;
        font-size: 12px;
        text-align: right;
        vertical-align: middle;
    }

    .termItem{
        width : 14%;
        background: white;
        color: black;        
        padding :5px;
        font-size: 12px;
        text-align: right;
        vertical-align: middle;
    }

    
    .title {
        background: #FF0000;
        color: white;        
        padding :15px;
        font-size: 14px;
        text-align: center;
        font-weight : bold;
        
    }
      .title-spec {        
        color: #878787;        
        padding :15px;
        font-size: 14px;
        text-align: center;
        font-weight : bold;
        
    }
    .spec-terms {
        color : #878787;
    }
    
    .spec-grey {        
        background: #12cab1; 
        color : #ffffff;
        padding :14px;
        font-size: 12px;
        text-align: left;
        font-weight : bold;
        
    }

    .spec-red {        
        background: #878787; 
        color : #ffffff;
        padding :14px;
        font-size: 12px;
        text-align: left;
        font-weight : bold;        
    }

    .spec-blue {        
        background: #878787; 
        color : #ffffff;
        padding :14px;
        font-size: 12px;
        text-align: left;
        font-weight : bold;
        
    }

    .spec-center {
        text-align:center;
    }
    .spec-cover-large {
        color: #878787;
        font-family:sans-serif;
        font-size: 25px !important;
        text-align : center;
        font-weight : bold;
    }
    .no-border tr td{
        border : none !important;
    }
    
     .no-border {
        border : none !important;
    }
    .form-title {
        text-align:right;
        font-size: 18px;
        font-weight : bold;
        padding-left:77px;
        color : #676A6C;        
        font-family:sans-serif;
    }
    .form-title-sub {
         font-size: 14px;
          color : #676A6C;        
        font-family:sans-serif;
         padding-left:77px;
         text-align:right;
    }
    .heading {
        border-spacing : 50px;
    }
    .redText {
        color : red;
        font-weight: bold;
        text-align:left;
    }
    .smallText {
        font-weight:lighter;
        font-size : 10px;
    }
    .price {
        text-align: center;
        font-size : 12px;
        color : #3C3C3C;
        padding: 10px;
    }
    .destination {
        background : #BEBEBE;
        color : black;
        text-align: right;
        font-size : 12px;
        font-weight: bold;
        padding-right :2px;
    }
    .quantity {
        background : #BEBEBE;
        text-align : center;
    }
    .blank-row {
        height : 60px;
       
    }
    .info-highlight {
        background : #A6A6A6;
        color : #404040;
        font-weight : bold;
        font-size : 12px;
        text-align : center;
        padding : 5px 10px 5px 10px ;
        
    }
    .qty-text {      
        border-radius: 4px;
        font-weight: bold;
        height : 20px;      
        color : black;        
    }
    .term {
        border-right : 2px solid #D9D9D9;
        font-size: 12px;
        color :black;
        padding :0px;
        background: #BEBEBE;
    }
    .months {
        font-size : 14px;
        text-align:right;
    }
    .info-text {
        margin-top :14px;
        color: #676A6C;
        font-size:12px;
    }
    
    .itemTitle {
        font-weight: bold; 
        color:#6E6A6C;
       // float:left;
        font-size:12px;
      //  width : 20%;
    }
    .spec-itemTitle {
        font-weight: bold; 
        color:#6E6A6C;
        float:left;
        font-size:12px;
    }
    .tall td{
       font-size:14px; 
       height : 50px;
       border-bottom :solid 1px #F2F2F2;
    }
    .tall-noborder{
       font-size:14px; 
       height : 140px;      
    }
    .border-right {
        border-right:solid 1px #F2F2F2;
    }
    
    .top-40 {
        margin-top:40px;
    }
    .spec-place-holder {
         font-weight: bold;
        font-size:12px;
        color : black;
        float:left;
    }
    
    .spec-right {
        text-align : right;
    }
    .place-holder {
         font-weight: bold;
        font-size:12px;
        color : black;
        float:left;
    }
    .formData {
       padding : 40px 0px 0px 5px;;
    }
    .dataRow {
        padding-top: 40px;
    }
    .space60 {
        margin-top: 60px;
    }
    .space90 {
        margin-top : 90px;
    }
    .space750 {
        margin-top: 750px;
    }
    
    .space30 {
        margin-top: 30px;
    }
    .data-charges {
        background : #404040;
        border : 1px solid #404040;
        color : white;
        font-weight: bold;
        padding : 20px;
        font-size : 25px;
    }
    td small {
        font-weight: normal;
        font-size : 8px;
    }
    .no-border {
        border-right : none;
        border-left : none;
    }
    .no-border-left {
        border-left : none;
        
    }
    .header {
        font-weight:bold;
        font-size : 24px;
        margin-right : 15px;
      
    }
    .header-tagline {
        font-size: 15px;
        margin-right : 15px;
       
    }
    .gray-bg {
        background: white;
    }
    
 .header {
     float :right;
     margin-left :400px;
 }
 .header-tagline {
     //float :right;
 }

 .rate-table {
     font-size: 12px;
     font-family:sans-serif;
     border : #E7E7E7 1px solid;  
     border-bottom: 8px solid #7A797A;
     line-height: 130%;
     width : 100%;
     
 }
 
 
 .spec-table {
    font-size: 12px;
    font-family:sans-serif;
    border : #E7E7E7 1px solid;     
    line-height: 130%;
    width : 100%;
 }
 .rate-table-main tr td {
     padding-left : 20px;
     padding-right :20px;
 }

 .rate-table td {
     padding :7px;
    
 }
 
 #placeholder-table td {
     width :285px;
 }
.company-info {
        font-size : 9px;
        padding-bottom: 0px;
        
}
.btm-image {
    float : right;
    margin:0;
    padding:0;
}
.plan-table {
    
    border-collapse: collapse;
    border-spacing: 0;
    color:#404040;
}


.plans td {
    background : #A6A6A6;
    color : #ffffff;
    font-weight : bold;
    font-size : 12px;
    text-align:center;
    border-left : #D9D9D9 1px solid;
    padding-top : 4px;
    padding-bottom : 4px;
  
}
.rate td {
    background : #D9D9D9;
    font-size : 11px;
    font-weight: 900;
    text-align : center;
    padding-top:4px;
    padding-bottom: 4px;
    
}
.box td{
    text-align : center; 
    border : #D9D9D9 1px solid;
    border-collapse:collapse;
    font-size: 20px;
}

.small-row td{
    padding-top:2px;
    padding-bottom:2px;
    text-align:center;
    border : #D9D9D9 1px solid;
    width:16.666666%;
    
}
.download-row td {
    padding : 10px;
    text-align : left;
    font-weight: bold;
    color : #6B6B6B;
    font-size: 14px;
}
.data-row td {
    padding : 10px;
    text-align : left;
    font-weight: bold;
    color : #6B6B6B;
    font-size: 16px;
    line-height: 25px;
}
.data, .install td {
   background: #A6A6A6;
   font-weight:bold;
   
}
.install td {
    font-size: 8.5px;
    text-align: left;
}
.info-text-small {
    font-size:12px;
    color: #898686;
    
}

.summary {
    border :  #D9D9D9 1px solid;
}
.blank-row td{
    padding-top:4px;
    padding-bottom: 4px;
}
.image-col img {
  padding-right: 0;
    
}
.red {
    color: red ;
    
}
.red td {
    color :red;
    
}
.black td {
    background-color: black;
}
.pull-center {
    text-align : center;
   
}
.pull-right {
    text-align : right;
}
.note td {
    font-size:12px;
    color :#808080;
    background: #F1F1F1;
    text-align: center;
    padding-top:4px;
    padding-bottom: 4px;
}
.dark td{
    background: #585858 !important;
}

.unlimited td {
    background : #A6A6A6;
}
.summary-midband {
    width : 18.666%;
    
}
padding20 {
    padding : 20px;
    
}
.draytek td {
    background: #BDBDBD;     
    padding-right : 5px;
    width : 50%;
    color : #42444A;
}
.summary-midband td{
    font-size : 12px;
}
.term-details{
    padding-left : 0px;
    padding-right : 0px;
}

.term-details-min {
    font-size: 9px;
}
.rate .colorless {
    background: none;
}
.italics td {
    font-style: italic;
    
}
.font-grey td {
    color : #585858;
    font-size : 12px;    
}
.text-grey {
    color :#585858;
}
.span-space span {
    padding-right : 10px;
    padding-left :10px;
}
.text-center {
    text-align : center;
}
.sub-rate{
    font-weight: normal ;
    font-size:10px;
}
.small {
    font-size : 6px;
}
.title-left {
    text-align : left;
    }

.sub-title {
    font-weight: bold;
    font-size :11.5px;
    color :red;
    font-family: sans-serif;
    margin-top:0px;
}

.sub-title-equiments {
    font-weight: bold;
    font-size : 11.5px;
    color : #23a3cd;
    font-family: sans-serif;
    margin-top:0px;
}

.grey {
    background : #D9D9D9;    
}
.destination-business {
    color : #585858;
    text-align:left;
}
.included {
    color : #585858;
    text-align:center;
    font-weight: bold;
}
.desti-row td{
    padding-top:4px;
    padding-bottom: 4px;
    font-size : 10px;
}
.adsl-title td{
    font-size : 8px;
    font-weight: normal;
    
}
.info-text-xs-small {
    font-size:8px;    
}
.info-text-s-small {
    font-size : 9px;
}
.less-padding {
    padding-top:2px;
    padding-bottom: 2px;
}
.cap-plan-table, .unlimited-plan-table {
    font-size: 12px;
    font-family:sans-serif;
    border : #E7E7E7 1px solid;     
    line-height: 130%;
    width : 100%;
}
.cap-plan-table tr td {
    padding-top:4px;
    padding-bottom:3px;
}
.unlimited-plan-table tr td {
    padding: 10px;
}
.info-text-xxs-small {
    font-size:7px;    
}
.cap-plan-table-small tr td {
    padding-bottom : 1px;
    padding-top: 1px;
}
.big-title {
    font-size : 86px;
    font-family : sans-serif;
    font-weight: lighter;
    color : #949595;
    margin-left : 20px;
}

.chattel_box {
    background-color: #23a3cd;
    color:#ffffff;
}

.chattle-title {
    font-size : 43px;
    font-family : sans-serif;
    font-weight: lighter;
    color : #001F5F;
    margin-left : 50px;
    line-height: 40px;
}
.blue-text {
    color :#001F5F;
    font-family : sans-serif;
}

.blue-background {
    background-color: #001F5F;
    color:white;
    font-family : sans-serif;
    font-weight: bold;
    
}
.first-page {
   padding: 0px;
   margin : 0px;
}

.details-small {
   font-size:10px;
   font-family: sans-serif;
}

.details-spec {
   font-size:11px;
   font-family: sans-serif;

}

.details-small td {
   font-size:9px;
   font-family: sans-serif;
}
.scheduleTable {
    width : 100%;
}
.scheduleTable tr td {
    border-bottom: 1px solid #000000;
    height:30px;    
    text-align :left;
}
.info-box {
    background:#BFBFBF;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    
    
}
.dirTable tr td,th{
    height : 50px;
    text-align : left;
    font-family: sans-serif;
    font-size: 11px;
}
.termsTable tr td {
    width : 50%;
    padding : 10px;
}
.leasing h3 {
    color: #0994DD;
}
.leasing-blue {
    color : #0994DD;
}

.details-small .dashed b{
    border-bottom : 1px dashed black;
    padding-bottom :1px;
}

.blue {
    background : #0260AA
}
.space-line {
    line-height: 2;
}

.item-text {
    border : #777777 1px solid;
    padding-left : 2px;
    height:20px;
    font-weight:bold;
}


.box {
    float:left;
}
.after-box {
    clear:left;
}

.signBox {
    color : #12cab1;
}

.cus-name {
    width : 60%;
}
#abn-label {
    width : 4%;   
}
#abn {
    width :19%
}
.fixed-width {
    table-layout: fixed;
}
.full-width {
    width : 100%;
}
.full-width tr td {
   line-height: 1.5;
}
#signatureImg img {
    height :10%;
}
.signature {
    height : 40px;
}
.bigger {
    font-size: 11px;
}
.center {
    text-align:center;    
}
.black-border {
     border: 1px solid #635959;
}
.border-collapse {
    border-collapse:collapse;
 
    margin-top:5px;
}
.no-border {
    border :none;    
    
}
.bold-text {
    font-weight: bold;
}
table tr td {
    vertical-align: top;
    padding-left : 2px;
    
}
.table-small tr td {
    font-size:9.5px;
}
.chattle-terms td {
    font-size:12px;
   font-family: sans-serif;
   color: #000000;
}

.height-20 tr td{
    height : 20px;
}
.configapp-details {
    position: absolute;
    left : 200px;
    top: 500px;
}
.config-table {
    border-radius: 10px;
}
/*.tablewide{
    height: 10px;
    color: black;
}*/
.config-table tr td {
   font-family: sans-serif;
   margin:0;
   padding:5px;
   background: transparent;
   word-break: break-word;
}

.config-table .info-name {
    width: 17%;
}

.config-table .info-value {
    width: 40%;
}

.config-large-text {
    font-size: 18px !important;
    font-weight: bold;
    color: #3f3f3f;
    font-family: sans-serif;
}

.config-med-text {
    font-size: 14px !important;
    font-weight: bold;
    color: #3f3f3f;
    font-family: sans-serif;
}

.config-med-small-text {
    font-size: 12px !important;
    font-weight: bold;
    color: #3f3f3f;
    font-family: sans-serif;
}

.config-title {
    color : black;
    font-size: 14px !important;
    font-weight: bold;
}
.configapp-front {
    background : url(../../assets/images/forms/billing_app_cover.png) no-repeat;
    background-size: cover;
}



.table-bordered {
    border-collapse: collapse;
    border-radius: 20px;    
}

.table-bordered th, .table-bordered td{
    border: 1px solid #efefef;
}

.table-border-outside {
     border: 1px solid #efefef;
     border-radius: 50px;
     font-size: 12px;
}
.border-cell {
    border: 1px solid #efefef;
    font-weight:bold;
}
.info-margin {
   margin-top:20px;
       margin-bottom : 20px
}

.float-left{
    float: left;
}
.float-right {
    float : right;
}

.config-medium-small-normal {
    font-weight: normal;
    font-size:11px;
    font-family: sans-serif;
}

.config-details td p {
    color : grey;
    font-size :10px;
}
.fixed-height {
    height : 600px;
    vertical-align: middle;
    line-height: 2
}

font-black {
   color: black !important;
}

.bottom-align {
    vertical-align:bottom;
}

.logo-td {
    width:25%;
    vertical-align: middle;
    text-align: center;
}

.logo-item{
    width:80%;
}

.printer-title{
    color:white;
    font-weight: bold;
    margin: 10px;
    font-size: 35px;
}

.orderSpecTAC{
    text-align:justify;
    font-size:9px;
    line-height : 2.5;
}

.printerItem{
    border: 1px solid black;
    text-align: center;
    padding:10px;
}

.map-style{
    height:600px;
}

.paymentAmount {
    display:none;
}
/*qss*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.info {
    list-style: none;
    margin-left: 0px;
    right: 0px;
    /*font-family: "Open Sans", sans-serif;*/
    font-size: 11px;
    /*font-weight: 550;*/
    color: #ded4d4;
    /*float: right;*/
    display: inline;
    text-rendering: optimizeLegibility;
    line-height: 1.3;
}

.ulhead{
    font-weight: 550;
}

#myoffer{
    margin-top: -15px;
    height: 75px;
    text-align: center;
}

.theTable{
    width: 100%;
}

.tablee td , tr{
    padding-left: 7px;
}

td{
    font-size: 17px;
    padding-top: 4px;
    padding-bottom: 4px;
}

#asdf{
    font-size: 23px;
    color: black;
}

#body{
    border: none !important;
}
.tdnarrow{
    text-align: left;
}