@media print{
    .innerContent{
        margin-left: 120px;
        margin-right: 97px;
        margin-top: 15px;
        font-family: "Open Sans" , sans-serif;
    }
}

@page {
  display: block;
  margin: 0 auto;
  background-color: #eef1f8;
  margin-bottom: 0;
}

/*@page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}

page {
  display: block;
  margin: 0 auto;
  margin-bottom: 0;*/
}
page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}


#asdf{
	font-size: 23px;
	color: black;
}

#terms-and-conditions {
    overflow: hidden;
    padding-top: 4px;
    padding-left:8px;
    padding-right: 8px;
    padding-bottom: 8px;
    border-radius: 7px 7px 0 0;
    background-color: #ffffff;
    /*text-decoration-color: white;*/
}

#terms-and-conditions a{
    color:#16519f
}

/*.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}*/

#wao{
	float: left;
	margin-left: 12px;
}

#ngaleng{
	float: right;
	margin-right: -150px;

	/*margin-right: 100px;*/
}

#authorisedSign {
    display: block;
    width: 334px;
    height: 300px;
    text-align: center;
    line-height: 0.58;
}

#form {
    position: relative;
    height: 127px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 50px;
    border: solid 1px #16519f;
    border-radius: 0px 0px 7px 7px;
    background-color: white;

}

#accept-button {
    float: right;
    width: 25%;
    margin-right: 97px;
    margin-bottom: 10px;
    padding: 16px 31px;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #00c460;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline-style: none;
    background-color: #00c460;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}

#asdfasdf{
	margin-top: -20px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#decline-button {
    float: left;
    width: 10%;
    margin-top: 30px;
    margin-left: 28px;
    padding: 8px 15px;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #c40001;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline-style: none;
    background-colo
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
}

#buttons {
    position: absolute;
    bottom: 0px;
    width: 100%;
    /*margin: auto;*/
    padding-bottom: 5px;
}

label{
	/*margin-left: 10px;
	font-weight: 400;*/
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    /*padding-bottom: 15px;*/
    vertical-align: middle;
}

#sign {
    display: block;
    float: right;
    width: 35%;
    margin-top: 10px;
    margin-right: 50px;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;

}

#authorised-rep {
    /*width: 100%;*/
    width: 400px;
    float: right;
    margin-right: 40px;
    height: 45px;
    margin-top: 10px;
    padding-left: 15px;
    border: 2px solid #16519f;
    border-radius: 5px 5px 5px 5px;
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
}

/*h5{
	vertical-align: middle;
}*/
h5{
    vertical-align: middle;
}

.checkbox{
	vertical-align: middle;
	float: left;
	margin-right: 20px;
	width: 30px;
	/*color: white;*/
	height: 30px;
	border: 1px solid #c40001;
	box-sizing: border-box;
	-webkit-box-shadow: 0px 0px 0px 1px rgba(255,0,0,1);
	-moz-box-shadow: 0px 0px 0px 1px rgba(255,0,0,1);
	box-shadow: 0px 0px 0px 1px rgba(255,0,0,1);
	-webkit-appearance: none;
  	-moz-appearance: none;
  	-o-appearance: none;
  	appearance:none;
  	padding-right: 10px;
  	position: relative;
}

.checkbox2{
	border: 1px solid #c40001;
	box-sizing: border-box;
	-webkit-box-shadow: 0px 0px 0px 1px rgba(255,0,0,1);
	-moz-box-shadow: 0px 0px 0px 1px rgba(255,0,0,1);
	box-shadow: 0px 0px 0px 1px rgba(255,0,0,1);
	-webkit-appearance: none;
  	-moz-appearance: none;
  	-o-appearance: none;
  	appearance:none;
  	vertical-align: middle;
}

/*.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: #eee;
}*/

#bulletedul{
	float: left;
	list-style: disc;
	margin-top: -13px;
	font-size: 14px;
}

#bulletedul ul {
    list-style: disc !important;
}

a{
	text-decoration:none;
	color: #03a7f7;
}

#payment-method {
	display: block;
    float: inherit;
    /*width: 100%;*/
    height: 75px;
    /*margin-right:97px; */
    margin-top: 35px;
    margin-bottom: -15px;
    border-radius: 5px;
    background-color: White;
    padding-left:25px;
    padding-bottom: 10px;
    /*padding-right: 2px;*/
    padding-top: 5px;
    line-height: 4.3px;


}

#payment-method h3{
	margin: 0;
    color: #16519f;
    font-family: "Open Sans", sans-serif;
    font-size: 23px;
    font-weight: bold;
    padding-bottom: 8px;
}

#extraExtraSpace{
	height: 100px
}

body{
	background-color: #eef1f8;
}
#saved li{
	list-style: none;
	font-size: 12px;
}

#left-pill{
	float: left;
}

#center-pill{
	float: left;
	margin-left: 30px;
	/*font-size: 18px;*/
}

#center-pill li{
	font-size: 12px;
}

#right-pill li{
	font-size: 12px;
}

#right-pill{
	float: right;
	/*font-size: 15px;*/
	margin-left: 10px;
}



#saved td.pill-green-half {
    height: 103px;
    padding: 2px 10px 0px 8px;
    text-align: left;
    color: white;
    border-radius: 10px 0px 0px 10px;
    background-color: #7cd289;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 100;
}

#saved td.pill-white-half {
    height: 50px;
    padding: 0px 5px 0px 10px;
    text-align: center;
    color: black;
    border-radius: 0px 10px 10px 0px;
    background-color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

td.pill-blue-half {
  height: 100px;
  padding: 0px 14px 0px 15px;
  text-align: left;
  color: white;
  border-radius: 10px 0px 0px 10px;
  background-color: #16519f;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 100;
}

td.pill-white-half {
  height: 100px;
  padding: 0px 10px 0px 10px;
  text-align: center;
  color: black;
  border-radius: 0px 10px 10px 0px;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.header-top {
    background-color: #273a4a;
    border-radius: 0px 10px 0px 10px; 
    /*margin-top: -10px;*/
    width: 100%;
    height: 98.9px; 
    text-align:left;
    vertical-align: middle;
}

.header {
    background-color: #e31e25;
    border-radius: 0px 10px 0px 10px; 
    /*margin-top: -10px;*/
    width: 100%;
    height: 98.9px; 
}

#sa{
	margin-top: -3px;
}

#total{
	float: left;
}

#totala{
	float: right;
	padding-right: 7px;
}

.uwu th{
	background-color: white;
}

.content {
	margin-left: 15px;
	margin-right: 15px; 
}

#taa{
	margin-top: -3px
}

/*should be faded red-orange*/

#fadedBlue th{
	background-color: #e31e2585;
}

#greenRow{
	color: #24bc30;
}

#fadedBlue1 th{
	background-color: #e31e2585;
}

#fadedBlue2 th{
	background-color: #e31e2585;
}

.greenRow{
	color: #24bc30;
}

#logo {
    /* padding-left: 59px; */
    padding: 5px;
    margin-left: 59px;
    margin-top: 18px;
    /*border: 1px solid #655454;*/
    border: 1px solid #e31e25;
    /* border-radius: 10px 10px 10px 10px; */
    display: inline;
    height: 70px;
}

#headerimage {
	float: left;
}

#info {
    float: right;
    margin-right: 12px;
    margin-left: 92px;
    margin-top: 9px;
}

#myoffer{
	margin-top: -15px;
	height: 75px;
	text-align: center;
}

#serviceAddress{
	border-collapse: collapse;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

table {
    border-radius: 10px;
}

.table{
	border-collapse: collapse;
    width: 100%;
    /*border-radius:10px 10px 0px 0px;*/
    border-top: none;
    border-left: none;
    border-right: none;
}

.table td{
	padding-top: 9px;
	padding-left: 9px;
	padding-bottom: 9px;
	font-size: 12px;
    background-color: white;
}

.table th{
	background-color: #e31e25;
	font-weight: 400 ;
	font-size: 15px;
	text-align: left;
	padding-top: 9px;
	padding-left: 9px;
	padding-bottom: 9px;
	color: white;
	border: 1px solid white;
}

#serviceAddress td{
	padding-top: 9px;
	padding-left: 13px;
	padding-bottom: 9px;
	font-size: 12px;
}

#serviceAddress th{
	background-color: #16519f;
	font-weight: 400 ;
	font-size: 15px;
	text-align: left;
	padding-top: 9px;
	padding-left: 9px;
	padding-bottom: 9px;
	color: white;
}

#myoffertext{
	/*margin-top: 20px;*/
	padding-top: 25px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
}

#AN{
	font-size: 23px;
    font-weight: 300;
    color: #e31e25;
    float: left;
}

#myServices{
	/*margin-top: 100px*/
	/*display: block;*/
}

#ON{
	float: right;
	display: block;
}

.ONbold{
	font-weight: bold;
	font-size: 14px;
}

.ONsmallbold{
	font-size: 13px
}

#info ul {
	list-style: none;
	margin-left: 0px;
	right: 0px;
	font-family: "Open Sans", sans-serif;
    font-size: 11px;
    /*font-weight: 550;*/
    color: #ded4d4;
    float: right;
    display: inline;
    text-rendering: optimizeLegibility;
    line-height: 1.3;
}

ul {
	list-style: none;
	margin-left: 0px;
	right: 0px;
	font-family: "Open Sans", sans-serif;
    font-size: 11px;
    /*font-weight: 550;*/
    color: white;
    float: right;
    display: inline;
    text-rendering: optimizeLegibility;
    line-height: 1.3;
}

#asdf {
	margin: 0;
	color: white;
	font-family: "Open Sans", sans-serif;
	font-size: 25px;
	font-weight: 300;
	padding: 15px;
}

h3{
	margin: 0;
    color: #e31e25;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-weight: 300;
}

.extraspace{
	height: 17px;
}

.miniextraspace{
	height: 10px;
}

.ulhead{
	font-weight: 550;
}

.innerContent{
	margin-left: 97px;
	margin-right: 97px;
	margin-top: 15px;
	font-family: "Open Sans" , sans-serif;
}


#theTable {
    width: 864px;
    border: none;
}
